<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popovercomponent</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content >
  <!-- <div>
  <ion-item>
    <ion-label position="floating">New Events</ion-label>
    <ion-textarea rows="6" cols="20" [(ngModel)]="newEvent" ></ion-textarea>
  </ion-item>

  
</div>
<div>
  <ion-icon name="paper"></ion-icon>  

  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">New Events</ion-label>
          <img *ngIf="eventImaUrl != ''" src="{{eventImgUrl}}">
          <ion-textarea rows="6" cols="20" [(ngModel)]="newEvent" ></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <!-- <div class="ion-padding" > -->
          <ion-button fill="clear" mode="ios" color="dark" (click)="addPic()">
          <ion-icon name="images"></ion-icon>  
          </ion-button>
        <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- <ion-button expand="block" color="primary" (click)="createNewEvent()">Post Event</ion-button> -->



<div class="ion-padding" >
  <ion-button
    expand="block"
    mode="ios"
    color="primary"
    (click)="createNewEvent()"
  >
    <ion-label>Publish post</ion-label>
  </ion-button>
</div>
 </ion-content> 
