<div class="container" [class.darkContainer]="theme.darkMode">
  <img src="/assets/images/tip_wallet.svg"/>
  <h2>{{ title }}</h2>
  <h3>{{ 'DonationPage.receiver' | translate }}</h3>
  <h4>{{ elaAddress }}</h4>
  <h3>{{ 'DonationPage.amount' | translate }}</h3>
  <ion-input type="number" clearInput autofocus [placeholder]="'DonationPage.enterAmount' | translate" [(ngModel)]="amount" class="nameValue"></ion-input>
  <h3>{{ 'DonationPage.memo' | translate }}</h3>
  <ion-input clearInput autofocus [placeholder]="'DonationPage.memo' | translate" [(ngModel)]="memo" [disabled]='disableMemo'></ion-input>
  <ion-row class="btns-row" [class.dark-btns-row]="theme.darkMode">
    <ion-col class="btn cancel2 ion-activatable ripple" size="5.6" (click)="cancel()">
      <ion-label>{{ 'common.cancel' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="confirm()">
      <ion-label>{{ 'common.confirm' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</div>