<div class="container" [class.darkContainer]="theme.darkMode">
  <img src="/assets/feeds.png"/>
  <h2>{{ title }}</h2>
  <h3>{{ 'DonationPage.receiver' | translate }}</h3>
  <h4>{{ elaAddress }}</h4>
  <h3>{{ 'DonationPage.amount' | translate }}</h3>
  <ion-input type="number" clearInput autofocus [placeholder]="'DonationPage.enterAmount' | translate" [(ngModel)]="amount" class="nameValue"></ion-input>
  <h3>{{ 'DonationPage.memo' | translate }}</h3>
  <ion-input clearInput autofocus [placeholder]="'DonationPage.memo' | translate" [(ngModel)]="memo" [disabled]='disableMemo'></ion-input>
  <ion-row class="btns-row" [class.dark-btns-row]="theme.darkMode">
    <ion-col class="btn cancel2 ion-activatable ripple" size="5.6" (click)="cancel()">
      <ion-label>{{ 'common.cancel' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="confirm()">
      <ion-label>{{ 'common.confirm' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</div>

<!-- <ion-grid [class.darkContainer]="theme.darkMode">
  <ion-row style="margin:20px 0px">
    <ion-col size="12" class="dTitle white">
      {{title}}
  </ion-col>

  <ion-col size="12">
    <ion-item lines="none">
     <ion-label position="stacked" class="nameLabel white">{{ 'DonationPage.receiver' | translate }}</ion-label>
     <ion-input class="nameValue" disabled="true">{{elaAddress}}</ion-input>
    </ion-item>
   </ion-col>

   <ion-col size="12">
     <ion-item lines="none">
       <ion-label position="stacked" class="nameLabel white">{{'DonationPage.amount' | translate }}</ion-label>
       <ion-input type="number" clearInput autofocus [placeholder]="'DonationPage.amount' | translate" [(ngModel)]="amount" class="nameValue"></ion-input>
   </ion-item>
   </ion-col>

   <ion-col size="12">
    <ion-item lines="none">
     <ion-label position="stacked" class="nameLabel white" >{{ 'DonationPage.memo' | translate }}</ion-label>
     <ion-input clearInput autofocus [placeholder]="'DonationPage.memo' | translate" [(ngModel)]="memo" class="nameValue" [disabled]='disableMemo'></ion-input>
    </ion-item>
   </ion-col>
  </ion-row>



 <ion-row style="margin:20px 0px">
    <ion-col size="6" style="text-align: center;" (click)="cancel()">
      <span class="cancel">{{ 'common.cancel' | translate }}</span>
    </ion-col>

    <ion-col size="6" style="text-align: center;" (click)="confirm()">
      <span class="confirm">{{ 'common.confirm' | translate }}</span>
    </ion-col>
  </ion-row>
</ion-grid>
 -->