.container {
    background: #ffffff;
    border: 1.2px solid #368bff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 5px;

    img {
        width: 67.2px;
        height: 67.2px;
        object-fit: contain;
    }

    h2, h3, h4, ion-input {
        color: #161740;
        margin: 0;
        padding: 0 15px;
        font-size: 13px;
        width: 100%;
    }

    h4, ion-input {
        padding-top: 5px;
        padding-bottom: 20px;
        --padding-top: 5px;
        --padding-bottom: 20px;
        --padding-start: 15px;
        font-weight: 400;
    }

    h2 {
        padding-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    h3 {
        padding-top: 5px;
        font-weight: 700;
        text-align: left;
    }

    ion-input {
        color: #8888b0;
    }
}

.darkContainer {
    background: #2b2c49;

    h2, h3, h4 {
      color: #ffffff;
    }

    ion-input {
      color: #8888b0;
    }
}

/* .dTitle{
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.nameLabel{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.nameValue{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #8888b0;
}

.cancel{
    display:inline-block;
    width: 120px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#8888b0;
    border-radius:8px;
}

.confirm{
    display:inline-block;
    width: 120px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#368bff;
    border-radius:8px;
}

.darkContainer{
    .white{
        color: #ffffff;
    }
}
 */
