.container {
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 5px;

    img {
        width: 104.2px;
        height: 83.2px;
        object-fit: contain;
    }

    h2, h3, h4, ion-input {
        color: #161740;
        margin: 0;
        padding: 0 15px;
        font-size: 13px;
        width: 100%;
    }

    h4, ion-input {
        padding-top: 5px;
        padding-bottom: 20px;
        --padding-top: 5px;
        --padding-bottom: 20px;
        --padding-start: 15px;
        font-weight: 400;
    }

    h2 {
        padding-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    h3 {
        padding-top: 5px;
        font-weight: 700;
        text-align: left;
    }

    ion-input {
        color: #8888b0;
    }
}

.darkContainer {
    background: #191a2f;

    h2, h3, h4 {
      color: #ffffff;
    }

    ion-input {
      color: #8888b0;
    }
}