<div *ngIf="channels.length === 0 && followers === 0" class="empty-container">
  <img src="./assets/images/no-Channels.svg">
  <h1>{{ 'MyfeedsComponent.allempty' | translate }}</h1>
  <p>{{'MyfeedsComponent.emptyDes' | translate }}</p>
  <ion-row class="btn-row">
    <ion-button (click)="createNewFeed()">
      <ion-label>
        {{ 'MyfeedsComponent.createFeed' | translate }}
      </ion-label>
    </ion-button>
  </ion-row>
</div>

<ion-list *ngIf="channels.length > 0 || followers > 0" class="channel-list" [class.darkChannelList]="theme.darkMode"
  >
  <ion-item
    *ngFor="let channel of channels let num=index"
    lines="none"
  >
    <ion-row class="channel-row ion-activatable ripple ionRowMyfeeds" id={{channel.destDid}}-{{channel.channelId}}>
      <ion-col
        size="2.5"
        class="left-col"
        (click)="navTo(channel.destDid, channel.channelId)"
      >
        <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
          <img src="./assets/icon/reserve.svg" id={{channel.destDid}}-{{channel.channelId}}-myFeedsAvatar>
        </div>
      </ion-col>
      <ion-col
        size="8"
        class="middle-col"
        (click)="navTo(channel.destDid, channel.channelId)"
      >
        <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{ channel.name}}</ion-label>
        <ion-row>
          <br>
          <!-- <p><span>{{ channel.subscribers }}</span> {{ 'common.followers' | translate }}</p> -->
        </ion-row>
      </ion-col>
      <ion-col size="1.5" class="right-col" (click)="menuMore(channel.destDid, channel.channelId, channel.name)">
        <img [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'">
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-item>
  <ion-item  lines="none" (click)="createNewFeed()" class="removeBorder">
    <ion-row class="channel-row ion-activatable ripple">
      <ion-col
        size="2.5"
        class="left-col"
      >
      <div class="radius_50">
        <img src="assets/images/plus.svg"/>
      </div>
      </ion-col>
      <ion-col>
        <div class="new-feed-div" style="padding-left:0px;">
          <div class="new-feed">{{ 'MyfeedsComponent.createNewFeed'|translate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item  lines="none" (click)="clickFollowing()" class="removeBorder" style="margin-top:-15px;">
    <ion-row class="channel-row ion-activatable ripple">
      <ion-col
        size="2.5"
        class="left-col"
      >
      <div class="radius_50">
        <img src="assets/images/people-fill.svg"/>
      </div>
      </ion-col>
      <ion-col>
        <div class="new-feed-div" style="padding-left:0px;">
          <div class="new-feed">{{ 'ProfilePage.following'|translate }} ({{followers}})</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-item>

  <!-- <ion-item  lines="none" (click)="clickChanelCollections()" class="removeBorder" style="margin-top:-15px;">
    <ion-row class="channel-row ion-activatable ripple">
      <ion-col
        size="2.5"
        class="left-col"
      >
      <div class="radius_50">
        <img src="assets/images/people-fill.svg"/>
      </div>
      </ion-col>
      <ion-col>
        <div class="new-feed-div" style="padding-left:0px;">
          <div class="new-feed">{{ 'ChannelcollectionsPage.title'|translate }} </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-item> -->
</ion-list>