.empty-container {
    margin-top: 50px;
}

// .channel-list {
//     max-height: 100%;
// }

.darkContainer{
    .channel-detail-div .channel-detail-text-div .white{
        color: #ffffff;
    }
    .white{
        color: #ffffff;
    }

    .white-line{
        background-color: rgba(45, 46, 77, 0.7);;
    }
}