.container {
    padding: 0px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    ion-list {
        width: 100%;
        background: transparent;

        ion-item {
            --background: transparent;
            --padding-top: 10px;
            --padding-bottom: 10px;
            --padding-start: 0px;
            margin: 0px 10px;
            border-bottom: 1px solid #000000;

            ion-row {
                width: 100%;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                ion-col {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }

            ion-label {
                margin: 0;
                padding: 7.5px 0 0;
                font-size: 16px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                color: #000000;
            }

            ion-input, h2 {
                --placeholder-color:#9ca0a4;
                margin: 0;
                padding: 7.5px 0;
                --padding-start: 20px;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                color: #9ca0a4;
                word-break: break-all;
            }
        }

        .removeBorder {
            border-bottom: none;
        }
    }
}

.darkContainer {
    ion-list {
        ion-item {
            border-bottom: 1px solid #2e2f4e;

            ion-label {
                color: #ffffff;
            }
        }
    }
}