.dTitle{
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.serverNameLabel{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.serverNameValue{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #8888b0;
}

.cancel{
    display:inline-block;
    width: 120px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#8888b0;
    border-radius:8px;
}

.confirm{
    display:inline-block;
    width: 120px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#368bff;
    border-radius:8px;
}

.darkContainer{
    .white{
        color: #ffffff;
    }
}

