ion-item{
    --background:#ffffff;
    --background-activated:#ffffff;
}

ion-avatar{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    --border-radius: 0px;
    top: 43px;
    z-index: 999;
}

.borderbottom{
   border-bottom: 1px solid #000000;
}

.dTitle{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.serverNameLabel{
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align:left;
  color: #000000;
}

.serverNameValue{
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #9ca0a4;
    --padding-start: 26px;
}

.cancel{
    display:inline-block;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #7624fe;
    height: 41px;
    line-height: 41px;
    background-color:#ffffff;
    border: 1px solid #7624fe;
    border-radius:10px;
}

.confirm{
    display:inline-block;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#7624fe;
    border-radius:10px;
}

.darkContainer{
    .dTitle{
        color: #ffffff;
    }
    .borderbottom{
        border-bottom: 1px solid #ffffff;
    }
    ion-item{
        --background:#191a2f;
        --background-activated:#191a2f;
    }
    .white{
        color: #ffffff;
    }

    .cancel{
        background-color: #191a2f;
    }
}

