<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end" padding class="header-btns">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">

  <div class="offline-content" *ngIf="connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>

  <div class="change-profile" *ngIf="changing">
    <ion-label>changing data</ion-label>
  </div>

  <ion-item>
    <ion-avatar>
      <img src={{avatarUrl}} />
    </ion-avatar>
    <ion-label>
      {{name}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>DID:</h2>
      <p>{{did}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <b>Personal claimed information:</b><br>
      <div *ngIf="gender != ''"> <b>Gender </b> {{gender}} <br></div>
      <div *ngIf="email != ''"> <b>Email </b> {{email}} <br></div>
      <div *ngIf="telephone != ''"> <b>Telephone </b> {{telephone}} <br></div>
      <div *ngIf="location != ''"> <b>Location </b> {{location}} <br></div>

      <div *ngIf="gender == '' && email == '' && telephone == '' && location==''"> All users' personal information is confidential <br></div>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
      <b>Channels data:</b><br>
      Owned<b> {{ownedChannelsNum}}  </b>channels<br>
      Owned<b> {{ownedChannelSourceNum}}  </b>channel source<br>
      Subscribed<b> {{subscribedNum}}  </b>channels<br>
      <!-- Connected<b> {{connectedChannelSourceNum}}  </b>channel sources<br> -->
    </ion-label>
  </ion-item>
</ion-content>
