<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>

<ion-content [class.darkContainer]="theme.darkMode" [ngClass]="{'translucent-mask': isShowPrompt}">
    
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.pullToRefresh'|translate}}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="crescent"
      refreshingText="{{'common.Refreshing'|translate}}"
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- CHANNEL HEADER -->
  <ion-grid class="channel-header">
    <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
      <img src={{channelAvatar}}>
      <div class="feed-source-card-status chancecirclePosition">
        <div class="offline" [class.online]="nodeStatus[nodeId] == 0"></div>
      </div>
    </div>
    <h1>{{ channelName }}</h1>
    <ion-row class="sub-row">
      <img src="./assets/images/bubble2.svg"> <br>
      <ion-label><span>{{ channelSubscribes }}</span> {{ 'common.followers' | translate }}</ion-label>
    </ion-row>
    <p>{{ channelDesc }}</p>
    <ion-row class="channel-btns-row">
      <ion-col size="3.5">
        <ion-button *ngIf="!followStatus" class="unsubscribed" fill="outline" (click)="subscribe()">
          <ion-label>{{'SearchPage.follow' | translate}}</ion-label>
        </ion-button>
        <ion-button *ngIf="followStatus" class="subscribed" (click)="unsubscribe()">
          <ion-label>{{ 'SearchPage.following' | translate }}</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="3.5">
        <ion-button class="tip" (click)="tip()">
          <ion-label>{{ 'ChannelsPage.tip' | translate }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- EMPTY CONTAINER -->
  <div *ngIf="postList.length === 0" class="empty-container">
    <img src="./assets/images/empty-feeds-icon.svg">
    <h1>{{ 'HomePage.allempty' | translate }}</h1>
    <p>{{ 'common.nopostyet' | translate }}</p>
  </div>

  <!-- POSTS -->
  <div *ngIf="postList.length > 0">
    <ion-grid *ngFor="let post of postList let i=index" class="post-grid ion-activatable ripple" [class.darkPostGrid]="theme.darkMode">
      <ion-row class="post-row">
        <ion-col class="img-col" size="2.5">
          <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
            <img src={{channelAvatar}}>
            <div class="feed-source-card-status circlePosition">
              <div class="offline" [class.online]="nodeStatus[post.nodeId] == 0"></div>
            </div>
          </div>
        </ion-col>
        <ion-col class="content-col" size="9.5">
          <ion-row class="top-row">
            <ion-col class="left-col" size="11" (press)="pressName(post.nodeId, post.channel_id)" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)">
              <ion-label>
                {{ getChannel(post.nodeId, post.channel_id) }}
                <span> {{ handleDisplayTime(post.created_at) }}</span>
              </ion-label>
            </ion-col>
            <img *ngIf="post.post_status != 1"
              [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'"
              (click)="menuMore(post)"
            >
          </ion-row>
          <p>@{{ getChannelOwnerName(post.nodeId, post.channel_id) }}</p>
          <h2 *ngIf="post.post_status === 1"  (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)">
            <pre>{{'common.deleted' | translate}}</pre>
          </h2>
          <h2 *ngIf="post.post_status != 1"  (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)">
            <pre [ngStyle]="styleObj">{{ getContentText(post.content) }}</pre>
          </h2>
          <img 
           *ngIf="post.post_status != 1 && getImage(post.nodeId,post.channel_id,post.id) != 'none'  && getImage(post.nodeId,post.channel_id,post.id) != 'undefine' && getImage(post.nodeId,post.channel_id,post.id)  != null && getImage(post.nodeId,post.channel_id,post.id)  != 'undefine'"
            src="{{getImage(post.nodeId, post.channel_id, post.id)}}"
            class="post-img"
            (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)"
          > 
          <ion-row class="bottom-row">
            <ion-col size="2.25" (click)="like(post.nodeId, post.channel_id, post.id)">
              <img [src]="checkMyLike(post.nodeId, post.channel_id, post.id) ? '/assets/images/like-s.svg' : '/assets/images/like.svg'">
              <ion-label [class.liked]="checkMyLike(post.nodeId, post.channel_id, post.id)">{{ post.likes }}</ion-label>
            </ion-col>
            <ion-col (click)="showCommentPage(post.nodeId, post.channel_id, post.id)">
              <img src="/assets/images/bubble-line.svg">
              <ion-label>{{ post.comments }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="status" *ngIf="post.post_status === 2" style="right: -5px;">{{ 'common.edit' | translate}} </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-grid>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      class="ion-padding-top"
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<!-- <ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>

<ion-content [class.darkContainer]="theme.darkMode" [ngClass]="{'translucent-mask': isShowPrompt}">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'common.pullToRefresh'|translate}}"
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="checkChannelIsMine() == 0" class="edit" (click)="clickEdit()">
    <ion-img src="./assets/images/edit.svg" *ngIf="!theme.darkMode"></ion-img>
    <ion-img src="./assets/images/edit-dark.svg" *ngIf="theme.darkMode"></ion-img>
  </div> 
    <div class="channel-img-div">
      <ion-avatar class="channel-img" style="width:80px ; height: 80px;position: relative;">
        <div class="feed-source-card-status chancecirclePosition">
          <div class="online-circle"  *ngIf="nodeStatus[nodeId] == 0"></div>
          <div class="offline-circle" *ngIf="nodeStatus[nodeId] == 1"></div>
        </div>
        <img  src={{channelAvatar}}>
      </ion-avatar>
    </div>

    <div class="channel-title-div">
      <ion-label class="channel-title white">{{channelName}}</ion-label>
    </div>

    <div class="center-flex" style="margin-top: 10px;">
      <img class="profile-sub-img" src="./assets/images/bubble2.svg">
      <ion-label class="profile-sub-text">{{channelSubscribes}} </ion-label>
      <ion-label  class="profile-subscribe">{{'common.followers'|translate}}</ion-label>
    </div>

    <div class="channel-desc-div">
      <ion-label class="channel-desc white">{{channelDesc}}</ion-label>
    </div>

    <div class="center-flex btn-container" style="margin-top: 10px;">

      <ion-button *ngIf="followStatus" style="width: 76.8px;
      height: 25.6px; --border-radius:25px; 
      --background: #368bff;" (click)="unsubscribe()">
        <ion-label style="  font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #fdfeff;">{{'ChannelsPage.following'|translate}}</ion-label>
      </ion-button>

      <ion-button *ngIf="!followStatus" style="width: 76.8px;
      height: 25.6px; --border-radius:25px; 
      --border-color:#8888b0
      " fill="outline" (click)="subscribe()">
        <ion-label style="  font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #8888b0;">{{'ChannelsPage.follow'|translate}}</ion-label>
      </ion-button>


      <ion-button style="  
      margin-left: 25.5px;
      width: 76.8px;
      height: 25.6px;
      --border-radius:25px; 
      --background: #a067ff;
      "   (click)="tip()">
        <ion-label style="  font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #fdfeff;">{{'ChannelsPage.tip'|translate}}</ion-label>
      </ion-button>
    </div>

    <div *ngIf="postList.length===0" style="margin-top: 80px;">
      <div style="text-align: center;">
        <img src="./assets/images/empty-feeds-icon.svg">
      </div>
      <div class="all-empty" style="margin-top: 10px;">{{ 'common.nopostyet' | translate }}</div>
    </div>

    <div *ngFor="let post of postList let i=index" style="margin-top: 25px;">
      <div class="image-text-layout-div" >
        <ion-card-content class="ion-no-padding ion-no-margin">
          <div class="menu-div"  (click)="menuMore(post)"  *ngIf="post.post_status != 1">
            <img  src="./assets/images/dots-three-vertical.svg" *ngIf="!theme.darkMode" style="width:12.4;height:3px">
            <img  src="./assets/images/dots-three-vertical-dark.svg" *ngIf="theme.darkMode" style="width:12.4;height:3px">
          </div>
          <div class="image-text-div" (click)="navTo(post.nodeId, post.channel_id)">
              <ion-avatar class="avatar-div">
                <div class="feed-source-card-status circlePosition">
                  <div class="online-circle"  *ngIf="nodeStatus[post.nodeId] == 0"></div>
                  <div class="offline-circle" *ngIf="nodeStatus[post.nodeId] == 1"></div>
                </div>
                <img  src={{channelAvatar}}>
              </ion-avatar>
    
              <div class="text-div">
                <div class="text1-div"> 
                  <ion-label class="channel-title-small white" (press)="pressName(post.nodeId,post.channel_id)">{{getChannel(post.nodeId, post.channel_id)}}</ion-label>
                  <ion-label class="channel-ts"> {{handleDisplayTime(post.created_at)}}</ion-label>
                </div>
                <div  (click)="navTo(post.nodeId, post.channel_id)"> 
                  <ion-label class="channel-desc-small" (press)="pressOwnName(post.nodeId,post.channel_id)">@{{getChannelOwnerName(post.nodeId, post.channel_id)}}</ion-label>
                </div>
              </div>
          </div>
    
          <div style="margin-left: 81px;margin-top: -12px;">

            <div class="channel-post-div" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)" *ngIf="post.post_status === 1"> 
              <ion-label class="channel-post white"> <pre>{{'common.deleted' | translate}}</pre></ion-label>
            </div>

            <div class="channel-post-div" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)" *ngIf="post.post_status != 1"> 
              <ion-label class="channel-post white"> <pre>{{getContentText(post.content)}}</pre></ion-label>
            </div>
            
            <ion-avatar  *ngIf="post.post_status != 1 && getImage(post.nodeId, post.channel_id, post.id) != 'none' && getImage(post.nodeId, post.channel_id, post.id) != null && getImage(post.nodeId, post.channel_id, post.id) != 'undefine'" class="content-img-without-margin" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)">
                  <img [src]="getImage(post.nodeId, post.channel_id, post.id)">
            </ion-avatar>
    
            <div class="channel-post-heart-comment-div">
              <img class="like" [ngClass]="{'like-s': checkMyLike(post.nodeId, post.channel_id, post.id)}" (click)="like(post.nodeId, post.channel_id, post.id)">
              <ion-label class="like-text" [ngClass]="{'like-s-text': checkMyLike(post.nodeId, post.channel_id, post.id)}" (click)="like(post.nodeId, post.channel_id, post.id)">{{post.likes}}</ion-label>
    
              <img src="./assets/images/bubble-line.svg" class="comment" (click)="showCommentPage(post.nodeId, post.channel_id, post.id)">
              <ion-label class="comment-text"  (click)="showCommentPage(post.nodeId, post.channel_id, post.id)">{{post.comments}}</ion-label>

              <ion-label class="status" *ngIf="post.post_status === 2" style="right: -5px;">{{ 'common.edit' | translate}} </ion-label>

            </div>
          </div>
        </ion-card-content>
      </div>
      <div class="line-div white-line" *ngIf="i!=postList.length-1"></div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'common.loadingText'|translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content> -->