<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>

<ion-content [class.darkContainer]="theme.darkMode">
    <div class="channel-img-div">
      <ion-avatar class="channel-img" style="width:80px ; height: 80px;position: relative;">
        <div class="feed-source-card-status" style="position: absolute;top:0px;left:8px">
          <div class="online-circle"  *ngIf="nodeStatus[nodeId] == 0"></div>
          <div class="offline-circle" *ngIf="nodeStatus[nodeId] == 1"></div>
        </div>
        <img  src={{channelAvatar}}>
      </ion-avatar>
    </div>

    <div class="channel-title-div">
      <ion-label class="channel-title white">{{channelName}}</ion-label>
    </div>

    <div class="center-flex" style="margin-top: 10px;">
      <img class="profile-sub-img" src="assets/images/bubble2.svg">
      <ion-label class="profile-sub-text">{{channelSubscribes}} </ion-label>
      <ion-label  class="profile-subscribe">{{'common.followers'|translate}}</ion-label>
    </div>

    <div class="channel-desc-div">
      <ion-label class="channel-desc white">{{channelDesc}}</ion-label>
    </div>

    <div class="center-flex btn-container" style="margin-top: 10px;">

      <ion-button *ngIf="followStatus" style="width: 76.8px;
      height: 25.6px; --border-radius:25px; 
      --background: #368bff;" (click)="unsubscribe()">
        <ion-label style="  font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #fdfeff;">{{'ChannelsPage.following'|translate}}</ion-label>
      </ion-button>

      <ion-button *ngIf="!followStatus" style="width: 76.8px;
      height: 25.6px; --border-radius:25px; 
      --border-color:#8888b0
      " fill="outline" (click)="subscribe()">
        <ion-label style="  font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #8888b0;">{{'ChannelsPage.follow'|translate}}</ion-label>
      </ion-button>


      <ion-button style="  
      margin-left: 25.5px;
      width: 76.8px;
      height: 25.6px;
      --border-radius:25px; 
      --background: #a067ff;
      "   (click)="subscribe(channel.nodeId, channel.id)">
        <ion-label style="  font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #fdfeff;">{{'ChannelsPage.tip'|translate}}</ion-label>
      </ion-button>
    </div>

    <div *ngFor="let post of postList let i=index" style="margin-top: 25px;">
      <div class="image-text-layout-div" >
        <ion-card-content class="ion-no-padding ion-no-margin">
          <div class="menu-div"  (click)="menuMore()">
            <img  src="./assets/images/dots-three-vertical.svg" *ngIf="!theme.darkMode" style="width:12.4;height:3px">
            <img  src="./assets/images/dots-three-vertical-dark.svg" *ngIf="theme.darkMode" style="width:12.4;height:3px">
          </div>
          <div class="image-text-div" (click)="navTo(post.nodeId, post.channel_id)">
              <ion-avatar class="avatar-div">
                <div class="feed-source-card-status" style="position: absolute;top:0px;left:0px">
                  <div class="online-circle"  *ngIf="nodeStatus[post.nodeId] == 0"></div>
                  <div class="offline-circle" *ngIf="nodeStatus[post.nodeId] == 1"></div>
                </div>
                <img  src={{channelAvatar}}>
              </ion-avatar>
    
              <div class="text-div">
                <div class="text1-div"> 
                  <ion-label class="channel-title-small white">{{getChannel(post.nodeId, post.channel_id).name}}</ion-label>
                  <ion-label class="channel-ts"> {{handleDisplayTime(post.created_at)}}</ion-label>
                </div>
                <div  (click)="navTo(post.nodeId, post.channel_id)"> 
                  <ion-label class="channel-desc-small">@{{getChannelOwnerName(post.nodeId, post.channel_id)}}</ion-label>
                </div>
              </div>
          </div>
    
          <div style="margin-left: 81px;margin-top: -12px;">
            <div class="channel-post-div" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)"> 
              <ion-label class="channel-post white">{{getContentText(post.content)}}</ion-label>
            </div>
            
            <ion-avatar  *ngIf="getContentImg(post.content) != ''" class="content-img-without-margin" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)">
                  <img src="{{getContentImg(post.content)}}">
            </ion-avatar>
    
            <div class="channel-post-heart-comment-div">
              <img class="like" [ngClass]="{'like-s': checkMyLike(post.nodeId, post.channel_id, post.id)}" (click)="like(post.nodeId, post.channel_id, post.id)">
              <ion-label class="like-text" [ngClass]="{'like-s-text': checkMyLike(post.nodeId, post.channel_id, post.id)}" (click)="like(post.nodeId, post.channel_id, post.id)">{{post.likes}}</ion-label>
    
              <img src="../../../../assets/images/bubble-line.svg" class="comment" (click)="showCommentPage(post.nodeId, post.channel_id, post.id)">
              <ion-label class="comment-text"  (click)="showCommentPage(post.nodeId, post.channel_id, post.id)">{{post.comments}}</ion-label>
            </div>
          </div>
        </ion-card-content>
      </div>
      <div class="line-div white-line" *ngIf="i!=postList.length-1"></div>
    </div>
</ion-content>