.container{
    .subscribeChannel{
        text-align: center;
        margin-top: 5px;
        h1{
        font-size: 22px;
        color: #9ca0a4;
        font-weight: 500;
        letter-spacing: 1.2px;
        }

        p{
            font-size: 13px;
            font-weight:500;
            color: #9ca0a4;
        }

    }
    .bigCircle{
     margin:0 auto;
     width: 203px;
     height: 203px;
     background-color:#F0E8FF;
     border-radius:50%;
     position: relative;
    }

    .smallCircle{
      position:absolute;
      left:50px;
      top:50px;
      width: 103px;
      height: 103px;
      background-color:#D8C1FF;
      border-radius:50%;

      img{
        position: absolute;
        top: 14px;
        left: 22px;
        }
    }

    .viewall{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      text-align:right;
      color: #7624fe;
    }

    .empty-container {
        height: 50%;
    }

    .channel-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 40px 0;
        ion-row{
            .sub-row{

                img{
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-top: -6px;
                }

                .posttitle{
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    color: #000000;
                }
            }
        }
    }

    .channel-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 0;
        padding-right:20px;

        .feedAvatar {
            display: flex;
            align-items: center;
            position: relative;
            border-radius: 50%;
            width: 110px;
            height: 110px;
            background-color: rgba(255, 255, 255, 0);
            margin: 0 auto;
            border: 3px solid #a067ff;

            img {
                width:100px;
                height:100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 0 auto;
            }

            .offline {
                width: 10px;
                height: 10px;
                bottom: 3px;
                right: 4px;
                border: 2px solid #f8f8ff;
                border-radius: 100%;
            }
        }

        .feedName{
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align:center;
        color: #000;
        margin-top: 5px;
        }

        .channelOwner{
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align:center;
        color: #9ca0a4;
        }

        .channeldes{
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height:1.5;
            text-align: center;
            color: #000;
            width: 240px;
            margin: 0 auto;
            margin-top:4px;
            margin-bottom:21px;
        }

        .channelSubscribes{
            font-size: 14px;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #9ca0a4;
            border-radius: 10px;
            border: 1px solid #f5f4f8;
            display: inline-block;
            padding: 6px 10px 6px 10px;
            margin-right: 15px;
        }

        .channel-btns-row {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            ion-button {
                width: 94px;
                height: 30px;
                --border-radius: 10px;
                --box-shadow: none;
                --background:#7624fe;
                --background-activated:#7624fe;

                ion-label {
                  font-size: 14px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  color:#7624fe;
                  padding: 0;
                  overflow: visible;
                }
            }

            .unsubscribed {

                --border-width: 1.5px;
                --border-style: solid;
                --border-color: #7624fe;
                --background: transparent;
                --background-activated: transparent;
                --background-activated-opacity: none;
                --background-focused: transparent;
                --background-focused-opacity: none;

                ion-label {
                    color:#7624fe !important;
                }
            }

            .subscribed{
                ion-label {
                color:#fff !important;
                }
            }

            .tip {
                --background: #a067ff;
            }
        }
    }

      .removeBorder {
        border-bottom: none;
      }
    }

     .darkContainer{
       .channel-header{
        .feedName{
            color:#fff;
        }
        .channeldes{
            color:#fff;
        }

        .channelSubscribes{
            border: 1px solid #2e2f4e;
        }
       }

        .channel-title{

            ion-row{
                .sub-row{
                    .posttitle{
                        color: #fff;
                    }
                }
            }
        }
}