<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28839232315-m61lrj3vlbbgej7rsif4m075h5p7l5m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28839232315-m61lrj3vlbbgej7rsif4m075h5p7l5m8</string>
	<key>API_KEY</key>
	<string>AIzaSyCeUuycORkXufeoN78Zfz_LclXzqpejK_E</string>
	<key>GCM_SENDER_ID</key>
	<string>28839232315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.trinitytech.dapp.feeds</string>
	<key>PROJECT_ID</key>
	<string>trinityfeeds-59006</string>
	<key>STORAGE_BUCKET</key>
	<string>trinityfeeds-59006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28839232315:ios:f9e8370dd93f5f13686d1e</string>
</dict>
</plist>