<div class="container"  [class.darkContainer]="theme.darkMode">
    <div class="guideTitle">
        {{'GuidedialogComponent.upgradeto' | translate}}
    </div>
    <div class="guideTitle">
      {{'GuidedialogComponent.publisherAccount' | translate}}
    </div>
    <div class="guideStep">
      {{'GuidedialogComponent.step1' | translate}}
    </div>

    <div class="guideDes">
      {{'GuidedialogComponent.des' | translate}}
    </div>

    <div class="guideDes">
      {{'GuidedialogComponent.des' | translate}}
    </div>

    <div class="guideUrl">
      https://trinity-feeds.app
    </div>

    <div class="guideStep">
      {{'GuidedialogComponent.step2' | translate}}
    </div>

    <div class="guideDes">
      {{'GuidedialogComponent.des1' | translate}}
    </div>

    <div class="guideDes" style="color: #7624fe;">
      {{'GuidedialogComponent.des2' | translate}}
    </div>

    <div class="installationGuide">
      {{'GuidedialogComponent.installationGuide' | translate}}
    </div>

</div>
