.container{
  padding: 15px 0px;
  .guideTitle{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #7624fe;
  }

  .guideStep{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #7624fe;
    span{
    border-bottom: 1px solid #7624fe;
    padding-bottom: 2px;
    }
  }

  .guideDes{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #000;
  }

  .guideUrl{
    width: 90%;
    margin:0 auto;
    background-color: #f6f5f6;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #000;
    height: 36px;
    line-height:36px;
    font-style: oblique;
  }

  .installationGuide{
    margin-top:11px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #000;
  }

  .guideGrid{
    border-bottom:1px solid #f5f4f8;
    width: 90%;
    display:flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 16px;
    .left{
      text-align: left;
      width: 70%;
      font-size: 14px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
    }

    .right{
      text-align: right;
      width: 30%;
      margin-top: 5px;
    }
  }

}

.darkContainer{
  .guideDes{
    color:#ffffff;
  }

  .guideUrl{
    background-color: #2e2f4e;
    color:#ffffff;
  }

  .installationGuide{
    color:#ffffff;
  }

  .guideGrid{
    border-bottom:1px solid#707070;
  }

}