<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end" padding class="header-btns">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>My Feeds</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <div class="ion-padding">
    <ion-button
      expand="block"
      mode="ios"
      color="tertiary"
      [routerLink]="['/menu/myfeeds/create']"
    >
      <ion-icon name="add-circle-outline" slot="start" ></ion-icon>
      <ion-label> Create a new feed</ion-label>
    </ion-button>
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let feed of myfeeds" #slide>
      <ion-item >
        <ion-icon name="paper" slot="start"></ion-icon>
        <ion-label (click)="navigateToBoardPage(feed.nodeId, feed.name)">{{feed.name}}</ion-label>
  
        <ion-col
              size="3.5"
              size-xs="3.5"
              class="badge-container">
              <ion-badge color="light" >{{feed.lastUpdated | date:'MM-dd HH:mm'}}</ion-badge>
            </ion-col>
      </ion-item>
      <ion-item-options>
        <ion-item-option *ngIf="!feed.archive" color="secondary" (click)="archive(feed.nodeId, feed.name, slide)">
          <ion-icon slot="start" name="archive" ></ion-icon>
          Archive
        </ion-item-option>

        <ion-item-option *ngIf="feed.archive" color="secondary" (click)="unarchive(feed.nodeId, feed.name, slide)">
          <ion-icon slot="start" name="archive" ></ion-icon>
          UnArchive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- <ion-item *ngFor="let feed of myfeeds">
      <ion-icon name="paper" slot="start"></ion-icon>
      <ion-label (click)="navigateToBoardPage(feed.nodeId, feed.name)">{{feed.name}}</ion-label>

      <ion-col
            size="3.5"
            size-xs="3.5"
            class="badge-container">
            <ion-badge color="light" >{{feed.lastUpdated | date:'MM-dd HH:mm'}}</ion-badge>
          </ion-col>
    </ion-item> -->
  </ion-list>
</ion-content>
