<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end" padding class="header-btns">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>My Channels</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div class="ion-padding">
    <ion-button
      expand="block"
      mode="ios"
      color="primary"
      [routerLink]="['/menu/myfeeds/create']"
    >
      <!-- <ion-icon name="add-circle-outline" slot="start" ></ion-icon> -->
      <ion-label> Create a new channel</ion-label>
    </ion-button>
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let feed of myfeeds" #slide>
      <!-- <ion-item >
        <ion-icon name="paper" slot="start"></ion-icon>
        <ion-label (click)="navigateToBoardPage(feed.nodeId, feed.name)">{{feed.name}}</ion-label>
  
        <ion-col
              size="3.5"
              size-xs="3.5"
              class="badge-container">
              <ion-badge color="light" >{{feed.lastUpdated | date:'MM-dd HH:mm'}}</ion-badge>
            </ion-col>
      </ion-item> -->
      <ion-item (click)="navigateToBoardPage(feed.nodeId, feed.name)">
        <ion-grid class="ion-padding" >
          <ion-row>
            <ion-col
              size="2.25"
              size-lg="2.25"
              class="icon-container"
              >
              <ion-icon name="paper"></ion-icon>
            </ion-col>
            <ion-col
              size="6.25"
              size-xs="6.25"
              class="node-content">
              <ion-label style="font-size: 18px;">
                <b>{{feed.name}}</b>
              </ion-label>
              
            </ion-col>
            <ion-col
              size="1"
              size-xs="1"
              class="badge-container">
              <ion-icon name="person" ></ion-icon>
            </ion-col>
            <ion-col size="2.5" size-xs="2.5" class="badge-container">
              <ion-label >18</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <div style="margin-top: 10px;">
              <img *ngIf="feed.imageUrl!=''" src={{feed.imageUrl}} >
              <ion-label>
                <p>
                {{feed.lastEvent}}
                </p>
              </ion-label>
            </div>
          </ion-row>
          <ion-row>
            <ion-col size="8.5"></ion-col>

            <ion-col size="3.5">
              <ion-badge color="light" *ngIf="feed.lastEvent!=''">{{feed.lastUpdated | date:'MM-dd HH:mm'}}</ion-badge>
            </ion-col>
            

          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options>
        <ion-item-option *ngIf="!feed.archive" color="secondary" (click)="archive(feed.nodeId, feed.name, slide)">
          <ion-icon slot="start" name="archive" ></ion-icon>
          Archive
        </ion-item-option>

        <ion-item-option *ngIf="feed.archive" color="secondary" (click)="unarchive(feed.nodeId, feed.name, slide)">
          <ion-icon slot="start" name="archive" ></ion-icon>
          UnArchive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- <ion-item *ngFor="let feed of myfeeds">
      <ion-icon name="paper" slot="start"></ion-icon>
      <ion-label (click)="navigateToBoardPage(feed.nodeId, feed.name)">{{feed.name}}</ion-label>

      <ion-col
            size="3.5"
            size-xs="3.5"
            class="badge-container">
            <ion-badge color="light" >{{feed.lastUpdated | date:'MM-dd HH:mm'}}</ion-badge>
          </ion-col>
    </ion-item> -->
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
