<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end" padding class="header-btns">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>My Feeds</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <div class="ion-padding">
    <ion-button
      expand="block"
      mode="ios"
      color="tertiary"
      [routerLink]="['/menu/myfeeds/create']"
    >
      <ion-icon name="add-circle-outline" slot="start" ></ion-icon>
      <ion-label> Create a new feed</ion-label>
    </ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor="let feed of myfeeds">
      <ion-icon name="paper" slot="start"></ion-icon>
      <ion-label (click)="navigateToBoardPage(feed.nodeId, feed.name)">{{feed.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
