<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-title>Comments</ion-title>
    <!-- <ion-title>{{title}}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <ion-item lines="none">
    <ion-col size="2">
    <ion-icon style="font-size: 44px;" name="football"></ion-icon>
    </ion-col>
    <ion-col size="10">
   <!-- <ion-label><b>disconnect</b></ion-label> -->
    <ion-label style="font-size: 20px;"><b>{{name}}</b></ion-label>
    <ion-label style="font-size: 13px;"><b>{{ownerName}}</b></ion-label>
    </ion-col>
  </ion-item>



    <ion-item >
      <ion-grid>
        <ion-row>
          <ion-label >{{content}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="3.25">
            <ion-button fill="clear" mode="ios" (click)="showCommentPage()">
              <ion-icon name="chatbubbles" slot="icon-only" ></ion-icon>
              <ion-label >&nbsp;{{comments}}</ion-label>
            </ion-button>
          </ion-col>

          <ion-col size="2.25">
            <ion-button fill="clear" mode="ios" (click)="like()">
              <ion-icon name="heart" slot="icon-only" ></ion-icon>
              <ion-label >&nbsp;{{likes}}</ion-label>
            </ion-button>
          </ion-col>

          <ion-col size="3">
          </ion-col>

          <ion-col size="3.5"
          size-xs="3.5">
            <ion-label style="margin-top: 10px;">{{created_at | date:'MM-dd HH:mm'}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-list>
    <ion-item style="margin-left: 10%;" *ngFor="let comment of commentList">
      <ion-grid>
        <ion-row>
          <ion-label >{{comment.user_name}}</ion-label>
        </ion-row>
        <ion-row style="margin-left: 2%;">
          <ion-label >{{comment.content}}</ion-label>
        </ion-row>
        <ion-row>
          <!-- <ion-col size="3.25"> -->
            <!-- <ion-button fill="clear" mode="ios" (click)="comment()">
              <ion-icon name="chatbubbles" slot="icon-only" ></ion-icon>
              <ion-label >&nbsp;{{comment}}</ion-label>
            </ion-button> -->
          <!-- </ion-col> -->

          <ion-col size="3">
            <ion-button fill="clear" mode="ios" (click)="likeComment(comment.id)">
              <ion-icon name="heart" slot="icon-only" ></ion-icon>
              <ion-label >&nbsp;{{comment.likes}}</ion-label>
            </ion-button>
          </ion-col>

          <ion-col size="4">
          </ion-col>

          <ion-col size="5"
          size-xs="5">
            <ion-label style="margin-top: 10px;">{{comment.created_at | date:'MM-dd HH:mm'}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
    
</ion-content>
