<!-- <ion-button mode="ios"  expand="block" (click)="clearAll()">Clear all data</ion-button> -->

<div class="center-content" >
  <div style="text-align: center; ">
    <img src="../../../../assets/images/empty-feeds-icon.svg">
  </div>
  <div class="all-empty" style="margin-top: 20px;">All Empty</div>
  <div class="all-empty-content-text" style="margin-top: 7px;">Not following any feeds yet</div>

  <div class="explore-feeds">
  <ion-button expand="block"  mode="ios" (click)="exploreFeeds()" >
    <div class="explore-feeds-text"> Explore Feeds</div>
  </ion-button>
  </div>
</div> 