<div class="container"  [class.darkContainer]="theme.darkMode">
    <div class="publisherTitle">
        {{'PublisherdialogComponent.publisheraccount' | translate}}
    </div>
    <div class="publisherImg">
        <img src="./assets/images/hello.svg">
    </div>

    <div class="publisherDes">
        {{'PublisherdialogComponent.des' | translate}}
    </div>

    <div class="publisherDes">
       <span style="font-weight: bold;">{{'PublisherdialogComponent.des1' | translate}}</span>{{'PublisherdialogComponent.des2' | translate}}
    </div>

    <div class="publisherDes" style="margin-top: 20px;">
        <span style="font-weight: bold;">{{'PublisherdialogComponent.des3' | translate}}</span>{{'PublisherdialogComponent.des4' | translate}}
    </div>

    <div class="publisherDes">
        {{'PublisherdialogComponent.des5' | translate}}
    </div>

    <div class="publisherDes1" style="margin-top:20px;">
        {{'PublisherdialogComponent.des6' | translate}}
    </div>

    <div class="publisherDes1">
        {{'PublisherdialogComponent.des7' | translate}}
    </div>

    <div class="publisherDes1">
        {{'PublisherdialogComponent.des8' | translate}}
    </div>

    <div class="publisherDes2" (click)="learnMore()">
        {{'PublisherdialogComponent.des9' | translate}}
    </div>

    <ion-row class="btns-row" style="width: 90%; margin: 0 auto;margin-top: 20px;" (click)="createNewPublisherAccount()">
        <ion-col class="btn confirm ion-activatable ripple" size="12">
            <ion-label>{{ "PublisherdialogComponent.createNewPublisherAccount" | translate }}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
    </ion-row>

    <ion-row class="btns-row"  style="width: 90%; margin: 0 auto;margin-top: 20px;" (click)="bindExistingPublisherAccount()">
        <ion-col class="btn confirm ion-activatable ripple" size="12">
            <ion-label>{{ "PublisherdialogComponent.bindExistingPublisherAccount" | translate }}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
    </ion-row>
    <p class="cancel" (click)="cancel()">{{ "PublisherdialogComponent.cancel" | translate }}</p>
</div>

