
.feedslogo{
  margin:0 auto;
  width: 122px;
  height: 115px;
}

.feeds{
  padding:0px;
  margin: 0px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  text-align:center;
  color: #000000;
}

.darkContainer .white{
  color: #ffffff;
}