
.Component-599-5{
  width: 112px;
  height: 75px;
  object-fit: contain;
  
  text-align: center;
  vertical-align: middle;

}
.text {
  text-align: center;
  vertical-align: middle;
  height: 69px;
  font-size: 25px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #333333;
}

.darkContainer .box .white{
  color: #ffffff;
}