.empty-container {
}

.darkContainer{
    .channel-detail-div .channel-detail-text-div .white{
        color: #ffffff;
    }

    .channel-detail-div .channel-detail-text-div .channel-post-div .white{
        color: #ffffff;
    }

    .white{
        color: #ffffff;
    }

    .white-line{
        opacity: 1;
        background-color: #2e2f4e;
    }
}