.exploreTabs{

    .select-bottom{
       border-bottom:1px solid #7624fe;
    }

    .select-color{
       color:#7624fe;
    }

    .no-select-color{
      color:#000000;
    }

    .des{
     font-size: 14px;
     font-weight: bold;
     font-stretch: normal;
     font-style: normal;
     text-align:center;
    }
  }


  .darkExploreTabs{

   .select-bottom{
      border-bottom:1px solid #7624fe;
   }

   .select-color{
      color:#7624fe;
   }

   .des{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align:center;
   }

   .no-select-color{
      color:#fff;
    }
  }

  .borderBottom{
   border-bottom:1.4px solid #B4B3B8;
   }
   .darkBorderBottom{
      border-bottom: 1.4px solid #2e2f4e;
   }

   .removeBorder {
      border-bottom: none;
   }