<app-titlebar id="homeTittleBar"></app-titlebar>
<ion-row [class.darkExploreTabs]="theme.darkMode" [class.exploreTabs]="!theme.darkMode" id="homeTab">
  <ion-col size="6" class="des" [ngClass]="{'select-bottom':tabType==='feeds','select-color':tabType==='feeds','no-select-color':tabType!='feeds'}"
   (click)="clickTab('feeds')">{{'FeedsPage.tabTitle5'|translate}}</ion-col>
  <ion-col size="6" class="des"  [ngClass]="{'select-bottom':tabType==='pasar','select-color':tabType==='pasar','no-select-color':tabType!='pasar'}" (click)="clickTab('pasar')">{{'ExplorefeedsPage.pasar'|translate}}</ion-col>
</ion-row>
<ion-row *ngIf="tabType==='pasar'" style="margin-top: 28px;">
  <ion-col size="1">

  </ion-col>
  <ion-col size="9.5" class="search-home-container" [class.dark-search-home-container]="theme.darkMode">
    <form action="javascript:return true;" style="display: flex;justify-content: center;width: 100%;">
      <ion-searchbar #homePasarSearchBar  [(ngModel)]="searchText" inputmode=""  enterkeyhint="search" placeholder="{{ pasarsearchPlaceholder | translate }}" (keyup)="getItems($event)" mode="ios" [ngModelOptions]="{standalone: true}" (ionClear)="ionClear()"></ion-searchbar>
    </form>
  </ion-col>
  <ion-col size="1.5" (click)="clickfilterCircle()">
   <img *ngIf="!theme.darkMode" src="assets/images/filter-circle.svg" style="margin-top:28px;"/>
   <img *ngIf="theme.darkMode" src="assets/images/darkmode/filter-circle.svg" style="margin-top:28px;"/>
  </ion-col>
  <div [class.darkSort]="theme.darkMode" [class.sort]="!theme.darkMode" id="sort" *ngIf="isShowSearchField" >
    <p class="titleName">{{"HomePage.sortBy" | translate}}<p>
    <p class="sortName" (click)="changeSortType(0,$event)"><span>{{"HomePage.recentlyAdded" | translate}}</span> <img src="assets/images/sort-check.svg" *ngIf="sortType===0"><p>
    <p class="sortName" (click)="changeSortType(1,$event)"><span>{{"HomePage.Oldest" | translate}}</span> <img src="assets/images/sort-check.svg" *ngIf="sortType===1"><p>
    <p class="sortName" (click)="changeSortType(3,$event)"><span>{{"HomePage.priceLowToHigh" | translate}}</span> <img src="assets/images/sort-check.svg" *ngIf="sortType===3"><p>
    <p class="sortName" (click)="changeSortType(2,$event)"><span>{{"HomePage.priceHightoLow" | translate}}</span> <img src="assets/images/sort-check.svg" *ngIf="sortType===2"><p>
  </div>
</ion-row>
<ion-content [ngClass]="{'contentTop':tabType==='feeds'}" (ionScrollEnd)="ionScroll()" [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}" >
    </ion-refresher-content>
  </ion-refresher>
 <!-- feeds timeTime-->
<div *ngIf="tabType==='feeds'">

  <!-- synchronizingData -->
  <ion-row *ngIf="syncHiveDataStatus != null && syncHiveDataStatus != 6 && syncHiveDataStatus != 7" style="margin-top:5px;">
    <ion-col size="12" class="loading">
    <img *ngIf="!theme.darkMode" class="loadingIcon" src="./assets/images/nftloading.gif"/>
    <img *ngIf="theme.darkMode" class="loadingIcon" src="./assets/images/darkmode/nftloading.gif"/>
    </ion-col>
    <ion-col size="12" class="loading">
    <p>{{ syncHiveDataDes | translate}}</p>
    </ion-col>
  </ion-row>

  <!-- synchronizingData fail -->
  <ion-row class="btn-row" *ngIf="syncHiveDataStatus != null && syncHiveDataStatus === 7" style="margin-top:5px;">
    <ion-button  class="nextButton"  (click)="tryButton()">
      <ion-label>{{ 'GalleriahivePage.buttonTitle1' | translate }}</ion-label>
    </ion-button>
  </ion-row>

  <!-- first loading -->
  <ion-row *ngIf="isPostLoading && syncHiveDataStatus === 6" style="margin-top:5px;">
    <ion-col size="12" class="loading">
    <img *ngIf="!theme.darkMode" class="loadingIcon" src="./assets/images/nftloading.gif"/>
    <img *ngIf="theme.darkMode" class="loadingIcon" src="./assets/images/darkmode/nftloading.gif"/>
    </ion-col>
    <ion-col size="12" class="loading">
    <p>{{'common.beingRefresh'|translate}}</p>
    </ion-col>
  </ion-row>
  <!-- NO POSTS -->
  <div *ngIf="postList.length === 0 && !this.isPostLoading && syncHiveDataStatus === 6" class="empty-container" style="margin-top:159px;">
    <img src="./assets/images/empty-feeds-icon.svg">
    <h1>{{ 'HomePage.allempty' | translate }}</h1>
    <p>{{ "HomePage.emptyDes"| translate }}</p>
    <ion-row class="btn-row">
      <ion-button (click)="exploreFeeds()">
        <ion-label>
          {{ "HomePage.subscribeToChannels" | translate }}
        </ion-label>
      </ion-button>
    </ion-row>
  </div>

  <!-- HAS POSTS  -->
  <div *ngIf="postList.length > 0 && !this.isPostLoading && syncHiveDataStatus === 6">
    <div  *ngFor="let post of postList let i=index" >
    <ion-grid class="post-grid ion-activatable ripple" [class.darkPostGrid]="theme.darkMode"
      [class.removeBorder]="post === postList[postList.length - 1]" [class.blur]="!hideComment"
      id={{post.destDid}}-{{post.channelId}}-{{post.postId}}-{{post.content.mediaType}}>
      <ion-row class="post-row">
        <ion-col class="img-col" size="2">
          <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode" (click)="navTo(post.destDid,post.channelId,post.postId)">
            <img id={{post.destDid}}-{{post.channelId}}-{{post.postId}}-homeChannelAvatar src="./assets/icon/reserve.svg">
          </div>
        </ion-col>
        <ion-col class="content-col" size="10">
          <ion-row class="top-row">
            <ion-col class="left-col" size="11">
              <ion-label  *ngIf="hannelNameMap[post.postId] === '' || hannelNameMap[post.postId] === undefined">
                ......
              </ion-label>
              <ion-label (click)="navTo(post.destDid, post.channelId, post.postId)" *ngIf="hannelNameMap[post.postId] != '' && hannelNameMap[post.postId] != undefined">
                {{ hannelNameMap[post.postId] }}
                <span> {{ handleDisplayTime(post.createdAt) }}</span>
              </ion-label>
            </ion-col>
            <img class="moremenuclick"
              *ngIf="post.status!=1"
              [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'"
              (click)="menuMore(post)"
            >
          </ion-row>
          <!-- <p>@{{ getChannelOwnerName(post.postId, post.channelId) }}</p> -->

          <h2 *ngIf="post.status!=1">
            <div *ngIf="getPostContentTextSize(post.content.content)<=maxTextSize"
              (click)="navToPostDetail(post.destDid, post.channelId, post.postId,$event)">
              <pre [ngStyle]="styleObj" [innerHTML]="getContentText(post.content.content) | html"></pre>
            </div>
            <div *ngIf="getPostContentTextSize(post.content.content)>maxTextSize"
              (click)="navToPostDetail(post.destDid, post.channelId, post.postId,$event)">
              <pre [ngStyle]="styleObj" [innerHTML]="getContentShortText(post) | html"></pre>
              <pre [ngStyle]="styleObj" style="color:#368bff;">{{"common.fulltext" | translate }}</pre>
            </div>
          </h2>
          <h2 (click)="navToPostDetail(post.destDid, post.channelId, post.postId)" *ngIf="post.status===1">
            <pre [ngStyle]="styleObj">{{'common.deleted' | translate}}</pre>
          </h2>

          <div *ngIf="post.status!=1&&post.content.mediaType ===1" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}rpostimg
            style="width: 100%">
            <span class="lefttopostdetailimg" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)"></span>

          <div style="position:relative;">
            <app-percentageloading
            *ngIf="isImgPercentageLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
            [ngStyle]="imgloadingStyleObj"
            [percent]="imgPercent"
            [rotateNum]="imgRotateNum"
            >
            </app-percentageloading>

          <app-roundloading
          *ngIf="isImgLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
          [ngStyle]="imgloadingStyleObj"
          >
          </app-roundloading>
            <img
            id ={{post.destDid}}-{{post.channelId}}-{{post.postId}}postimg
            class="post-img"
            src="assets/images/loading.png"
            style="width: 100%;"
            (click)="showBigImage(post.destDid,post.channelId,post.postId)">
            <img src="./assets/images/avatar.svg" class="avatarImg"
              id={{post.destDid}}-{{post.channelId}}-{{post.postId}}homebidAvatar />
            <img src="./assets/images/videoTypeIcon.svg" class="avatarImg"
              id={{post.destDid}}-{{post.channelId}}-{{post.postId}}homebidVideo />
            <img src="./assets/images/bidfeedslogo.svg" class="bidLogoImg"
              id={{post.destDid}}-{{post.channelId}}-{{post.postId}}homebidfeedslogo />
            <div class="buyContainer" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}homebuy>
               <ion-row>
                 <ion-col size="8" class="pricecol">
                  <span class="price" [class.darkPrice]="theme.darkMode"
                    id={{post.destDid}}-{{post.channelId}}-{{post.postId}}homeNftPrice></span><img
                    style="vertical-align:middle;margin-left:4px;
                  " src="assets/images/purpleblue.svg"/>
                  <div class="quantity" [class.darkQuantity]="theme.darkMode">{{"common.quantity"|translate}}: <span
                      id={{post.destDid}}-{{post.channelId}}-{{post.postId}}homeNftQuantity></span>/<span
                      id={{post.destDid}}-{{post.channelId}}-{{post.postId}}homeMaxNftQuantity></span></div>
                 </ion-col>
                 <ion-col size="4">
                  <ion-button (click)="buy(post)">
                    <ion-label class="buyLabel">{{'BidPage.buy' | translate}}</ion-label>
                  </ion-button>
                 </ion-col>
              </ion-row>
            </div>
            <span class="topostdetailimg" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)"></span>
          </div>
          </div>

          <div *ngIf="post.status!=1&&post.content.mediaType ===2"
            id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgplayer style="width: 100%;position:relative;">

            <app-roundloading
            *ngIf="isVideoLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
            [ngStyle]="videoloadingStyleObj"
            >
            </app-roundloading>

            <app-percentageloading
            *ngIf="isVideoPercentageLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
            [ngStyle]="videoloadingStyleObj"
            [percent]="videoPercent"
            [rotateNum]="videoRotateNum"
            >
            </app-percentageloading>

              <div style="width:100%;height:200px;display:inline-block;">
                <span class="lefttopostdetailvideo" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)"></span>
                <vg-player>
                  <vg-overlay-play id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgoverlayplayhome></vg-overlay-play>
                  <vg-controls id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgcontrolshome style="display: none;">
                    <img class="vgfullscreen" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgfullscreenhome
                      src="assets/images/fullscreen.svg"/>
                  </vg-controls>

              <video #media [vgMedia]="media" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}video
              poster="assets/images/loading.png"
              playsinline webkit-playsinline>
              <source type="video/mp4" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}source>
              </video>
              </vg-player>
             </div>
             <span class="topostdetailvideo" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)"></span>
            </div>
          <ion-row class="bottom-row">
            <ion-col size="2.25" (click)="like(post.destDid, post.channelId, post.postId)">
              <img [src]="likeMap[post.postId] === 'like' ? '/assets/images/like-s.svg' : '/assets/images/darkmode/like.svg'" *ngIf="theme.darkMode">
              <img [src]="likeMap[post.postId] === 'like' ? '/assets/images/like-s.svg' : '/assets/images/like.svg'" *ngIf="!theme.darkMode">
              <ion-label [class.liked]="likeMap[post.postId] === 'like' ">{{  likeNumMap[post.postId] }}</ion-label>
            </ion-col>
            <ion-col size="2.25" (click)="showComment(post.destDid, post.channelId, post.postId)">
              <img src="/assets/images/bubble-line.svg" *ngIf="!theme.darkMode">
              <img src="/assets/images/darkmode/bubble-line.svg" *ngIf="theme.darkMode">
              <ion-label>{{ commentNumMap[post.postId] }}</ion-label>
            </ion-col>
            <ion-col (click)="clickDashang(post.destDid, post.channelId, post.postId)" *ngIf="isAndroid">
              <img src="/assets/images/dashang.svg" *ngIf="!theme.darkMode">
              <img src="/assets/images/darkmode/tip.svg" *ngIf="theme.darkMode">

            </ion-col>
            <ion-col>
              <ion-label class="status" *ngIf="post.status === 2" style="right: -5px;">{{ 'common.edit' | translate}} </ion-label>
              <ion-label class="status" *ngIf="post.status === 11" style="right: -5px;">{{ 'common.sending' | translate}} </ion-label>
              <ion-label class="status" *ngIf="post.status === 12" style="right: -5px;">{{ 'common.sendFail' | translate}} </ion-label>
            </ion-col>
          </ion-row>

         <ion-row *ngIf="post.status === 12" class="bottom-row">
            <ion-col size="2.25">
            </ion-col>
            <ion-col size="2.25">
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
                <ion-icon  style="right: 66px;top:0px;position:absolute; color: #7171bd;" name="refresh"></ion-icon>
                <!-- <ion-label style="
                position:absolute;
                right: 1px;
                font-size: 13px;
                font-weight: 500;
                color: #7171bd;" (click)="retry(post.nodeId, post.channel_id, post.id)">{{ "common.retry" | translate }} </ion-label> -->
                <ion-button (click)="retry(post.destDid, post.channelId, post.postId)" class="retrybutton">{{ "common.retry" | translate }}</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-grid>
  </div>
  </div>
 </div>

 <!--Pasar list-->
<div *ngIf="tabType==='pasar'&&styleType==='list'">
  <ion-row id="homePasarList">
    <ion-col size="12"  *ngFor="let item of pasarList let i=index" [class.darkBorderBottom]="theme.darkMode && item != pasarList[pasarList.length - 1]" [class.borderBottom]="!theme.darkMode  && item != pasarList[pasarList.length - 1]"
    class="homePasarListCol" id={{handleId(item)}}
    >
      <app-newassetitem
      [elaPrice] = "elaPrice"
      [assetItem] = "item"
      (clickAssetItem) = "clickAssetItem($event)"
      (clickMore) = "clickMore($event)"
      >
      </app-newassetitem>
    </ion-col>
   </ion-row>
 </div>

 <!--Pasar grid-->
<div *ngIf="tabType==='pasar'&&styleType==='grid'" style="margin-top:0px;">
  <ion-row class="leftrightrow" id="homePasarGrid">
    <ion-col size="6" *ngFor="let item of pasarList"  class="homePasarGridCol" id={{handleId(item)}}>
      <app-assetitem
      [thumbImageName] = "thumbImageName"
      [isAutoGet] = "isAutoGet"
      [elaPrice] = "elaPrice"
      [assetItem] = "item"
      (clickAssetItem) = "clickAssetItem($event)"
      (clickMore) = "clickMore($event)"
      >
      </app-assetitem>
    </ion-col>
   </ion-row>
 </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  style="bottom:50px;">
    <ion-infinite-scroll-content
      class="ion-padding-top"
      loadingSpinner="circles"
      loadingText="{{'common.loading'|translate}}"
    >
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>
<div style="height: 36px;"></div>
</ion-content>
<div class="add-tab" *ngIf="tabType==='feeds'" (click)="create()">
  <img src="/assets/images/createPost.svg"/>
</div>
<div class="add-nft" *ngIf="tabType==='pasar'" (click)="createNft()">
  <img src="/assets/images/createNFT.svg"/>
</div>
<!---------------- ADD COMMENT FOOTER ---------------->
<app-comment
  *ngIf="!hideComment"
  [postId]="postId"
  [destDid]="destDid"
  [channelId]="channelId"
  [channelAvatar]="channelAvatar"
  [channelName]="channelName"
  (hideComment)="hideComponent($event)"
></app-comment>

<app-nftloading
 *ngIf="isLoading"
 [loadingTitle] = "loadingTitle"
 [loadingText] = "loadingText"
 [loadingCurNumber] = "loadingCurNumber"
 [loadingMaxNumber] = "loadingMaxNumber"
>
</app-nftloading>


