<ion-content >
  <div *ngIf="postList.length == 0">
    <div class="center-content" >
      <div style="text-align: center; ">
        <img src="../../../../assets/images/empty-feeds-icon.svg">
      </div>
      <div class="all-empty" style="margin-top: 20px;">{{ 'HomePage.allempty' | translate }}</div>
      <div class="all-empty-content-text" style="margin-top: 7px;">{{"HomePage.emptyDes"| translate}}</div>
    
      <div class="explore-feeds">
      <ion-button expand="block"  mode="ios" (click)="exploreFeeds()" >
        <div class="explore-feeds-text">{{"HomePage.exploreFeeds"|translate}}</div>
      </ion-button>
      </div>
    </div> 
  </div>

  <div [ngClass]="{'mask-div': bigImage}">
    <div *ngFor="let post of postList let i=index" [class.darkContainer]="theme.darkMode">

      <div class="image-text-layout-div" >
        <ion-card-content class="ion-no-padding ion-no-margin">
          <div class="menu-div" (click)="menuMore(post.nodeId, post.channel_id)">
              <img  src="assets/images/dots-three-vertical.svg">
          </div>
          <div class="image-text-div" (click)="navTo(post.nodeId, post.channel_id)">
              <ion-avatar class="avatar-div">
                <img  src={{parseAvatar(post.nodeId,post.channel_id)}}>
              </ion-avatar>
    
              <div class="text-div">
                <div class="text1-div"> 
                  <ion-label class="channel-title-small white">{{getChannelName(post.nodeId, post.channel_id)}}</ion-label>
                  <ion-label class="channel-ts"> - {{handleDisplayTime(post.created_at)}}</ion-label>
                </div>
                <div  (click)="navTo(post.nodeId, post.channel_id)"> 
                  <ion-label class="channel-desc-small">@{{getChannelOwnerName(post.nodeId, post.channel_id)}}</ion-label>
                </div>
              </div>
          </div>
    
          <div style="margin-left: 81px;">
            <div class="channel-post-div" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)"> 
              <ion-label class="channel-post white">{{getContentText(post.content)}}</ion-label>
            </div>
            
            <ion-avatar  *ngIf="getContentImg(post.content) != ''" class="content-img-without-margin" (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)">
              <!-- <img src="{{getContentImg(post.content)}}"
              (click)="showBigImage(post.content)"> -->
              <img src="{{getContentImg(post.content)}}"> 
            </ion-avatar>
    
            <div class="channel-post-heart-comment-div">
              <img class="like" [ngClass]="{'like-s': checkMyLike(post.nodeId, post.channel_id, post.id)}" (click)="like(post.nodeId, post.channel_id, post.id)">
              <ion-label class="like-text" [ngClass]="{'like-s-text': checkMyLike(post.nodeId, post.channel_id, post.id)}" (click)="like(post.nodeId, post.channel_id, post.id)">{{post.likes}}</ion-label>
    
              <img src="../../../../assets/images/bubble-line.svg" class="comment" (click)="showCommentPage($event, post.nodeId, post.channel_id, post.id)">
              <ion-label class="comment-text"  (click)="showCommentPage($event, post.nodeId, post.channel_id, post.id)">{{post.comments}}</ion-label>
            </div>
          </div>
        </ion-card-content>
      </div>
      <div class="line-div white-line" *ngIf="i!=postList.length-1"></div>
    </div>
  </div>

<div *ngIf="bigImage" class="trans-big-img-div" (click)="hideBigImage()" >
  <div class="trans-big-img" >
    <img src="{{bigImageUrl}}" class="image"/>
  </div>
</div>
</ion-content>