* {
  font-family: 'Raleway', sans-serif;
}

ion-header {

  ion-toolbar {
    margin-top: 25px;
    margin-bottom: 25px;

    ion-title {
      font-size: 25px;
      font-weight: bold;
    }
  }
}

ion-searchbar {
  margin-top: 0;
}

ion-list {
  min-height: 100%;
  background-image: linear-gradient(to right, rgb(20, 20, 20) 0%, #325169 100%);
}

ion-card {
  background-color: peru;
}

