.addAssets{
    margin: 0 auto;
    width:135px;;
    height: 170px;
    background-color: #f6f5f6;
    border-radius: 10px;
    position: relative;
  }

  .addAssets1{
      position: absolute;
      /* margin: 10px auto 0; */
      width: 116px;
      height: 150px;
      background-color:#fff;
      left: 12px;
      top: 10px;
      border-radius: 10px
  }

  .addAssets1{
      img{
          margin: 0 auto;
          width:40px;
          height:40px;
          margin-top: 55px;
          margin-left: 38px;
      }
  }