
<ion-content>
  <div>
    Congratulation, the binding process come into the end with success. Now you need to sign in feeds service.
  </div>
  
  <!-- <ion-button shape="round" expand="full" (click)="signIn()">SignIn</ion-button> -->
  <!-- <ion-button shape="round" expand="full" (click)="createChannel()">Create Channel</ion-button> -->
  <!-- <ion-button shape="round" expand="full" (click)="returnMain()">Return to main screen</ion-button> -->
  <ion-button shape="round" expand="full" (click)="finish()">Finish</ion-button>

</ion-content>
