.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    min-height: 100%;

    ion-img {
        width: 103.2px;
        height: 103.2px;
    }

    p {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.22;
        color: #8888b0;
        text-align: center;
        margin: 25px 10px 50px;
    }

    .btn-row {
        margin-top: 40px;

        ion-button {
            width: 85%;
        }
    }

    .btns-row {
        margin-top: 40px;
    }
}