<ion-content>
  <app-titlebar></app-titlebar>
  <div *ngIf="connectionStatus == 1" class="offline-header"></div>
  <ion-grid class="container">
      <ion-img src="./assets/images/finsh.svg"></ion-img>
      <p>{{ 'FinishPage.introduce' | translate }}</p>
      <ion-row class="btn-row">
        <ion-button class="confirm" (click)="createChannel()">
          <ion-label>{{ 'FinishPage.introduce1' | translate }}</ion-label>
        </ion-button>
      </ion-row>
      <ion-row class="btns-row">
        <ion-col class="btn cancel ion-activatable ripple" size="8.5" (click)="returnMain()">
          <ion-label>{{ 'FinishPage.introduce2' | translate }}</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>