<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBackPage()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Channels to subscribe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>

  <ion-searchbar placeholder='Search Feeds' (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item class="feed-space" *ngFor="let desc of feedList">
      <ion-icon name="paper" slot="start"></ion-icon>
      <ion-button style="text-transform: none;" slot="end" color="primary" (click)="subscribe(desc.nodeId, desc.topic)" *ngIf="desc.subscribeState == 'Subscribe'">{{desc.subscribeState}}</ion-button>
      <ion-button style="text-transform: none;" slot="end" color="danger" (click)="unsubscribe(desc.nodeId, desc.topic)" *ngIf="desc.subscribeState != 'Subscribe'">{{desc.subscribeState}}</ion-button>
      <ion-label (click)="navigateToDetailPage(desc.nodeId, desc.topic)">{{desc.topic}}</ion-label>
    </ion-item>
    </ion-list>
</ion-content>
