<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBackPage()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Channels to subscribe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>

  <ion-searchbar placeholder='Search Feeds' (ionInput)="getItems($event)"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item  *ngFor="let desc of feedList" >
      <ion-grid  >
        <ion-row>
          <ion-col size="2" style="margin-top: 10px;" (click)="navigateToDetailPage(desc.nodeId, desc.topic)">
            <ion-icon name="paper" ></ion-icon>
          </ion-col>
          <ion-col size="6" (click)="navigateToDetailPage(desc.nodeId, desc.topic)">
            <ion-label style="font-size: 20px;" ><b>{{desc.topic}}</b></ion-label>

          </ion-col >

          <ion-col size="4" >

          <ion-button style="text-transform: none;" color="primary" (click)="subscribe(desc.nodeId, desc.topic)" *ngIf="desc.subscribeState == 'Subscribe'">{{desc.subscribeState}}</ion-button>
          <ion-button style="text-transform: none;" color="danger" (click)="unsubscribe(desc.nodeId, desc.topic)" *ngIf="desc.subscribeState != 'Subscribe'">{{desc.subscribeState}}</ion-button>
          </ion-col>
        </ion-row>
        <ion-row (click)="navigateToDetailPage(desc.nodeId, desc.topic)">
          <ion-col size="2">
          </ion-col>

          <ion-col size="6">
            <ion-label style="font-size: 13px;"><b>@ Publisher’s name</b></ion-label>
          </ion-col> 
          <ion-col  size="1" ></ion-col>
          <ion-col  size="3" >
            <ion-row >
              <ion-icon name="person" ></ion-icon>
              <ion-label >18</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
          <ion-row (click)="navigateToDetailPage(desc.nodeId, desc.topic)">
          <div style="margin-top: 10px;">
            <ion-label>
              <p>
                {{desc.desc}}
              </p>
            </ion-label>
          </div>
        </ion-row>
        
      </ion-grid>
    </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
