<app-titlebar></app-titlebar>
<!-- <div *ngIf="connectionStatus == 1" class="offline-header"></div> -->
<ion-content (ionScrollEnd)="ionScroll()" [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode" [class.blur]="!hideComment">
    <ion-card class="ion-activatable ripple profileCardBg0">
      <img class="profileFeeds"
         src="./assets/images/profile-feeds-logo.svg"
      />
      <img class="moremenu" (click)="profiledetail()"
      [src]="!theme.darkMode ? './assets/images/dots-three-vertical-dark.svg' : './assets/images/dots-three-vertical-dark.svg'">
       <div *ngIf="avatar===''" class="defaultAvatar"></div>
       <img *ngIf="avatar!=''" (click)="profiledetail()" [src]="avatar" style="border: 1px solid #f8f2ff;overflow:hidden;border-radius:50%;width:56px;height:56px;object-fit:cover;">
       <ion-card-title>{{name}}</ion-card-title>
       <ion-card-subtitle *ngIf="walletAddressStr!=''"><span style="text-transform: none" (click)="clickWalletAddr()">{{walletAddressStr}}</span><ion-icon (click)="copyWalletAddr()" style="vertical-align:middle;margin-left:5px;" name="copy-outline"></ion-icon></ion-card-subtitle>
       <span class="connectWallet" (click)="connectWallet()" *ngIf="walletAddressStr===''">{{"WalletteachPage.connectWallet" | translate}}</span>
    </ion-card>
    <ion-ripple-effect></ion-ripple-effect>

    <div class="number-container" [class.removeMargin]="selectType === 'ProfilePage.myLikes'" style="margin-bottom:0px;">
      <div class="left-tab" [class.tab-active]="selectType === 'ProfilePage.myFeeds'" (click)="changeType('ProfilePage.myFeeds')" style="padding:5px 6px;">
        <span>{{myFeedsSum}}</span>
      </div>
      <div class="middle-tab" [class.tab-active]="selectType === 'ProfilePage.collectibles'" (click)="changeType('ProfilePage.collectibles')">
        <span>{{ownNftSum}}</span>
      </div>
      <div class="right-tab" [class.tab-active]="selectType === 'ProfilePage.myLikes'" (click)="changeType('ProfilePage.myLikes')">
        <span>{{likeSum}}</span>
      </div>
    </div>
    <div class="tab-container" [class.removeMargin]="selectType === 'ProfilePage.myLikes'" style="margin-top:5px;">
      <div class="left-tab" [class.tab-active]="selectType === 'ProfilePage.myFeeds'" (click)="changeType('ProfilePage.myFeeds')">
        <span [class.tab-active-bottom-border]="selectType === 'ProfilePage.myFeeds'">{{ 'ProfilePage.myFeeds' | translate }}</span>
      </div>
      <div class="middle-tab" [class.tab-active]="selectType === 'ProfilePage.collectibles'" (click)="changeType('ProfilePage.collectibles')">
        <span [class.tab-active-bottom-border]="selectType === 'ProfilePage.collectibles'">{{ 'ProfilePage.collectibles' | translate }}</span>
      </div>
      <div class="right-tab" [class.tab-active]="selectType === 'ProfilePage.myLikes'" (click)="changeType('ProfilePage.myLikes')">
        <span [class.tab-active-bottom-border]="selectType === 'ProfilePage.myLikes'">{{'ProfilePage.myLikes' | translate }}</span>
      </div>
    </div>

    <app-myfeeds *ngIf="selectType == 'ProfilePage.myFeeds'" (toFeedPage)="toPage($event)" (subsciptions)="subsciptions()" (chanelCollections)="chanelCollections()"  [channels] = "channels" (fromChild)="showMenuMore($event)" [followers] = "followers"></app-myfeeds>
    <!-- <ion-row *ngIf="selectType === 'ProfilePage.collectibles'&&ownNftSum===0">
      <ion-col size="12">
       <div class="bigCircle">
           <div class="smallCircle">
              <img src="./assets/images/lock.svg"/>
           </div>
       </div>
    </ion-col>
    <ion-col size="12" class="subscribeChannel">
      {{"CollectionsPage.emptypurchased"|translate}}
    </ion-col>
    </ion-row> -->
    <div *ngIf="selectType === 'ProfilePage.collectibles'&&ownNftSum===0" class="empty-container" style="margin-top:50px;">
      <img src="./assets/images/no-Collectibles.svg">
      <h1>{{'ProfilePage.allempty' | translate }}</h1>
      <p>{{'ProfilePage.emptyDes' | translate }}</p>
      <ion-row class="btn-row">
        <ion-button (click)="clickMint()">
          <ion-label>
           {{"ProfilePage.createCollectible"|translate}}
          </ion-label>
        </ion-button>
      </ion-row>
    </div>
    <ion-row *ngIf="selectType === 'ProfilePage.collectibles'&&ownNftSum>0" class="leftrightrow" id="profileCollectibles">
      <ion-col size="6" *ngFor="let item of collectiblesList" class="profileCollectiblesCol" id={{handleId(item)}}>
        <app-assetitem
        [thumbImageName] = "thumbImageName"
        [isAutoGet] = "isAutoGet"
        [elaPrice] = "elaPrice"
        [assetItem] = "item"
        (clickAssetItem) = "clickAssetItem($event)"
        (clickMore) = "clickMore($event)"
        >
        </app-assetitem>
      </ion-col>
     </ion-row>
    <app-likes
       *ngIf="selectType == 'ProfilePage.myLikes'"
       [hideDeletedPosts] = "hideDeletedPosts"
       [isImgPercentageLoading]="isImgPercentageLoading"
       [isImgLoading]="isImgLoading"
       [imgloadingStyleObj]="imgloadingStyleObj"
       [imgPercent]="imgPercent"
       [imgRotateNum]="imgRotateNum"
       [isVideoLoading]="isVideoLoading"
       [isVideoPercentageLoading]="isVideoPercentageLoading"
       [videoloadingStyleObj]="videoloadingStyleObj"
       [videoPercent]="videoPercent"
       [videoRotateNum]="videoRotateNum"
       [likeList] = "likeList"
       [isLoadVideoiamge]="isLoadVideoiamge"
       [likeMap]="likeMap"
       [likeNumMap] = "likeNumMap"
       [commentNumMap] = "commentNumMap"
       [channelNameMap] = "channelNameMap"
       [isLoadingLikeMap] = "isLoadingLikeMap"
       (fromChild)="showMenuMore($event)"
       (commentParams)="showComment($event)"
       (clickImage)="showBigImage($event)"
       (toPage)="toPage($event)"
       >
    </app-likes>

  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      class="ion-padding-top"
      loadingSpinner="circles"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!---------------- ADD share menu---------------->
<app-sharemenu
 *ngIf="hideSharMenuComponent"
 [destDid] = "shareDestDid"
 [channelId] = "shareChannelId"
 [isShowTitle] = "isShowTitle"
 [isShowQrcode] = "isShowQrcode"
 [isShowUnfollow] = "isShowUnfollow"
 [isShowInfo] = "isShowInfo"
 [isPreferences]="isPreferences"
 [channelName] = "channelName"
 [qrCodeString]="qrCodeString"
 (hideShareMenu)="hideShareMenu($event)"
>
</app-sharemenu>
<div class="add-tab" *ngIf="selectType!='ProfilePage.collectibles'" (click)="createPost()">
  <img src="/assets/images/createPost.svg"/>
</div>
<div class="add-nft" *ngIf="selectType==='ProfilePage.collectibles'" (click)="createNft()">
  <img src="/assets/images/createNFT.svg"/>
</div>
<!---------------- ADD COMMENT FOOTER ---------------->
<app-comment
  *ngIf="!hideComment"
  [postId]="postId"
  [destDid]="nodeId "
  [channelId]="channelId"
  [channelAvatar]="channelAvatar"
  [channelName]="channelName"
  (hideComment)="hideComponent($event)"
></app-comment>
