.container {
    padding: 40px 0;

    /********** Tabs *********/
    .tab-container {
        height: 43px;
        margin: 25px 20px 75px;
        border-radius: 19px;
        background: #f0f1ff;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .left-tab, .middle-tab, .right-tab {
            padding: 12px 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 1.05px;
                text-align: center;
                color: #8888b0;
            }
        }

        .left-tab {
            width: 30%;
        }

        .middle-tab {
            width: 30%;
        }

        .right-tab {
            width: 30%;
        }

        .tab-active {
            background:#368bff;
            border-radius: 19px;
            transform: scale(1.1);

            span {
                transform: scale(0.9);
                color: #ffffff;
            }
        }
    }
}

.darkContainer{

    .tab-container {
        background-color: #2e2f4e;

        .left-tab, .middle-tab, .right-tab {
            span{
               color:#cfd1f7;
            }
        }
    }

    .channel-title-div .channel-title{
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .channel-desc-div .white{
        color: #ffffff;
    }
}
