<ion-content>
  

  <div class="channel-img-div">
    <img *ngIf="avatar == ''" class="profile-img" src="assets/images/default-contact.svg">
    <img *ngIf="avatar != ''" class="profile-img" [src]="avatar">
  </div>

  <div class="channel-title-div">
    <ion-label class="channel-title">{{name}}</ion-label>
  </div>

  <div class="center-flex" style="margin-top: 10px;">
      <img class="profile-sub-img" src="assets/images/bubble2.svg">
      <ion-label class="profile-sub-text">{{followers}} </ion-label>
      <ion-label  class="profile-subscribe">Followers</ion-label>
  </div>

  <div class="channel-desc-div">
    <ion-label class="channel-desc" >{{description}} </ion-label>
  </div>


  <ion-slides [options]="slideOpts">
    <ion-slide
      *ngFor="let type of types"
      (click)="changeType(type)"
      >
      <div [class.highlight]="selectType === type">
        <ion-label class="tab-text">
          {{type}}
        </ion-label>
      </div>

    </ion-slide>
  </ion-slides>

  <!-- <app-details *ngIf="selectType == 'Details'"></app-details> -->
  <app-myfeeds *ngIf="selectType == 'MyFeeds'"></app-myfeeds>
  <app-following *ngIf="selectType == 'Following'"></app-following>
  <app-likes  *ngIf="selectType == 'Likes'"></app-likes>
  <!-- <app-source  *ngIf="selectType == 'Sources'"></app-source> -->

</ion-content>