<ion-content>
<ion-grid class="ios-container" [class.ios-dark-container]="theme.darkMode">
    <ion-row class="section dev-mode" (click)="toggleDeveloperMode()">
        <ion-col size="9" class="title-col">
            <h1>{{"SettingsPage.devmode" | translate }}</h1>
            <h2 *ngIf="developerMode">{{ 'SettingsPage.on' | translate }}</h2>
            <h2 *ngIf="!developerMode">{{ 'SettingsPage.off' | translate }}</h2>
        </ion-col>
        <ion-col size="3" class="arrow-col">
            <ion-toggle *ngIf="developerMode" checked mode="ios"></ion-toggle>
            <ion-toggle *ngIf="!developerMode" mode="ios"></ion-toggle>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
