<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-title>My tidings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>


  <ion-item>
    <ion-col size="2">
    <ion-icon style="font-size: 44px;" name="football"></ion-icon>
    </ion-col>
    <ion-col size="10">
    <ion-label style="font-size: 20px;"><b>{{title}}</b></ion-label>
    </ion-col>
  </ion-item>

  <ion-list>
  <ion-item *ngFor="let msg of myEvents ">
    <ion-grid>
      <!-- <ion-row> -->
        <img *ngIf="msg.imageUrl!=''" src={{msg.imageUrl}} >
        <ion-label >{{msg.message}}</ion-label>
      <!-- </ion-row> -->
      <ion-row>
        <ion-col size="2.25"
        size-lg="2.25">
          <ion-button fill="clear" mode="ios" (click)="chat()">
            <ion-icon name="chatbubbles" slot="icon-only" ></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="6.25"
        size-xs="6.25">
          <ion-button fill="clear" mode="ios" (click)="like()">
            <ion-icon name="heart" slot="icon-only" ></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3.5"
        size-xs="3.5">
          <ion-label style="margin-top: 10px;">{{msg.timestamp | date:'MM-dd HH:mm'}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
<ion-fab *ngIf="!isArchive" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add" (click)="openPopOverComponent()"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
