* {
    font-family: 'Raleway', sans-serif;
  }

  ion-header {

    ion-toolbar {
      margin-top: 25px;
      margin-bottom: 25px;

      .header-btns {
        font-size: 25px;
      }

      ion-title {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

  .event-list-content{
    margin-top: 10%;
  }
