.content{
    --ion-background-color: #F1E9FF;
  }

  .skip{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color:#7624fe;
    text-align:center;
  }

  .slide {
    ion-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 30px;

      p {
        font-size:14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        color:#7624fe;
      }

      .header-row {
        margin-top: 20px;
        ion-col {
          img {
            width: 301px;
            height: 266px;
            margin: 0 auto;
          }

          h1 {
            font-size: 40px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            text-align: center;
            color:#7624fe;
          }
        }
      }
    }

    .learnmore-row{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 15px;

      ion-label {
        font-size: 14px;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #7624fe;
      }
    }
  }

  .darkSlides {
    p, h1 {
      color:#7624fe !important;
    }
  }