<div id="commentMask" [class.mask]="!theme.darkMode" [class.darkMask]="theme.darkMode" (click)="hideComponent()"></div>
<ion-footer [class.ionfooter]="isAndroid==='android'"  [class.ioniosfooter]="isAndroid==='ios'">
  <ion-list class="channel-list" [class.darkChannelList]="theme.darkMode">

    <ion-item class="removeBorder" lines="none">
      <ion-row class="channel-row ion-activatable ripple">
        <ion-col size="2.5" class="left-col">

          <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode" *ngIf="refcommentId!='0'">
            <img *ngIf="isBorder"  style="border: 1.25px solid #368bff;" class="comment-avatar" src={{channelAvatar}}>
            <img  *ngIf="!isBorder" class="comment-avatar" src={{channelAvatar}}>
          </div>

          <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode" *ngIf="refcommentId==='0'">
            <img src={{channelAvatar}}>
          </div>
        </ion-col>
        <ion-col size="8" class="middle-col">
          <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{'ServerInfoPage.replyingto'|translate}} @{{ channelName }}</ion-label>
          <!-- <p>Comments</p> -->
        </ion-col>
        <ion-col size="1.5" class="right-col" (click)="hideComponent()">
          <ion-icon src="assets/icons/cross.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-row class="input-row">
      <ion-col offset="1.5" size="10.5">
        <ion-textarea
          #comment
          autofocus="true"
          rows="6" cols="20"
          [(ngModel)]="newComment"
          placeholder="{{'CommentPage.inputComment'|translate}}"
        >
        </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row class="submit-row">
      <ion-col offset="1.5" size="4" class="left-col">
        <!-- <ion-icon id="image" mode="ios" name="image" (click)="addImg()"></ion-icon>
        <ion-icon id="camera" mode="ios" name="camera" (click)="addImg()"></ion-icon> -->
      </ion-col>
      <ion-col class="right-col" size="6.5">
        <ion-button (click)="sendComment()">
          <ion-label>{{ 'CommentPage.publishComment' | translate }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-list>
</ion-footer>