<ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="stacked">{{'CommentComponent.newComment'|translate}}</ion-label>
          <!-- <img *ngIf="eventImaUrl != ''" src="{{eventImgUrl}}"> -->
          <ion-textarea clearOnEdit="true" autofocus="true" rows="6" cols="20" [(ngModel)]="newComment"  placeholder="{{'CommentComponent.enterComments'|translate}}"></ion-textarea>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="2">
          <ion-button fill="clear" mode="ios" color="dark" (click)="addPic()">
          <ion-icon name="images"></ion-icon>  
          </ion-button>
      </ion-col> -->
    </ion-row>
 </ion-grid>
<div class="ion-padding" >
  <ion-button
    expand="block"
    mode="ios"
    color="primary"
    (click)="publishComment()"
  >
    <ion-label>{{'CommentComponent.publishComment'|translate}}</ion-label>
  </ion-button>
</div>
