<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>

<ion-content>
  <ion-list class="channel-list" [class.darkChannelList]="theme.darkMode">

    <ion-item class="removeBorder" lines="none">
      <ion-row class="channel-row ion-activatable ripple">
        <ion-col size="2" class="left-col">
          <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
            <img src={{channelAvatar}}>
            <div class="offline" [class.online]="nodeStatus[nodeId] == 0"></div>
          </div>
        </ion-col>
        <ion-col size="9" class="middle-col">
          <ion-label>{{ channelName }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-textarea  autoGrow="true" clearOnEdit="true" autofocus="true" placeholder="{{'CreatenewpostPage.des'|translate}}" [(ngModel)]="newPost">
    </ion-textarea>

    <div *ngIf="imgUrl !== ''" class="img-container">
      <img src="{{imgUrl}}" (click)="showBigImage(imgUrl)" />
      <img class="remove" src="/assets/icons/remove.svg" (click)="imgUrl = ''"/>
    </div>

    <div *ngIf="flieUri" style="position: relative;">
    <img style="position:absolute;z-index: 10;right: -8px;top: -8px;width: 20px;height: 20px;" src="/assets/icons/remove.svg" (click)="flieUri = ''"/>
    <vg-player style="width:200;height:200px" *ngIf="flieUri">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
  
      <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
  
      <vg-controls [vgAutohide]="true">
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
  
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-fullscreen></vg-fullscreen>
      </vg-controls>
   
  <video #media [vgMedia]="media" id="singleVideo" preload="auto"
  poster=""
  playsinline webkit-playsinline>
  <source [src]="flieUri" [type]="videotype">
  </video>
  </vg-player>
  </div>
    <p *ngIf="uploadProgress>0&&uploadProgress!=100" style="text-align: center;">视频加载中({{uploadProgress}})............</p>

    <ion-row class="submit-row">
      <ion-col class="left-col">
        <ion-icon id="image" mode="ios" name="image" (click)="addImg(0)"></ion-icon>
        <ion-icon id="camera" mode="ios" name="camera" (click)="addImg(1)"></ion-icon>
        <ion-icon id="selectvideo" mode="ios" name="selectvideo" (click)="selectvideo()"></ion-icon>
        <ion-icon id="videocam" name="videocam" (click)="videocam()"></ion-icon>
      </ion-col>
      <ion-col class="right-col" size="4.5">
        <ion-button (click)="post()">
          <ion-label>{{ 'CreatenewpostPage.post' | translate }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  
  </ion-list>
</ion-content>
