.rightContent{
    position:absolute;
    left:100px;
    top:13px;
}

.ellipsis{
    width:150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:inline-block;
}

.darkContainer{
 .rightContent .white{
    color: #ffffff;
}

.white{
    --placeholder-color:#cfd1f7;
    --color:#cfd1f7;
}
}