<ion-content [class.darkContainer]="theme.darkMode">
     <div class="channel-img-small-div">
      <div class="channel-img-small">
        <ion-avatar>
          <div class="feed-source-card-status" style="position: absolute;top:0px;left:0px">
            <div class="online-circle"  *ngIf="nodeStatus[nodeId] == 0"></div>
            <div class="offline-circle" *ngIf="nodeStatus[nodeId] == 1"></div>
          </div>
          <img  src={{channelAvatar}}>
        </ion-avatar>
      </div> 
     </div>

     <div class="rightContent">
          <div> 
            <ion-label class="channel-title-small ellipsis white">{{channelName}}</ion-label>
          </div>
          <div>
            <img src="../../../../assets/images/bubble2.svg" class="bubble">
            <ion-label class="channel-follower2">{{subscribers}} {{'common.followers'|translate}}</ion-label>
          </div>
    </div>
    <div class="channel-img-small-div">
    <ion-textarea rows="5" cols="20" placeholder="{{'CreatenewpostPage.des'|translate}}" [(ngModel)]="newPost" class="white"></ion-textarea>
    </div>

    <div style="text-align: center;">
      <img *ngIf="imgUrl != ''" class="channel-post-img" src="{{imgUrl}}" (click)="showBigImage(imgUrl)">
    </div>

    <ion-row>
      <ion-col size="6" style="text-align:center;">
        <ion-button (click)="addImg()" style="width: 120px;">{{'CreatenewpostPage.addimg'|translate}}</ion-button>
      </ion-col>
      <ion-col size="6" style="text-align:center;">
        <ion-button (click)="post()" style="width: 120px;">{{'CreatenewpostPage.post'|translate}}</ion-button>
      </ion-col>
    </ion-row>

    <div *ngIf="bigImage" (click)="hideBigImage()" style="width: 100%;height:100%;position:fixed;left:0px;top:0px">
      <div class="trans-big-img" >
        <img src="{{bigImageUrl}}" class="image"/>
      </div>
    </div>

  </ion-content>

