<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<!-- <div *ngIf="connectionStatus == 1" class="offline-header"></div> -->
<ion-content class="container" [class.darkContainer]="theme.darkMode" [class.content]="!theme.darkMode">
  <ion-grid>
    <h2>{{'IntroducePage.des1'|translate}}</h2>
    <p>{{'IntroducePage.des2'|translate}}<span (click)="gotoWebsite()">{{'IntroducePage.des3'|translate}}</span>{{'IntroducePage.des4'|translate}}</p>
    <h2>{{'IntroducePage.des7'|translate}}</h2>
    <p>{{'IntroducePage.des8'|translate}}</p>
    <img src="./assets/images/shop.svg"/>
    <p>{{'IntroducePage.des5'|translate}}</p>
    <p>{{'IntroducePage.des6'|translate}}</p>


    <ion-row class="btn-row">
      <ion-button class="confirm" (click)="next()">
        <ion-label>{{'IntroducePage.next'|translate}}</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
