<!-- <ion-header> -->
  <app-titlebar></app-titlebar>
  <div *ngIf="connectionStatus == 1" class="offline-header"></div>
<!-- </ion-header> -->
<ion-content ion-padding [class.darkContainer]="theme.darkMode">
  <div class="first white">
     {{'PublishdidPage.introduce'|translate}}
  </div>

  <div class="second">
    <div class="introduce">{{'PublishdidPage.introduce1'|translate}}</div>
    {{'PublishdidPage.payload'|translate}}
  </div>

  <div class="three">
   <p style="margin:10px;">{{payload}}</p>
  </div>

  <div class="confirm" (click)="publishDid()">
    {{'PublishdidPage.publishonDIDsidechain'|translate}}
  </div>

</ion-content>
