<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<!-- <div *ngIf="connectionStatus == 1" class="offline-header"></div> -->
<ion-content class="container" [class.darkContainer]="theme.darkMode" [class.content]="!theme.darkMode">
  <ion-grid >
    <h1>{{'IssuecredentialPage.introduce'|translate}}</h1>
    <h2>{{'IssuecredentialPage.introduce1'|translate}}</h2>
    <p>{{'IssuecredentialPage.introduce2'|translate}}</p>
    <img src="./assets/images/certificate.svg">
    <ion-row class="btn-row">
      <ion-button class="confirm" (click)="issueCredential()">
        <ion-label>{{'IssuecredentialPage.issueacredential'|translate}}</ion-label>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>