<ion-content ion-padding>
  <div class="first">
      <ion-img src="./assets/images/finsh.svg" class="finsh"></ion-img>
      <ion-img src="./assets/images/publish.svg" class="publish"></ion-img>
  </div>

  <div class="second">
    <div class="introduce"> {{'IssuecredentialPage.introduce'|translate}}</div>
    <div class="introduce"> {{'IssuecredentialPage.introduce1'|translate}}</div>
  </div>

  <div class="confirm" (click)="issueCredential()">
    {{'IssuecredentialPage.issueacredential'| translate}}
  </div>

</ion-content>
