<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>

<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <div class="first">
      <ion-img src="./assets/images/finish.svg" class="finsh"></ion-img>
      <ion-img src="./assets/images/publish.svg" class="publish"></ion-img>
    </div>
    <h1>{{ 'IssuecredentialPage.introduce' | translate }}</h1>
    <p>
      {{'IssuecredentialPage.introduce1'|translate}} <br><br>
      {{ 'IssuecredentialPage.introduce2' | translate }}
    </p>
    <ion-row class="btn-row">
      <ion-button class="confirm" (click)="issueCredential()">
        <ion-label> {{ 'IssuecredentialPage.issueacredential' | translate }}</ion-label>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>