.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    min-height: 100%;

    .first {
        position: relative;
        width: 320px;
        margin: 90px auto;

        .publish {
            position: absolute;
            width: 78px;
            height:78px;
            left:121px;
            top:0px;
            z-index: 2;
        }

        .finsh{
            position: absolute;
            width: 26px;
            height:26px;
            left:180px;
            top:8px;
            z-index:3;
        }
    }

    h1 {
        font-size: 21px;
        font-weight: 700;
        color: #000000;
        margin: 0 10px;
    }
    
    p {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.22;
        color: #8888b0;
        text-align: center;
        margin: 25px 10px 50px;
    }

    .btn-row {
        margin-top: 40px;

        ion-button {
            width: 100%;
        }
    }

    .btns-row {
        margin-top: 40px;
    }
}

.darkContainer {
    h1 {
        color: #ffffff;
    }
}


/* .first{
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 95px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000000;
}

.first .publish{
    position: absolute;
    width: 78px;
    height:78px;
    left:121px;
    top:0px;
    z-index: 2;
}

.first .finsh{
    position: absolute;
    width: 26px;
    height:26px;
    left:180px;
    top:8px;
    z-index:3;
}


.second{
    margin-top: 180px;
}

.second .introduce{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8888b0;
    margin-bottom: 5px;
    word-wrap:break-word;  
    // word-break:break-all; 
}

.confirm{
    width: 268.2px;
    height: 41px;
    line-height: 41px;
    border-radius: 9px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #368bff;
    margin: 0 auto;
    text-align: center;
    margin-top: 83px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
  }

  .abort{
    width: 110px;
    height: 41px;
    line-height: 41px;
    border-radius: 9px;
    border: solid 1px #368bff;
    background-color: #f0f1ff;
    margin: 0 auto;
    margin-top:32px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #368bff;
  }

.darkContainer{
    .white{
        color:#ffffff;
    }
}
   */