<div class="addAssets ion-activatable ripple" [ngStyle]="styleObj" [class.light]="!theme.darkMode" [class.dark]="theme.darkMode">
  <div *ngIf="assetItem === null">
    <img src="assets/images/loading.png" style="object-fit:contain;"/>
    <div class="des">&nbsp;</div>
    <div class="des1">&nbsp;</div>
    <div class="des2">&nbsp;</div>
    <div class="like">
      <span>&nbsp;</span>
    </div>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <div *ngIf="assetItem != null ">
    <div style="height:132px;padding: 0px 5px;">
    <img src="{{hanldeImg(assetItem['thumbnail'])}}" (click)="clickItem()" style="object-fit:contain;"/>
    </div>
    <div class="des" [class.black]="!theme.darkMode" [class.white]="theme.darkMode">{{assetItem['name']}}</div>
    <div class="des1" [class.black]="!theme.darkMode" [class.white]="theme.darkMode">{{assetItem['description']}}</div>
    <div class="des2">{{"MintnftPage.nftQuantity"|translate}}: {{assetItem['quantity']}}/1</div>
    <div class="like" *ngIf="assetItem['fixedAmount'] != null">
      <span class="price">{{hanldePrice(assetItem['fixedAmount'])}} ELA/ETHSC</span>
    </div>
    <div class="like" (click)="onSale()" *ngIf="assetItem['fixedAmount'] === null">
      <span class="onSale">{{'CollectionsPage.onSale'|translate}}</span>
    </div>
    <div class="moremenu1">
      <img [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'" (click)="more()"/>
    </div>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</div>
