.addAssets{
    position:relative;
    margin: 0 auto;
    width: 160px;
    height: 233px;
    border-radius: 10px;
    text-align: center;
}
.light{
    background-color: #fff;
    border: solid 1px #f5f4f8;
}
.dark{
    background-color:#191a2f;
    border: solid 1px #707070;
}

.addAssets{

.white{
  color:#fff;
}

.black{
 color:#000;
}

img{
    margin-top:11px;
    // width:145px;
    height: 132px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.des{
    margin-left:13.1px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.des1{
    margin-left:13.1px;
    font-size: 6px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.des2{
    margin-left:13.1px;
    font-size: 6px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #9ca0a4;
}

.des3{
    margin-left:38px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.like{
    .price{
        display:inline-block;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        color: #7624fe;
        margin-top: 12px;
    }
    .onSale{
        display: inline-block;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        /* text-align: left; */
        color: #7624fe;
        margin-top: 12px;
        border: solid 1px #7624fe;
        border-radius: 10px;
        width: 60px;
        height: 20px;
        text-align: center;
        font-size: 16px;
    }
    text-align: center;
    img{
        width:16px;
        height:16px;
        margin-top: 0px;
        vertical-align: middle;
    }
}

.moremenu1{
    text-align:right;
    margin-right: 11px;

    img{
        width: 38px;
        height: 18px;
        position: absolute;
        right: -6px;
        bottom: 47px;
    }
}
}