<div class="addAssets">
  <div *ngIf="assetItem === null">
    <img src="assets/images/loading.png" style="height:148px;"/>
  </div>
  <div *ngIf="assetItem != null ">
    <img src="{{hanldeImg(assetItem['thumbnail'])}}" (click)="clickItem()"/>
    <div class="des" (click)="clickItem()">{{assetItem['name']}}</div>
    <div class="des1" (click)="clickItem()">{{assetItem['description']}}</div>
    <div class="des2" (click)="clickItem()">Edition 1 of 1</div>
    <div class="like" (click)="clickItem()" *ngIf="assetItem['fixedAmount']!=''">
      <span>{{hanldePrice(assetItem['fixedAmount'])}} ELA/ETH</span>
      <!-- <img src="./assets/images/like.svg"/> -->
    </div>
    <div class="moremenu1">
      <img src="./assets/images/dots-three-vertical.svg" (click)="more()"/>
    </div>
  </div>
</div>
