.addAssets{
    position:relative;
    margin: 0 auto;
    width:135px;
    height: 170px;
    background-color: #f6f5f6;
    border-radius: 10px;
    text-align: center;
}

.addAssets{
img{
    margin-top:11px;
    width: 116px;
    height: 98px;
    border-radius: 10px;
}

.des{
    margin-left:13.1px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des1{
    margin-left:13.1px;
    font-size: 6px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des2{
    margin-left:13.1px;
    font-size: 6px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des3{
    margin-left:38px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.like{
    span{
        display:inline-block;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        color: #000000;
        margin-right:13px;
        margin-top:1px;
    }
    text-align:right;
    margin-right: 11px;
    img{
        width:16px;
        height:16px;
        margin-top: 0px;
        vertical-align: middle;
    }
}

.moremenu1{
    text-align:right;
    margin-right: 11px;

    img{
        width: 13px;
        height: 13px;
        position: absolute;
        right: 8px;
        bottom: 38px;
    }
}
}