.addAssets{
    position:relative;
    margin: 0 auto;
    width: 160px;
    height: 233px;
    background-color: #f6f5f6;
    border-radius: 10px;
    text-align: center;
}

.addAssets{
img{
    margin-top:11px;
    // width:145px;
    height: 132px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.des{
    margin-left:13.1px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des1{
    margin-left:13.1px;
    font-size: 6px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des2{
    margin-left:13.1px;
    font-size: 6px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des3{
    margin-left:38px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.like{
    span{
        display:inline-block;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        color: #000000;
        margin-top: 12px;
    }
    text-align: center;
    img{
        width:16px;
        height:16px;
        margin-top: 0px;
        vertical-align: middle;
    }
}

.moremenu1{
    text-align:right;
    margin-right: 11px;

    img{
        width: 38px;
        height: 18px;
        position: absolute;
        right: -6px;
        bottom: 47px;
    }
}
}