<ion-grid style="width: 100%; padding: 35px;">
  <ion-row>
    <ion-col>
      <img src="../../../../assets/images/profile-1.svg" (click)="selectIndex(1)">
      <div class="select-div" *ngIf="select == 1">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
    <ion-col>
      <img src="../../../../assets/images/profile-2.svg" (click)="selectIndex(2)">
      <div class="select-div" *ngIf="select == 2">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
    <ion-col>
      <img src="../../../../assets/images/profile-3.svg" (click)="selectIndex(3)">
      <div class="select-div" *ngIf="select == 3">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
    <ion-col>
      <img src="../../../../assets/images/profile-4.svg" (click)="selectIndex(4)">
      <div class="select-div" *ngIf="select == 4">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <img src="../../../../assets/images/profile-5.svg" (click)="selectIndex(5)">
      <div class="select-div" *ngIf="select == 5">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>

    <ion-col>
      <img src="../../../../assets/images/profile-6.svg" (click)="selectIndex(6)">
      <div class="select-div" *ngIf="select == 6">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
    <ion-col>
      <img src="../../../../assets/images/profile-7.svg" (click)="selectIndex(7)">
      <div class="select-div" *ngIf="select == 7">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
    <ion-col>
      <img src="../../../../assets/images/profile-8.svg" (click)="selectIndex(8)">
      <div class="select-div" *ngIf="select == 8">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="../../../../assets/images/profile-9.svg" (click)="selectIndex(9)">
      <div class="select-div" *ngIf="select == 9">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
    <ion-col>
      <img src="../../../../assets/images/profile-add.svg" (click)="selectIndex(0)">
      <div class="select-div" *ngIf="select == 0">
        <img src="../../../../assets/images/profile-select.svg">
      </div>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-button expand="block" color="primary" (click)="comfirm()">Comfirm</ion-button>