
<app-titlebar></app-titlebar>
<!-- <div *ngIf="connectionStatus == 1" class="offline-header"></div> -->
  <ion-content>
    <ion-grid>
      <ion-row>

        <!-- DEFAULT AVATARS -->
        <ion-col
          *ngFor="let avatar of avatars"
          size="4"
        >
          <div
            class="avatar"
            [ngStyle]="{ 'background-image': 'url(' + avatar.image + ')' }"
            (click)="selectIndex(avatar.index, avatar.image)"
          >
          <div
            *ngIf="select == avatar.index"
            class="check"
            [ngStyle]="{ 'border': theme.darkMode ? '1px solid #fff' : '1px solid #f8f8ff' }"
            >
            <ion-icon
              name="checkmark"
              [ngStyle]="{ 'color': theme.darkMode ? '#fff' : '#f8f8ff' }"
            >
            </ion-icon>
            </div>
          </div>
        </ion-col>

        <!-- HAS UPLOADED AVATAR -->
        <ion-col
          *ngIf="uploadedAvatar"
          size="4"
        >
        <div
          [ngStyle]="{ 'background-image': 'url(' + uploadedAvatar + ')' }"
          size="4"
          (click)="selectIndex(0, uploadedAvatar)"
          class="avatar uploadedAvatar"
        >
          <div
            *ngIf="select === 0"
            class="check"
            [ngStyle]="{ 'border': theme.darkMode ? '1px solid #fff' : '1px solid #f8f8ff' }"
          >
            <ion-icon
              name="checkmark"
              [ngStyle]="{ 'color': theme.darkMode ? '#fff' : '#f8f8ff' }"
            >
            </ion-icon>
          </div>
        </div>
        </ion-col>

        <!-- UPLOAD AVATAR -->
        <ion-col size="4">
          <div
            class="avatar"
            [ngStyle]="{ 'background-image':'url(/assets/images/profile-add.svg)'}"
            (click)="selectIndex(0)"
          >
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="btn-row">
        <ion-button (click)="confirm()">
          <ion-label>{{ 'ProfileimagePage.confirm' | translate }}</ion-label>
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>