<ion-row class="channel-row ion-activatable ripple">
      <ion-col
        size="2.5"
        class="left-col"
      >
        <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
          <img src={{channelCollectionAvatar}} id={{channelCollectionAvatarId}}>
        </div>
      </ion-col>
      <ion-col
        size="8"
        class="middle-col"
      >
        <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{channelCollection.name }}</ion-label>
        <ion-row>
           <p>{{ channelCollection.description }}</p>
        </ion-row>
        <ion-row>
          <p style="color: #7624fe;">{{statusDes | translate}}</p>
        </ion-row>
      </ion-col>
      <ion-col size="1.5" class="right-col" (click)="menuMore()">
        <img [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'">
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
</ion-row>

