<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-title>Tidings</ion-title>
    <!-- <ion-title>{{title}}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item *ngIf="feedEvents.length>0">
    <ion-col size="2">
    <ion-icon style="font-size: 44px;" name="football"></ion-icon>
    </ion-col>
    <ion-col size="10">
   <!-- <ion-label><b>disconnect</b></ion-label> -->
    <ion-label style="font-size: 20px;"><b>{{title}}</b></ion-label>
    <ion-label style="font-size: 13px;"><b>{{ownerName}}</b></ion-label>
    </ion-col>
  </ion-item>
  
  
  <ion-list>
    <!-- <ion-card *ngFor="let msg of feedEvents ">
      <ion-card-header>{{today | date}}</ion-card-header>
      <ion-card-content>{{msg.message}}</ion-card-content>
    </ion-card> -->


    <ion-item *ngFor="let post of feedEvents ; let i = index"  >
      <ion-grid>
        <ion-row (click)="navTo(post.channel_id, post.id)">
          <ion-label >{{post.content}}</ion-label>
        </ion-row>
        <ion-row  >
          <ion-col size="3.25">
            <ion-button fill="clear" mode="ios" (click)="showCommentPage($event, post.channel_id, post.id)">
              <ion-icon name="chatbubbles" slot="icon-only" ></ion-icon>
              <ion-label >&nbsp;{{post.comments}}</ion-label>
            </ion-button>
          </ion-col>

          <!-- <ion-col size="2">
            <ion-button fill="clear" mode="ios">
            <ion-label >{{post.comments}}</ion-label>
            </ion-button>
          </ion-col> -->

          <ion-col size="2.25" >
            <ion-button fill="clear" mode="ios" (click)="like(post.channel_id,post.id)">
              <ion-icon name="heart" slot="icon-only" ></ion-icon>
              <ion-label >&nbsp;{{post.likes}}</ion-label>
            </ion-button>
          </ion-col>

          <!-- <ion-col size="1">
            <ion-button fill="clear" mode="ios">
            <ion-label >{{post.likes}}</ion-label>
            </ion-button>
          </ion-col> -->

          <ion-col size="3" (click)="navTo(post.channel_id, post.id)">
          </ion-col>

          <ion-col size="3.5"
          size-xs="3.5" (click)="navTo(post.channel_id, post.id)">
            <ion-label style="margin-top: 10px;" >{{post.created_at | date:'MM-dd HH:mm'}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div> -->

      <!-- <ion-label >{{msg.message}}</ion-label>
    
      <div style="margin: 10px;">
      <ion-button fill="clear" mode="ios">
        <ion-icon name="chatbubbles" slot="icon-only" ></ion-icon>
      </ion-button>
    
      <ion-button fill="clear" mode="ios">
        <ion-icon name="heart" slot="icon-only" ></ion-icon>
      </ion-button>
      <ion-label >{{msg.timestamp | date:'MM-dd HH:mm'}}</ion-label>

    </div>

    </div> -->
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
