<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-title>Tidings</ion-title>
    <!-- <ion-title>{{title}}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>

  <ion-item>
    <ion-col size="2">
    <ion-icon style="font-size: 44px;" name="football"></ion-icon>
    </ion-col>
    <ion-col size="10">
   <!-- <ion-label><b>disconnect</b></ion-label> -->
    <ion-label style="font-size: 20px;"><b>{{title}}</b></ion-label>
    <ion-label style="font-size: 13px;"><b>@ publisher’s name</b></ion-label>
    </ion-col>
  </ion-item>
  
  
  <ion-list>
    <!-- <ion-card *ngFor="let msg of feedEvents ">
      <ion-card-header>{{today | date}}</ion-card-header>
      <ion-card-content>{{msg.message}}</ion-card-content>
    </ion-card> -->


    <ion-item *ngFor="let msg of feedEvents ">
      <ion-grid>
        <ion-row>
          <ion-label >{{msg.message}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="1.25">
            <ion-button fill="clear" mode="ios" (click)="chat()">
              <ion-icon name="chatbubbles" slot="icon-only" ></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="2">
            <ion-button fill="clear" mode="ios">
            <ion-label >23</ion-label>
            </ion-button>
          </ion-col>

          <ion-col size="1.25">
            <ion-button fill="clear" mode="ios" (click)="like()">
              <ion-icon name="heart" slot="icon-only" ></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="1">
            <ion-button fill="clear" mode="ios">
            <ion-label >66</ion-label>
            </ion-button>
          </ion-col>

          <ion-col size="3">
          </ion-col>

          <ion-col size="3.5"
          size-xs="3.5">
            <ion-label style="margin-top: 10px;">{{msg.timestamp | date:'MM-dd HH:mm'}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div> -->

      <!-- <ion-label >{{msg.message}}</ion-label>
    
      <div style="margin: 10px;">
      <ion-button fill="clear" mode="ios">
        <ion-icon name="chatbubbles" slot="icon-only" ></ion-icon>
      </ion-button>
    
      <ion-button fill="clear" mode="ios">
        <ion-icon name="heart" slot="icon-only" ></ion-icon>
      </ion-button>
      <ion-label >{{msg.timestamp | date:'MM-dd HH:mm'}}</ion-label>

    </div>

    </div> -->
    </ion-item>
  </ion-list>
</ion-content>
