<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-title>Feeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <ion-list>
    <ion-card *ngFor="let msg of feedEvents ">
      <!-- <ion-card-header> {{msg.timestamp}} </ion-card-header> -->
      <ion-card-header>{{today | date}}</ion-card-header>
      <ion-card-content>{{msg.message}}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
