<app-titlebar></app-titlebar>
<ion-content (ionScrollEnd)="ionScroll()" [scrollEvents]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}" >
    </ion-refresher-content>
  </ion-refresher>

  <div class="container" [class.blur]="!hideComment">

     <!---------------- Comment DETAILS ---------------->
     <ion-grid class="postDetail-grid ion-activatable ripple" [class.dark-postDetail-grid]="theme.darkMode">
      <ion-row class="top-row">
        <ion-col class="left-col" size="2.25">
          <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
            <img *ngIf="captainComment.createrDid != destDid" style="border: 1.25px solid #368bff;" class="comment-avatar" src="./assets/images/default-contact.svg">
            <img *ngIf="captainComment.createrDid === destDid" class="comment-avatar" [src] = "channelAvatar">
          </div>
        </ion-col>
        <ion-col class="mid-col" size="8">
          <ion-label (press)="pressContent(captainComment.createrDid)" [style.touch-action]="'pan-y'">
            {{ userNameMap[captainComment.createrDid] }}
          </ion-label>
            <p (press)="pressContent(createrDid)" [style.touch-action]="'pan-y'"><span style="color:#7624fe;">{{'ServerInfoPage.replyingto'|translate}}</span> @{{ userNameMap[destDid] }}</p>
        </ion-col>
       <ion-col class="right-col" size="1.5"  *ngIf="captainComment.status != 1 && isOwnComment[captainComment.commentId]">
          <img (click)="menuMore()"
                [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'"
          >
        </ion-col>
      </ion-row>
      <ion-row class="mid-row">
        <ion-col>
          <h2 *ngIf="captainComment.status===1">
            <pre>{{'common.cdeleted' | translate}}</pre>
          </h2>
          <h2 *ngIf="captainComment.status!=1">
            <pre [ngStyle]="styleObj" [innerHTML]="captainComment.content | html" (click)="clickUrl($event)" (press)="pressContent(captainComment.content)" [style.touch-action]="'pan-y'"></pre>
          </h2>
        </ion-col>
      <ion-col size="12">
          <span style="font-size: 10px;font-weight: 500;color: #8888b0;">{{ handleUpdateDate(updatedAt) }}</span>
      </ion-col>
      </ion-row>
     <ion-row class="bottom-row">
        <ion-col size="1.75" (click)="likeComment(captainComment)">
           <img [src]="likedCommentMap[captainComment.commentId] === 'like' ? '/assets/images/like-s.svg' : '/assets/images/darkmode/like.svg'" *ngIf="theme.darkMode">
           <img [src]="likedCommentMap[captainComment.commentId] === 'like' ? '/assets/images/like-s.svg' : '/assets/images/like.svg'" *ngIf="!theme.darkMode">
           <ion-label [class.liked]="likedCommentMap[captainComment.commentId] === 'like' ">{{ likedCommentNum[captainComment.commentId] }}</ion-label>
        </ion-col>
        <ion-col size="1.75" (click)="showComment(captainComment)">
          <img src="/assets/images/bubble-line.svg" *ngIf="!theme.darkMode">
          <img src="/assets/images/darkmode/bubble-line.svg" *ngIf="theme.darkMode">
          <ion-label>{{ commentsNum }}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="status" *ngIf="captainComment.status === 2">{{ 'common.edit' | translate}} </ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-ripple-effect></ion-ripple-effect> -->
    </ion-grid>


    <!---------------- COMMENTS ---------------->
    <div *ngIf="replayCommentList.length>0">
      <div *ngFor="let replayComment of replayCommentList">
        <ion-grid  class="post-grid ion-activatable ripple replayCommentPostGrid" [class.darkPostGrid]="theme.darkMode"
        id={{replayComment.destDid}}-{{replayComment.channelId}}-{{replayComment.postId}}-{{replayComment.commentId}}-{{replayComment.createrDid}}
        >
          <ion-row class="post-row">
            <ion-col class="right-col" size="1.5"  *ngIf="replayComment.status != 1 && isOwnComment[replayComment.commentId]">
              <img (click)="openEditTool(replayComment)"
                [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'"
              >
            </ion-col>
            <ion-col class="img-col" size="2.5">
                <img *ngIf="replayComment.destDid === replayComment.createrDid" class="comment-avatar" style="border: none;" [src]="channelAvatar">
                <img *ngIf="replayComment.destDid != replayComment.createrDid" class="comment-avatar" src='./assets/images/default-contact.svg'>
            </ion-col>
            <ion-col class="content-col" size="8">
              <ion-row class="top-row">
                <ion-col class="left-col" size="10.5" (press)="pressContent(replayComment.createrDid)" [style.touch-action]="'pan-y'">
                  <ion-label>
                    @{{ userNameMap[replayComment.createrDid] }}
                    <span> {{handleDisplayTime(replayComment.createdAt) }}</span>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-label>
                <p (press)="userNameList[replayComment.refcommentId]" [style.touch-action]="'pan-y'"><span style="color:#7624fe;" [style.touch-action]="'pan-y'">{{'ServerInfoPage.replyingto'|translate}}</span> @{{ userNameMap[userNameList[replayComment.refcommentId]]}}</p>
              </ion-label>
              <h2 *ngIf="replayComment.status === 1">
                <pre>{{'CommentlistPage.replydeleted' | translate}}</pre>
              </h2>
              <h2 *ngIf="replayComment.status != 1&&getPostContentTextSize(replayComment.content)<=maxTextSize" (press)="pressContent(replayComment.content)" [style.touch-action]="'pan-y'">
                <pre [ngStyle]="dstyleObj" [innerHTML]="replayComment.content | html" (click)="clickUrl($event)"></pre>
              </h2>
              <h2 *ngIf="replayComment.status != 1&&getPostContentTextSize(replayComment.content)>maxTextSize&&!isFullContent[replayComment.commentId]" (press)="pressContent(replayComment.content)" [style.touch-action]="'pan-y'">
                <pre [ngStyle]="dstyleObj" [innerHTML]="handleCommentContent(replayComment.content) | html" (click)="clickUrl($event)"></pre>
                <pre [ngStyle]="styleObj" style="color:#368bff;" (click)="showFullContent(replayComment.commentId)">{{"common.showmore" | translate }}</pre>
              </h2>
              <h2 *ngIf="replayComment.status != 1&&getPostContentTextSize(replayComment.content)>maxTextSize&&isFullContent[replayComment.commentId]" (press)="pressContent(replayComment.content)" [style.touch-action]="'pan-y'">
                <pre [ngStyle]="dstyleObj" [innerHTML]="replayComment.content | html" (click)="clickUrl($event)"></pre>
                <pre [ngStyle]="styleObj" style="color:#368bff;" (click)="hideFullContent(replayComment.commentId)">{{"common.showless" | translate }}</pre>
              </h2>
              <ion-row class="bottom-row">
                <ion-col>
                  <ion-label class="status" style="right:-7px;" *ngIf="replayComment.status === 2">{{ 'common.edit' | translate}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-grid>
        </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
      class="ion-padding-top"
      loadingSpinner="circles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<!---------------- ADD COMMENT FOOTER ---------------->
<app-comment
  *ngIf="!hideComment"
  [postId]="postId"
  [destDid]="destDid"
  [channelId]="channelId"
  [refcommentId]="refcommentId"
  [channelAvatar]="commentAvatar"
  [channelName]="channelName"
  (hideComment)="hideComponent($event)"
></app-comment>

