<ion-header *ngIf="connectionStatus == 1">
    <div class="offline-header"></div>
</ion-header>

<ion-content>
    <ion-grid class="container" [class.darkContainer]="theme.darkMode">
        <ion-list>
            <ion-item lines="none">
                <ion-label position="stacked">{{ 'IssuecredentialPage.serverName' | translate }}</ion-label>
                <ion-input clearInput autofocus [placeholder]="'IssuecredentialPage.inputName' | translate" [(ngModel)] ="name"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">{{'IssuecredentialPage.serverDes' | translate }}</ion-label>
                <ion-input clearInput autofocus [placeholder]="'IssuecredentialPage.inputServerDes' | translate" [(ngModel)] ="introduction"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-row>
                    <ion-col>
                        <ion-label position="stacked">{{ 'IssuecredentialPage.elaaddress' | translate }}</ion-label>
                        <ion-input clearInput autofocus [placeholder]="'IssuecredentialPage.inputElaAddress' | translate" [(ngModel)] ="elaAddress"></ion-input>
                    </ion-col>
                    <img [src]="!theme.darkMode ? './assets/images/scan.svg' : './assets/images/scan-dark.svg'" (click)="clickScan()">
                </ion-row>
            </ion-item>
        </ion-list>

        <ion-row class="btns-row" [class.dark-btns-row]="theme.darkMode">
            <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancel()">
                <ion-label>{{ 'common.cancel' | translate }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
            <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="confirm()">
                <ion-label>{{ 'common.save' | translate }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-header *ngIf="connectionStatus == 1">
    <div class="offline-header"></div>
  </ion-header>
<ion-content [class.darkContainer]="theme.darkMode">
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="top-15">
               <ion-item lines="none">
                    <ion-label position="stacked">{{'IssuecredentialPage.serverName'|translate}}</ion-label>
                    <ion-input clearInput autofocus class="white" [placeholder]="'IssuecredentialPage.serverName' | translate" [(ngModel)] ="name"></ion-input>
                    <div class="line dark-line"></div>
                </ion-item>
                
            </ion-col>

            <ion-col size="12" class="top-15">
                <ion-item lines="none">
                    <ion-label position="stacked">{{'ServerInfoPage.introduction'|translate}}</ion-label>
                    <ion-input clearInput autofocus class="white" [placeholder]="'IssuecredentialPage.serverDes' | translate" [(ngModel)] ="introduction"></ion-input>
                    <div class="line dark-line"></div>
                </ion-item>
            </ion-col>

            <ion-col size="12" class="top-15">
                <ion-item lines="none">
                    <ion-label position="stacked">{{'IssuecredentialPage.elaaddress'|translate}}</ion-label>
                    <ion-input clearInput autofocus class="white" [placeholder]="'IssuecredentialPage.elaaddress' | translate" [(ngModel)] ="elaAddress"></ion-input>
                    <div class="line dark-line"></div>
                    <ion-avatar slot="end" style="width: 28px;height: 28px;position: absolute;right:10px" (click)="clickScan()">
                        <img src="./assets/images/scan.svg" *ngIf="!theme.darkMode" >
                        <img src="./assets/images/scan-dark.svg" *ngIf="theme.darkMode">
                    </ion-avatar>
                </ion-item>
            </ion-col>

            <ion-col size="6" style="text-align: center;" (click)="cancel()" class="top-30">
                <span class="cancel">{{ 'common.cancel' | translate }}</span>
              </ion-col>
          
              <ion-col size="6" style="text-align: center;" (click)="confirm()" class="top-30">
                <span class="confirm">{{ 'common.save' | translate }}</span>
              </ion-col>
              <div style="height:15px">&nbsp;</div>
        </ion-row>
    </ion-grid>
</ion-content>
 -->