
.number {
    width: 100%;
    height: 19px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #161740;
  }

.title {
    width: 100%;
    height: 14px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #a0a2c4;
}

ion-input{
    // width: 60px;
    padding: 0px;
    margin: 0px;
    height: 14px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #a0a2c4;
}

.button-div{
    width: 106px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -0.43px;
    text-align: center;
    color: #fdfeff;
}

.createChannel{
    width: 300px;
    height: 41px;
    line-height: 41px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #368bff;
    margin: 0 auto;
    margin-top:50px;
    font-size: 18px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   text-align: center;
   color: #fdfeff;
   border-radius: 9px;
}

.darkContainer{
    .white{
        color: #cfd1f7;
    }

    .line-dark{
        background-color: #2e2f4e;
    }
}

.content-key{
    width: 100%;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.44;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000000;
}

.content-value{
    width: 100%;
    height: 15px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 2.4px;
    text-align: left;
    color: #8888b0;
}