// ion-tab-bar {
//   height: 9%;

//   ion-icon {
//     color: #989aa2;
//     font-size: 36px;
//   }

//   ion-label {
//     font-size: 9px;
//     font-weight: bold;
//     color: #989aa2;
//   }
// }



ion-tab-button.center-tab{
  position: absolute;;
  overflow: visible;
  text-align: center;
  height: 96px;
  width: 96px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0px;
  z-index: 99999;
  ion-icon{
      padding: 6px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: var(--ion-color-white, #fff);
      background-color: var(--ion-color-primary, #9b7af3);
      // background-color: #1b0a93;
      border-radius:50%;
      border:5px solid #fff;
      // box-shadow:0 -2px 3px rgba(100,100,100,.4);
  }.selected{
    color: var(--ion-color-white, #fff);

  }
}

.home-tab{
  // src: url();
  // src: url('../../../assets/images/profile.svg');
  // src="../../../assets/images/home.svg"
  // color: #368bff;
  // src: url('../../../assets/images/home.svg');
  width: 25px;
  height: 21.7px;
  border: 0px;
  // src: url('../../../assets/images/home.svg');
  background-image:  url('../../../assets/images/home.svg');;
}

.home-tab-selected{
  // src: url();
  // src: url('../../../assets/images/profile.svg');
  // src="../../../assets/images/home.svg"
  // color: #368bff;
  border: none;
  width: 23px;
  height: 20px;
  border: 0px;

  // src: url('../../../assets/images/home-s.svg');
  background-image: url('../../../assets/images/home-s.svg');
  // src: url('../../../assets/images/user-2.svg');

}

.profile-tab{
  width: 24.7px;
  height: 23px;
  background-image: url('../../../assets/images/user.svg');
}

.profile-tab-selected{
  width: 22px;
  height: 23px;
  background-image: url('../../../assets/images/user-s.svg');
}

.add-tab{
  width: 46px;
  height: 46px;
  background-image: url('../../../assets/images/add.svg');
}

.notification-tab{
  width: 22.3px;
  height: 24.3px;
  background-image: url('../../../assets/images/notification.svg');
}

.notification-tab-selected{
  width: 20.3px;
  height: 22.7px;
  background-image: url('../../../assets/images/notification-s.svg');
}

.search-tab{
  width: 21px;
  height: 21px;
  background-image: url('../../../assets/images/search.svg');
}

.search-tab-selected{
  width: 22px;
  width: 22px;
  background-image: url('../../../assets/images/search-s.svg');
}

.tabs-line{
  width: 100%; 
  height: 2px; 
  background-image: url(../../../assets/images/line.svg); 
  bottom: 0px;
}

.tabs-div{
  height: 58.5px; 
  width: 100%;
}
