<ion-tabs  (ionTabsDidChange)="tabChanged($event)">
  <div class="tabs-line"> </div>
  
  <ion-tab-bar class="tabs-div" >
    <ion-tab-button tab="home" (click)="home()">
      <div  class="home-tab" [ngClass]="{'home-tab-selected': currentTab == 'home'}"></div>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="profile()">
      <div  class="profile-tab" [ngClass]="{'profile-tab-selected': currentTab == 'profile'}"></div>
    </ion-tab-button>

    <ion-tab-button>
      <div class="add-tab" (click)="create()"></div>
    </ion-tab-button>

    <ion-tab-button tab="notification" (click)="notification()">
      <div class="notification-tab" [ngClass]="{'notification-tab-selected': currentTab == 'notification'}"></div>
    </ion-tab-button>

    <ion-tab-button tab="search" (click)="search()">
      <div class="search-tab" [ngClass]="{'search-tab-selected': currentTab == 'search'}"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
