<app-titlebar></app-titlebar>
<ion-content>
  <!-- <div [class.tab-container]="!theme.darkMode" [class.dark-tab-container]="theme.darkMode" [class.removeMargin]="selectType === 'AssetdetailsPage.history'" style="margin-top:5px;">
    <div class="left-tab" [class.tab-active]="selectType === 'AssetdetailsPage.contract'" (click)="changeType('AssetdetailsPage.contract')">
      <span [class.tab-active-bottom-border]="selectType === 'AssetdetailsPage.contract'">{{ 'AssetdetailsPage.contract' | translate }}</span>
    </div>
    <div class="right-tab" [class.tab-active]="selectType === 'AssetdetailsPage.history'" (click)="changeType('AssetdetailsPage.history')">
      <span [class.tab-active-bottom-border]="selectType === 'AssetdetailsPage.history'">{{'AssetdetailsPage.history' | translate }}</span>
    </div>
  </div> -->
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <ion-row class="detail-row removeBorder" *ngIf="selectType === 'AssetdetailsPage.contract'">
      <ion-col size="12" class="left-col" (press)="clickImages()" [style.touch-action]="'pan-y'">
        <h1>{{ "AssetdetailsPage.asset" | translate}}</h1>
        <img src="{{assetUri}}" class="assetsImg"/>
      </ion-col>
    </ion-row>
    <div *ngIf="selectType === 'AssetdetailsPage.contract'" style="margin-bottom:10px;">
    <div *ngFor="let contractDetail of contractDetails">
      <ion-row *ngIf="contractDetail.details" class="detail-row removeBorder">
        <ion-col size="12" class="left-col">
            <h1>{{ contractDetail.type | translate}}</h1>
            <h2 *ngIf="contractDetail.type === 'AssetdetailsPage.stickerContractAddress' || contractDetail.type === 'AssetdetailsPage.pasarContractAddress' || contractDetail.type === 'AssetdetailsPage.tokenID' || contractDetail.type === 'AssetdetailsPage.creator'; else inputid" (press)="copytext(contractDetail.details)">{{ contractDetail.details }}</h2>
            <ng-template #inputid>
              <h2>{{ contractDetail.details }}</h2>
            </ng-template>
        </ion-col>
      </ion-row>
    </div>
   </div>
   <div style="height:78px" *ngIf="price===null"></div>
   <div class="footer" *ngIf="price===null">
    <div class="btns">
      <ion-row class="btn-row" (click)="onSale()">
        <ion-button style="height:48px;">
          <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{'CollectionsPage.onSale' | translate}}</ion-label>
        </ion-button>
      </ion-row>
    </div>
   </div>

   <div *ngIf="price!=null" style="height:160px"></div>
   <!-- <div class="footer" *ngIf="showType==='buy'&&accAddress!=sellerAddress"> -->
   <div class="footer" *ngIf="price!=null">
    <ion-row class="detail-row removeBorder">
      <ion-col size="12" class="left-col">
        <h1 style="text-align: center;">{{ "MintnftPage.nftfixedPrice" | translate}}</h1>
        <div style="text-align: center;color: #7624fe;font-size: 18px;font-weight: bold;margin-top: 13px;">{{ hanldePrice(price) }} ELA</div>
    </ion-col>
    </ion-row>
   <div class="btns" style="margin-bottom:0px;">
    <ion-row class="btn-row">
      <ion-button (click)="changePrice()" style="height:48px;">
        <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{'BidPage.changePrice' | translate}}</ion-label>
      </ion-button>
    </ion-row>
  </div>
</div>
   <!-- <div class="footer" *ngIf="price!=null">
    <div class="btns">
      <ion-row class="btn-row">
        <ion-col size="0.5">

        </ion-col>
        <ion-col size="5.5" (click)="changePrice()">
          <ion-button style="height:48px;">
            <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{'BidPage.changePrice' | translate}}</ion-label>
          </ion-button>
        </ion-col>

        <ion-col size="5.5" (click)="clickCancelOrder()">
          <ion-button style="height:48px;">
            <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{ 'BidPage.cancelOrder' | translate}}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="0.5">

        </ion-col>
      </ion-row>
    </div>
   </div> -->
    <!--- purchase Info -->
    <!-- <div style="margin-bottom:10px;"  *ngIf="selectType === 'AssetdetailsPage.history'">
       <div *ngFor="let purchaseInfo of purchaseInfos">
        <ion-row *ngIf="purchaseInfo.details" class="detail-row removeBorder">
          <ion-col size="12" class="left-col">
              <h1>{{ purchaseInfo.type | translate}}</h1>
              <h2  (press)="copytext(purchaseInfo.details)">{{ purchaseInfo.details }}</h2>
          </ion-col>
        </ion-row>
       </div>
        <div class="btns">
          <ion-row class="btn-row delete-row">
            <ion-button (click)="purchaseInfoBurn()" color="danger">
              <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{'AssetdetailsPage.burn' | translate}}</ion-label>
            </ion-button>
          </ion-row>
        </div>
    </div> -->
  </ion-grid>
</ion-content>
<app-nftloading
 *ngIf="isLoading"
 [loadingTitle] = "loadingTitle"
 [loadingText] = "loadingText"
 [loadingCurNumber] = "loadingCurNumber"
 [loadingMaxNumber] = "loadingMaxNumber"
>
</app-nftloading>
