<app-titlebar></app-titlebar>
<ion-content class="container" [class.darkContainer]="theme.darkMode">
  <!-- <div [class.tab-container]="!theme.darkMode" [class.dark-tab-container]="theme.darkMode" [class.removeMargin]="selectType === 'AssetdetailsPage.history'" style="margin-top:5px;">
    <div class="left-tab" [class.tab-active]="selectType === 'AssetdetailsPage.contract'" (click)="changeType('AssetdetailsPage.contract')">
      <span [class.tab-active-bottom-border]="selectType === 'AssetdetailsPage.contract'">{{ 'AssetdetailsPage.contract' | translate }}</span>
    </div>
    <div class="right-tab" [class.tab-active]="selectType === 'AssetdetailsPage.history'" (click)="changeType('AssetdetailsPage.history')">
      <span [class.tab-active-bottom-border]="selectType === 'AssetdetailsPage.history'">{{'AssetdetailsPage.history' | translate }}</span>
    </div>
  </div> -->
  <ion-grid style="position: relative;
  height: 100%;
  overflow: auto;" [ngClass]="{'bootom1':price===null,'bootom2':price!=null}">
    <ion-row class="detail-row removeBorder" *ngIf="selectType === 'AssetdetailsPage.contract'">
      <ion-col size="12" class="left-col">
        <h1 *ngIf="did===null" (press)="copytext(ownerAddress)" [style.touch-action]="'pan-y'">{{dispalyOwer}}</h1>
        <h1 (click)="switchDid()" *ngIf="did!=null" style="margin-bottom: 0px;" (press)="copyDid()"
          [style.touch-action]="'pan-y'"><img src="./assets/images/nft-user-circle.svg" class="nftusercircle" /><span
            *ngIf="didName===null">{{didDispaly}}</span><span *ngIf="didName!=null">{{didName}}</span><img
            src="./assets/images/switch.svg" class="switch" *ngIf="isSwitch" /></h1>
        <img src="{{assetUri}}" class="assetsImg" *ngIf="imageType==='avatar' || imageType==='image'" />
        <img src="assets/images/avatar.svg" *ngIf="imageType==='avatar'"
          style="position:absolute;left:10px;top:36px;width:24px;height:24px;z-index: 999;" />
        <img src="assets/images/videoTypeIcon.svg" *ngIf="imageType==='video'"
          style="position:absolute;left:10px;top:36px;width:24px;height:24px;z-index: 999;" />
        <img src="assets/images/audioTypeIcon.svg" *ngIf="imageType==='audio'&&!isAudioLoading"
          style="position:absolute;left:-1px;top:28px;width:24px;height:24px;z-index: 999;" />
        <!-- video -->
        <div *ngIf="imageType==='video'&&this.thumbnail!=''"
          style="border:none;position:relative;margin: 0 auto;margin-top: 5px;">
          <app-videostyle [videoIdObj]="videoIdObj">
          </app-videostyle>
        </div>

        <div *ngIf="imageType==='audio'" style="border:none;position:relative;margin: 0 auto;margin-top:23px;text-align: center;
       ">
          <ion-col size="12" class="loading" *ngIf="isAudioLoading">
            <img *ngIf="!theme.darkMode" class="loadingIcon" src="./assets/images/nftloading.gif" />
            <img *ngIf="theme.darkMode" class="loadingIcon" src="./assets/images/darkmode/nftloading.gif" />
          </ion-col>
          <audio controls="controls" id="assetdetails-audio" style="width: 100%;" controlsList="nodownload"
            oncontextmenu="return false" [src]="assetUri" [type]="kind">
          </audio>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="selectType === 'AssetdetailsPage.contract'" style="margin-bottom:10px;">
      <div *ngFor="let contractDetail of contractDetails">
        <ion-row *ngIf="contractDetail.details" class="detail-row removeBorder">
          <ion-col size="12" class="left-col">
            <h1 *ngIf="contractDetail.type === 'BidPage.verifiedCreator'; else inputid1">{{ contractDetail.type |
              translate}} <img style="vertical-align:top;" src="assets/images/verified-user.svg" /></h1>
            <ng-template #inputid1>
              <h1>{{ contractDetail.type | translate}}</h1>
            </ng-template>
            <h2
              *ngIf="contractDetail.type === 'AssetdetailsPage.stickerContractAddress' || contractDetail.type === 'AssetdetailsPage.pasarContractAddress' || contractDetail.type === 'AssetdetailsPage.tokenID' || contractDetail.type === 'AssetdetailsPage.creator' || contractDetail.type === 'AssetdetailsPage.creator'; else inputid"
              (press)="copytext(contractDetail.details)" [style.touch-action]="'pan-y'">{{ contractDetail.details }}
            </h2>
            <ng-template #inputid>
              <h2>{{ contractDetail.details }}</h2>
            </ng-template>
          </ion-col>
        </ion-row>
      </div>
      <ion-row class="detail-row removeBorder" style="padding-top: 20px;" (click)="openPasarExplorer()">
        <ion-col size="12" style="text-align:center;">
           <span style="color: #0f97ff;border-bottom: 1px solid #0f97ff;padding-bottom:2px;">{{'AssetdetailsPage.pasarExplorer' | translate}}</span>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <div class="footer" *ngIf="price===null">
    <div class="btns">
      <ion-row class="btn-row" (click)="onSale()">
        <ion-button style="height:48px;">
          <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">
            {{'CollectionsPage.onSale' | translate}}</ion-label>
        </ion-button>
      </ion-row>
    </div>
  </div>
  <div class="footer" *ngIf="price!=null">
    <ion-row class="detail-row removeBorder">
      <ion-col size="12" class="left-col">
        <h1 style="text-align: center;">{{ "MintnftPage.nftfixedPrice" | translate}}</h1>
        <div style="text-align: center;color: #7624fe;font-size: 18px;font-weight: bold;margin-top: 13px;">{{
          hanldePrice(price) }} ELA</div>
        <div style="text-align: center;font-size: 8px;margin-top:3px;color: #9ca0a4;">≈USD {{ usdPrice }} ELA</div>
      </ion-col>
    </ion-row>
    <div class="btns" style="margin-bottom:0px;">
      <ion-row class="btn-row">
        <ion-button (click)="changePrice()" style="height:48px;">
          <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">
            {{'BidPage.changePrice' | translate}}</ion-label>
        </ion-button>
      </ion-row>
    </div>
  </div>
</ion-content>
<app-nftloading *ngIf="isLoading" [loadingTitle]="loadingTitle" [loadingText]="loadingText"
  [loadingCurNumber]="loadingCurNumber" [loadingMaxNumber]="loadingMaxNumber">
</app-nftloading>