.container {
    min-height: 100%;
}

.postDetail-grid {
    border-bottom: 1px solid #f0f1ff;
    padding: 20px;

    ion-row {
        width: 100%;
    }

    .top-row {
        .left-col {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }

        .mid-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            ion-label {
                font-size: 15px;
                font-weight: 700;
                color: #000000;

                span {
                    position: relative;
                    bottom: 1.5px;
                    font-size: 10px;
                    font-weight: 500;
                    color: #8888b0;
                }
            }

            p {
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                color: #8888b0;
            }
        }

        .right-col {
            // display: flex;
            // justify-content: flex-end;
            // align-items: center;
            position: absolute;
            right: 0px;
            img {
                width:20px;
                height:20px;
                overflow: visible;
            }
        }
    }

    .mid-row {
        ion-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h2 {
                margin: 0;

                pre {
                    margin: 0 !important;
                    font-family: 'SourceSansPro' !important;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.25;
                }
            }

            .post-img {
                margin-top: 10px;
                width: 100%;
                height: 191px;
                object-fit: cover;
                border-radius: 11px;
            }
        }
    }

    .bottom-row {
        width: 100%;
        margin-top: 10px;
        padding: 0;

        ion-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-label {
                margin-left: 5px;
                font-size: 11px;
                font-weight: 600;
                color: #a0a2c4;
            }

            .liked {
                color: rgb(209, 81, 81);
            }

            .commented {
                color: #007AFF;
            }

            img {
                width: 16px;
                height: 14px;
                overflow: visible;
            }
        }
    }
}

.dark-postDetail-grid {
    border-bottom: 1px solid #2e2f4e;

    .top-row {
        .mid-col {
            ion-label {
                color: #ffffff;

                span {
                    color: #cfd1f7;
                }
            }

            p {
                color: #cfd1f7;
            }
        }
    }

    .bottom-row {
        ion-col {
            ion-label {
                color: #a0a2c4;
            }

            .liked {
                color: rgb(209, 81, 81);
            }

            .commented {
                color: #007AFF;
            }
        }
    }
}

.post-grid {
    padding: 10px 20px 10px 0;

    .post-row {
        .img-col {
            .comment-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1.25px solid #368bff;
                object-fit: cover;
            }
        }

        .right-col {
            position: absolute;
            right: 0px;
            img {
                width:20px;
                height:20px;
                overflow: visible;
            }
        }

        .content-col {
            .bottom-row {
                ion-col {
                    padding-left: 0;
                }
            }
        }
    }
}