
    <!-- <div class="channel-img-small-div">
      <img class="channel-img-small" src="../../../../assets/images/component-480-3.png"  >

    
      <div class="channel-detail-div">
        <div class="channel-detail-text-div">
          <div style="vertical-align: middle;"> 
            <ion-label class="channel-title-small">{{channelName}}</ion-label>
            <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
          </div>

          <div> 
            <ion-label class="channel-desc-small">@{{channelOwner}}</ion-label>
          </div>

        </div>
      </div>
      
          <div class="channel-post-div" style=""> 
            <ion-label class="channel-post">{{postContent}}</ion-label>
            
          </div>
          <img src="../../../../assets/images/screenshot-2020-04-26-at-05-20-13.png"
                  srcset="../../../../assets/images/screenshot-2020-04-26-at-05-20-13@2x.png 2x,
                  ../../../../assets/images/screenshot-2020-04-26-at-05-20-13@3x.png 3x"
                  class="channel-post-img" >

          <div class="channel-post-heart-comment-div">
            <img src="../../../../assets/images/heart.svg" class="heart" >
            <ion-label class="heart-text" >{{likesNum}}</ion-label>

            <img src="../../../../assets/images/bubble-line.svg" class="comment" (click)="comment()">
            <ion-label class="comment-text"  (click)="comment()">{{commentsNum}}</ion-label>

            <ion-label class="channel-ts">{{postTS|date:'MM-dd HH:mm'}}</ion-label>

          </div>
    </div>
    <img src="../../../assets/images/rectangle-5389.svg"
    class="detail-line"> -->

<ion-content>
    <div class="channel-img-small-div">
      <img class="channel-img-small" src="../../../../../assets/images/component-480-47.png">

    
      <div class="channel-detail-div">
        <div class="channel-detail-text-div">
          <div style="height: 100%; vertical-align: middle;"> 
            <ion-label class="channel-title-small">{{channelName}}</ion-label>
            <!-- <ion-label class="channel-ts">post.created_at|date:'MM-dd HH:mm'</ion-label> -->
            <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
          </div>

          <div> 
            <ion-label class="channel-desc-small">@{{channelOwner}}</ion-label>
          </div>
        </div>
      </div>
    </div>

    <div class="channel-post-detail-div">
        <div class="channel-post-div"> 
          <ion-label class="channel-post">{{getContentText(postContent)}}</ion-label>
          
        </div>
        <img *ngIf="getContentImg(postContent) != ''" src="{{getContentImg(postContent)}}"
            class="channel-post-img"  (click)="navToPostDetail(post.nodeId, post.channel_id, post.id)">

        <!-- <img src="../../../../../assets/images/screenshot-2020-04-26-at-05-20-13.png"
                srcset="../../../../../assets/images/screenshot-2020-04-26-at-05-20-13@2x.png 2x,
                ../../../../../assets/images/screenshot-2020-04-26-at-05-20-13@3x.png 3x"
                class="channel-post-img" > -->

        <div class="channel-post-heart-comment-div">
          <img src="../../../../../assets/images/heart.svg" class="heart">
          <ion-label class="heart-text" >{{likesNum}}</ion-label>

          <img src="../../../../../assets/images/bubble-line.svg" class="comment" >
          <ion-label class="comment-text">{{commentsNum}}</ion-label>

          <ion-label class="post-detail-ts">{{postTS|date:'MM-dd HH:mm'}}</ion-label>

        
      
        </div>
    </div>
    <img src="../../../assets/images/rectangle-5389.svg"
    class="detail-line">



      <div class="channel-img-small-div">
        <img class="channel-img-small" src="../../../../assets/images/component-480-3.png" >
  
      
        <div class="channel-detail-div">
          <div class="channel-detail-text-div">
            <div style="height: 100%; vertical-align: middle;" > 
              <ion-label class="channel-title-small">comment-name</ion-label>
              <ion-label class="channel-ts">comment-ts</ion-label>
              <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
            </div>
  
            <div  (click)="navTo(post.nodeId, post.channel_id)"> 
              <ion-label class="channel-desc-small">@owner-name</ion-label>
            </div>
            <!-- <div class="channel-desc-small">{{getChannel(post.nodeId, post.channel_id).owner_name}} 
  
            </div> -->
  
            <div class="channel-post-div" > 
              <ion-label class="channel-post">comment-content</ion-label>
              
            </div>
            <img src="../../../../assets/images/screenshot-2020-04-26-at-05-20-13.png"
                    srcset="../../../../assets/images/screenshot-2020-04-26-at-05-20-13@2x.png 2x,
                    ../../../../assets/images/screenshot-2020-04-26-at-05-20-13@3x.png 3x"
                    class="channel-post-img"  >
  
            <div class="channel-post-heart-comment-div">
              <img src="../../../../assets/images/heart.svg" class="heart" >
              <ion-label class="heart-text" >0</ion-label>
  
              <img src="../../../../assets/images/bubble-line.svg" class="comment" >
              <ion-label class="comment-text"  >0</ion-label>
            </div>
          </div>
        </div>
      </div>
      <img src="../../../assets/images/rectangle-5389.svg"
      class="detail-line">


      <div class="channel-img-small-div">
        <img class="channel-img-small" src="../../../../assets/images/component-480-3.png" >
  
      
        <div class="channel-detail-div">
          <div class="channel-detail-text-div">
            <div style="height: 100%; vertical-align: middle;" > 
              <ion-label class="channel-title-small">comment-name</ion-label>
              <ion-label class="channel-ts">comment-ts</ion-label>
              <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
            </div>
  
            <div  (click)="navTo(post.nodeId, post.channel_id)"> 
              <ion-label class="channel-desc-small">@owner-name</ion-label>
            </div>
            <!-- <div class="channel-desc-small">{{getChannel(post.nodeId, post.channel_id).owner_name}} 
  
            </div> -->
  
            <div class="channel-post-div" > 
              <ion-label class="channel-post">comment-content</ion-label>
              
            </div>
            <img src="../../../../assets/images/screenshot-2020-04-26-at-05-20-13.png"
                    srcset="../../../../assets/images/screenshot-2020-04-26-at-05-20-13@2x.png 2x,
                    ../../../../assets/images/screenshot-2020-04-26-at-05-20-13@3x.png 3x"
                    class="channel-post-img"  >
  
            <div class="channel-post-heart-comment-div">
              <img src="../../../../assets/images/heart.svg" class="heart" >
              <ion-label class="heart-text" >0</ion-label>
  
              <img src="../../../../assets/images/bubble-line.svg" class="comment" >
              <ion-label class="comment-text"  >0</ion-label>
            </div>
          </div>
        </div>
      </div>
      <img src="../../../assets/images/rectangle-5389.svg"
      class="detail-line">


</ion-content>