<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>
<ion-content [class.darkContainer]="theme.darkMode">
  <!-- <div [ngClass]="{'mask-div': bigImage}"> -->
    <div class="image-text-layout-div" >
      <ion-card-content class="ion-no-padding ion-no-margin">
          <div class="menu-div"  (click)="menuMore()">
            <img  src="./assets/images/dots-three-vertical.svg" *ngIf="!theme.darkMode" style="width:12.4;height:3px">
            <img  src="./assets/images/dots-three-vertical-dark.svg" *ngIf="theme.darkMode" style="width:12.4;height:3px">
          </div>
          <div class="image-text-div" (click)="navTo(post.nodeId, post.channel_id)">
              <ion-avatar class="avatar-div">
                <div class="feed-source-card-status" style="position: absolute;top:0px;left:0px">
                  <div class="online-circle"  *ngIf="nodeStatus[nodeId] == 0"></div>
                  <div class="offline-circle" *ngIf="nodeStatus[nodeId] == 1"></div>
                </div>
                <img  src={{channelAvatar}}>
              </ion-avatar>

              <div class="text-div">
                <div class="text1-div"> 
                  <ion-label class="channel-title-small white">{{channelName}}</ion-label>
                </div>
                <div  (click)="navTo(post.nodeId, post.channel_id)"> 
                  <ion-label class="channel-desc-small">@{{channelOwner}}</ion-label>
                </div>
              </div>
          </div>
      </ion-card-content>
    </div>

    <div class="channel-post-detail-div" style="margin-top:8px;">
        <div class="channel-post-div" (click)="showBigImage(postContent)" style="margin-bottom:5px"> 
          <ion-label class="channel-post white"><pre>{{getContentText(postContent)}}</pre></ion-label>
        </div>
        <ion-avatar  *ngIf="getImage() != 'none'" class="content-img-without-margin" (click)="showBigImage()">
          <img 
          [src]="getImage()"
        />
        </ion-avatar>

        <div class="channel-post-heart-comment-div">
          <img class="like" [ngClass]="{'like-s': checkMyLike()}" (click)="like()">
          <ion-label class="like-text" [ngClass]="{'like-s-text': checkMyLike()}" (click)="like()">{{likesNum}}</ion-label>

          <img src="./assets/images/bubble-line.svg" class="comment" (click)="showCommentPage(nodeId,channelId,postId)">
          <ion-label class="comment-text white" (click)="showCommentPage(nodeId,channelId,postId)">{{commentsNum}}</ion-label>

          <ion-label class="post-detail-ts">{{handleDisplayTime(postTS)}}</ion-label>
        </div>
    </div>
    <div class="line-div"></div>

    <div *ngIf="refreshCommFinish">
      <div *ngFor="let comment of commentList">
        <div class="channel-img-small-div">
          <ion-avatar class="avatar-div" style="margin-top: 5px;">
            <img *ngIf="avatar == ''" class="profile-img" src="./assets/images/default-contact.svg">
            <img *ngIf="avatar != ''" class="profile-img" [src]="avatar">
          </ion-avatar> 
          <div class="channel-detail-div">
            <div class="channel-detail-text-div">
              <div style="height: 100%; vertical-align: middle;" > 
                <ion-label class="channel-title-small white">@{{indexText(comment.user_name)}}</ion-label>
                <ion-label class="channel-ts">{{handleDisplayTime(comment.created_at)}}</ion-label>
                <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
              </div>
    
              <div  (click)="navTo(post.nodeId, post.channel_id)"> 
                <ion-label class="channel-desc-small">@{{indexText(comment.user_name)}}</ion-label>
              </div>

              <div class="channel-post-div" > 
                <ion-label class="channel-post white">{{comment.content}}</ion-label>
              </div>
    
              <div class="channel-post-heart-comment-div">
                <img class="like" [ngClass]="{'like-s': checkLikedComment(comment.id)}" (click)="likeComment(comment.id)">
                <ion-label class="like-text" [ngClass]="{'like-s-text': checkLikedComment(comment.id)}" (click)="likeComment(comment.id)">{{comment.likes}}</ion-label>
    
                <!-- <img src="../../../../assets/images/bubble-line.svg" class="comment" (click)="commentComment()">
                <ion-label class="comment-text">0</ion-label> -->
              </div>
            </div>
          </div>
        </div>
        <div class="line-div white-line"></div>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div *ngIf="bigImage" class="trans-big-img-div" (click)="hideBigImage()" >
    <div class="trans-big-img" >
      <img src="{{bigImageUrl}}" class="image"/>
    </div>
  </div> -->
</ion-content>