<ion-content [class.darkContainer]="theme.darkMode">
  <div [ngClass]="{'mask-div': bigImage}">
    <div class="image-text-layout-div" >
      <ion-card-content class="ion-no-padding ion-no-margin">
          <div class="menu-div"  (click)="menuMore()">
              <img  src="assets/images/dots-three-vertical.svg">
          </div>
          <div class="image-text-div" (click)="navTo(post.nodeId, post.channel_id)">
              <ion-avatar class="avatar-div">
                <img  src={{channelAvatar}}>
              </ion-avatar>

              <div class="text-div">
                <div class="text1-div"> 
                  <ion-label class="channel-title-small white">{{channelName}}</ion-label>
                </div>
                <div  (click)="navTo(post.nodeId, post.channel_id)"> 
                  <ion-label class="channel-desc-small">@{{channelOwner}}</ion-label>
                </div>
              </div>
          </div>
      </ion-card-content>
    </div>

    <div class="channel-post-detail-div" style="margin-top: 16px;">
        <div class="channel-post-div"> 
          <ion-label class="channel-post white">{{getContentText(postContent)}}</ion-label>
        </div>
        <ion-avatar  *ngIf="getContentImg(postContent) != ''" class="content-img-without-margin">
          <img src="{{getContentImg(postContent)}}"
              (click)="showBigImage(postContent)">
        </ion-avatar>
        <div class="channel-post-heart-comment-div">
          <img class="like" [ngClass]="{'like-s': checkMyLike()}" (click)="like(0)">
          <ion-label class="like-text" [ngClass]="{'like-s-text': checkMyLike()}" (click)="like(0)">{{likesNum}}</ion-label>

          <img src="../../../../../assets/images/bubble-line.svg" class="comment" (click)="showCommentPage($event)">
          <ion-label class="comment-text" (click)="showCommentPage($event)">{{commentsNum}}</ion-label>

          <ion-label class="post-detail-ts">{{handleDisplayTime(postTS)}}</ion-label>
        </div>
    </div>
    <div class="line-div"></div>

    <div *ngFor="let comment of commentList">
      <div class="channel-img-small-div">
        <img class="channel-img-small" src="../../../../assets/images/screenshot-2020-04-26-at-03-20-46.png" >

        <div class="channel-detail-div">
          <div class="channel-detail-text-div">
            <div style="height: 100%; vertical-align: middle;" > 
              <ion-label class="channel-title-small white">@{{indexText(comment.user_name)}}</ion-label>
              <ion-label class="channel-ts">{{comment.create_at}}</ion-label>
              <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
            </div>
  
            <div  (click)="navTo(post.nodeId, post.channel_id)"> 
              <ion-label class="channel-desc-small">@{{indexText(comment.user_name)}}</ion-label>
            </div>

            <div class="channel-post-div" > 
              <ion-label class="channel-post .white">{{comment.content}}</ion-label>
              
            </div>
  
            <div class="channel-post-heart-comment-div">
              <img src="../../../../assets/images/heart.svg" class="heart" >
              <ion-label class="heart-text" >0</ion-label>
  
              <img src="../../../../assets/images/bubble-line.svg" class="comment" >
              <ion-label class="comment-text"  >0</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div class="line-div white-line"></div>
    </div>
  </div>

  <div *ngIf="bigImage" class="trans-big-img-div" (click)="hideBigImage()" >
    <div class="trans-big-img" >
      <img src="{{bigImageUrl}}" class="image"/>
    </div>
  </div>
</ion-content>