.ios-container {
    padding: 0px 20px 20px;
    min-height: 100%;

    .section {
        //padding-top: 20px;
        padding-bottom: 5px;
        margin-right: 20px;
        border-bottom: 1px solid #f5f4f8;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

      ion-col {
        padding: 0;
      }

      .title-col {
        h1, h2 {
          margin: 0;
        }

        h1 {
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          color: #000000;
          margin-top: 11px;
        }

        h2 {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          color: #9ca0a4;
          margin-top: 2px;
        }
      }

      .arrow-col {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        ion-img {
          width: 7.7px;
          height: 13.3px;
        }

        ion-toggle {
          // margin-top: -9px;
          zoom: 0.85;
        }

        .theme-toggle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 85%;
          width: 100%;
          border-radius: 17px;
          background-color: #dddddd;

          div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              font-size: 10px;
              font-weight: 700;
              letter-spacing: 1.09px;
              color: #222222;
              margin: 0;
            }
          }
        }

        ion-toggle {
            --background: #ddd;
        }
      }
    }

    .dev-mode {
      border: none;
      margin-right: 5px;
    }
  }

  .ios-dark-container {
    .section {
      border-bottom: 1px solid #2e2f4e;

      .title-col {
        h1 {
          color: #fff;
        }
        h2 {
          color: #cfd1f7;
        }
      }
    }

    .dev-mode {
      border: none;
    }
  }