<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="ios-container" [class.ios-dark-container]="theme.darkMode">
    <ion-row class="section" (click)="navToConfigureNetwork()">
        <ion-col size="9" class="title-col">
            <h1>{{"SettingsPage.configure-network" | translate }}</h1>
            <h2>{{ selectedNetwork }}</h2>
        </ion-col>
        <ion-col size="3" class="arrow-col">
            <ion-img src="assets/icons/right-arrow.svg"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row class="section" (click)="toggleLogMode()">
        <ion-col size="9" class="title-col" (swipe)="toggleLogMode()" [style.touch-action]="'pan-y'">
            <h1>{{"common.developLog" | translate }}</h1>
            <h2 *ngIf="openLog">{{ 'SettingsPage.on' | translate }}</h2>
            <h2 *ngIf="!openLog">{{ 'SettingsPage.off' | translate }}</h2>
        </ion-col>
        <ion-col size="3" class="arrow-col" (swipe)="toggleLogMode()" [style.touch-action]="'pan-y'">
            <ion-toggle mode="ios" color="success" [(ngModel)]="openLog" style="pointer-events:none;">
            </ion-toggle>
        </ion-col>
    </ion-row>

    <ion-row class="section" (click)="interfaceTest()">
        <ion-col size="9" class="title-col">
            <h1>Interface Test</h1>
        </ion-col>
        <ion-col size="3" class="arrow-col">
            <ion-img src="assets/icons/right-arrow.svg"></ion-img>
        </ion-col>
    </ion-row>

    <ion-row class="section" (click)="cleanData()">
    <ion-col size="12" class="title-col">
        <h1>delete All Collections</h1>
    </ion-col>
    </ion-row>

</ion-grid>
  </ion-content>
