.container{

   .latestList{
      padding-left: 25px;
      padding-right:25px;
   }

   .viewall{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      color:#7624fe;
   }

   ion-searchbar {
      width: 100%;
      margin-top: 0;
      padding-right:0px;
      --icon-color:#7624fe;
      padding-bottom:0px;
      margin-bottom: -40px;
   }

   .scanService{
      width: 22px;
      height:22px;
      position: absolute;
      top: 36px;
      z-index: 2;
    }

   .iongrid{
      padding-left:0px;
      padding-right:0px;
      margin-top:20px;
   }
   .pasar{
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      color: #000000;
      margin-left: 5px;
   }

   .hotBids{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      color: #000000;
      margin-left: 5px;
   }

   .hotBidsList {
    width: 100%;
    /*段落中文本不换行*/
    white-space: nowrap;
    /*设置横向滚动*/
    overflow-x: scroll;
    /*禁止纵向滚动*/
    overflow-y: hidden;
    /*文本平铺*/
    text-align: justify;
    /*背景颜色*/
    margin-bottom: 10px;
    /*设置边距改变效果为内缩*/
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin-top: 5px;
   }

   .hotBidsList::-webkit-scrollbar {
    /*隐藏滚动条*/
    display: none;
   }
}

.darkContainer{
   .pasar{
      color:#fff;
   }

   .hotBids{
      color:#fff;
   }
}
