* {
    font-family: 'Raleway', sans-serif;
  }

  ion-header {

    ion-toolbar {
      margin-top: 25px;
      margin-bottom: 25px;

      .header-btns {
        font-size: 25px;
      }

      ion-title {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

.content {
    position: absolute;
    top: 15%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    margin-top: 0;
    margin-left: 0;
  }

  .roundedRectangle{
    height: 100%; 
    width: 90%;
    margin-left: 5%;
    // margin-block-end: 40px;
    padding-left: 2%;
    // margin-left: 20px;
    background: rgba(255, 255, 255, 0);//背景色
    border-width: 1px;	//边缘的宽度，如果要分别设置可以这样：border-width: 15px 5px 15px 5px;依次为上、右、下、左
    border-style: solid;
    border-radius: 15px;	//圆角的大小
    border-color: rgb(0, 209, 236)  rgb(0, 209, 236)  rgb(0, 209, 236)  rgb(0, 209, 236);	//边框颜色，依次为上、右、下、左
  }

