<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>New channel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <div>
    <!-- <ion-item>
      <ion-label position="stacked">Server
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select #select >
        <ion-select-option *ngFor="let server of serverList" >{{server.userId}}</ion-select-option>
      </ion-select>
    </ion-item> -->
    <!-- <ion-item> -->
      <ion-label style="margin: 3%;" position="stacked"><b>Create channel on source location</b>
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <div>
        <div *ngIf="selectedServer != null" class="roundedRectangle">
          <!-- <ion-input required type="text" disabled>DID:did</ion-input>
          <ion-input required type="text" disabled>Auth:auth</ion-input>
          <ion-input required type="text" disabled>Name:name</ion-input> -->
          <div slot="end" class="div">
            <div  class="s1"><b>DID:</b> {{selectedServer.did}}</div>
            <span *ngIf="selectedServer.did.length > 20" class="s2"><span>{{selectedServer.did}}</span></span>
          </div>
          <div slot="end" class="div">
            <div  class="s1"><b>Auth:</b> {{selectedServer.owner}}</div
              ><span *ngIf="selectedServer.owner.length > 20" class="s2"><span>{{selectedServer.owner}}</span></span>
          </div>
          <div slot="end" class="div">
            <div  class="s1"><b>Name:</b> {{selectedServer.name}}</div
              ><span *ngIf="selectedServer.name.length > 20" class="s2"><span>{{selectedServer.name}}</span></span>
          </div>
          <!-- <ion-label required type="text" style="text-overflow:ellipsis;overflow:hidden;" disabled>NodeId:{{selectedServer.userId}}</ion-label> -->
          <div slot="end" class="div">
          <div  class="s1"><b>NodeId:</b> {{selectedServer.nodeId}}</div
            ><span *ngIf="selectedServer.nodeId.length > 20" class="s2"><span>{{selectedServer.nodeId}}</span></span>
          </div>


        </div>
      </div>
      <ion-button style="text-transform: none; margin: 3%;" expand="block" (click)="selectChannelSource($event)">{{buttonText}}</ion-button>

      <!-- <div *ngIf="selectedServer == null">
        <ion-button style="text-transform: none; margin: 3%;" expand="block" (click)="selectChannelSource()" >{{}}</ion-button>
      </div> -->

      <ion-label style="margin: 3%;" position="stacked"><b>Your new feed name</b>
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <div class="roundedRectangle">
        <ion-input required type="text" #name></ion-input>
      </div>
    <!-- </ion-item> -->
    <!-- <ion-item> -->
      <ion-label style="margin: 3%;" position="stacked"><b>Berief description</b>
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <div class="roundedRectangle">
        <ion-input required type="text" #desc></ion-input>
      </div>
    <!-- </ion-item> -->
    <ion-button style="text-transform: none;margin: 3%;" expand="block" (click)="createTopic(name,desc)">Submit</ion-button>
  </div>
</ion-content>


