<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navigateBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>New Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <div class="content">
    <ion-item>
      <ion-label position="stacked">Server
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select #select>
        <ion-select-option *ngFor="let server of serverList" >{{server.userId}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Your new feed name
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" #name></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Berief description
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" #desc></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="createTopic(name,desc,select)">Submit</ion-button>
  </div>
</ion-content>


