<ion-grid [class.darkContainer]="theme.darkMode">
  <ion-row style="margin:20px 0px">
    <ion-col size="12" class="dTitle white">
      {{'common.prompt' | translate}}
    </ion-col>

    <ion-col size="12" class="white" style="height:80px">
      {{'common.des2' | translate}}
    </ion-col>

  </ion-row>
  
  <ion-row style="margin:20px 0px">
    <ion-col size="6" style="text-align: center;" (click)="cancel()">
      <span class="cancel">{{ 'common.cancel' | translate }}</span>
    </ion-col>

    <ion-col size="6" style="text-align: center;" (click)="confirm()">
      <span class="confirm">{{ 'common.confirm' | translate }}</span>
    </ion-col>
  </ion-row>
</ion-grid>
