ion-grid {
  padding: 20px;
  padding-bottom: 20%;

  ion-card {
    margin: 0;
    margin-bottom: 37.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;
    border-radius: 17px;
    padding: 15px 30px;

    img {
      width: 58px;
      height: 58px;
    }

    ion-card-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.29;
      color: #2e2f4e;
      padding: 5px;
    }
  }
}

ion-list {
  padding: 0;
  background: transparent;
  
  .details {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h4, p {
      margin: 0;
    }

    h4 {
      margin-bottom: 2px;
      font-size: 10px;
      font-weight: 600;
      color: #8888b0;
    }

    p {
      font-size: 13px;
      font-weight: 500;
      color: #565bdb;
    }
  }
}

.dark-container {
  ion-card {
    box-shadow: 0 3px 15px 0 #151626;
    background-color: #2e2f4e;

    ion-card-title {
      color: #ffffff;
    }

    ion-card-subtitle {
      color: #ffffff;
    }
  }
}
/* 
* {
    font-family: 'Raleway', sans-serif;
  }

  ion-header {

    ion-toolbar {
      margin-top: 25px;
      margin-bottom: 25px;

      ion-title {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

  #logo {
    text-align: center;
    img {
        margin-top: px2rem(50px);
        width: px2rem(130px);
        height: px2rem(130px);
    }
    div {
        margin-top: px2rem(25px);
        color: #999999;
        font-size: 14px;
    }
}

ion-list {
    margin-top: px2rem(75px);
}

p {
    color: #666;
}
 */