ion-header {

  ion-toolbar {
    margin-top: 25px;
    margin-bottom: 25px;

    ion-title {
    font-size: 25px;
    font-weight: bold;
    }
  }
}

.empty-container {
  .btn-row {
    ion-button {
      height: 41px;
      font-size: 15px;
    }
  }

  .btn-row2 {
    margin: 7.5px 0;
  }
}

// .div {
//   width: 200px;
// }
// .s1 {
//   max-width:50%;
//   display:inline-block;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   text-align: right;
// }
// .s2 {
//   display:inline-block;
//   max-width:50%;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   direction: rtl;
//   text-align: left;
// }
// .s2 span {
//  direction: ltr;
//  unicode-bidi: embed;
// }
.content {
  display:inline;
  // float: left;
	position: absolute;
	top: 35%;
	// margin-top: -120px; /* negative half of the height */
}
.parallel{
  position: absolute;
	top: 35%;
  display: flex;
  right:0px;
  width:100%;
}


.divflex {
  display: flex;
  width: 95%;
  margin: 2%;
}
.s1 {
  max-width:50%;
  display:inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
.s2 {
  display:inline-block;
  max-width:50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
}
.s2 span {
 direction: ltr;
 unicode-bidi: embed;
}

.darkContainer{
  .white{
    color: #ffffff;
  }

  .feed-source-div .white{
    color: #ffffff;
  }

  .feed-source-card-content-detail .white{
    color: #ffffff;
  }
}
