<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Servers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf=" status != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <div class="ion-padding">
    <ion-button
      expand="block"
      mode="ios"
      color="tertiary"
      [routerLink]="['/menu/servers/add-server']"
    >
      <ion-icon name="add-circle-outline" slot="start" ></ion-icon>
      <ion-label> Add new trusted feeds server</ion-label>
    </ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor='let server of fakeServers' (click)="navToServerInfo()">
      <ion-label>{{server.name && server.name || server.userid}}</ion-label>
      <ion-icon name="radio-button-on" color="primary" slot="end"  *ngIf="isFriendConnected(server)" ></ion-icon>
      <ion-icon name="radio-button-on" slot="end" *ngIf="!isFriendConnected(server)" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
