* {
    font-family: 'Raleway', sans-serif;
  }

ion-header {

  ion-toolbar {
    margin-top: 25px;
    margin-bottom: 25px;

    ion-title {
    font-size: 25px;
    font-weight: bold;
    }
  }
}

.offline-content {
  background-color:rgb(209, 81, 81);
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: px2rem(2px);
}
