<ion-content>
   <div *ngIf="serverList.length == 0 && myFeedSource == null" class="empty-server-div">
      <div class="center-flex">
        <img class="empty-img" src="assets/images/empty-feeds-icon.svg">
      </div>
      <div class="all-empty-text">{{'common.allempty'| translate}}</div>
      <div class="no-feed-sources-text">{{'ServersPage.emptyDes'| translate}}</div>

      <div class="explore-feeds" >
        <ion-button expand="block"  mode="ios" (click)="exploreFeedSource()" >
          <div class="explore-feeds-text">{{'ServersPage.addFeedSources'| translate}}</div>
        </ion-button>
      </div>

      <div class="bind-feed-source-button-div">
        <ion-button expand="block"  mode="ios" (click)="bindFeedSource()" >
          <div class="explore-feeds-text">{{'ServersPage.bindFeedSource'| translate}}</div>
        </ion-button>
      </div>
    </div>
  

<div class="feed-source" [class.darkContainer]="theme.darkMode">
    <div class="feed-source-div" *ngIf="myFeedSource != null"> 
      <img class="feed-source-img" src="assets/images/play.svg" *ngIf="!theme.darkMode">
      <img class="feed-source-img" src="assets/images/play-dark.svg" *ngIf="theme.darkMode">
      <ion-label class="feed-source-text white">{{'ServersPage.myFeedSources'| translate}}</ion-label>

      <ion-card class="ion-no-padding ion-no-margin feed-source-card" (click)="navToServerInfo(myFeedSource.nodeId, true)">
        <ion-card-content class="ion-no-padding ion-no-margin">
          <div class="feed-source-card-right-img-div">
            <img class="feed-source-card-right-img" src="assets/images/chevron-thin-right.svg">
          </div>

          <div class="feed-source-card-content">
            <div class="feed-source-card-img-div">
              <img class="feed-source-card-img" src="assets/images/profile-2.svg" >
              <div class="feed-source-card-status">
                <div class="online-circle" *ngIf="checkServerStatus(myFeedSource.nodeId) == 0"></div>
                <div class="offline-circle" *ngIf="checkServerStatus(myFeedSource.nodeId) == 1"></div>
              </div>
            </div>

            <div class="feed-source-card-content-detail">
              <div class="name white">{{myFeedSource.name}}</div>
              <div class="owner">{{myFeedSource.owner}}</div>
              <div class="users-img-div" *ngIf="checkServerStatus(myFeedSource.nodeId) == 0">
                <img class="users-img" src="assets/images/users-online.svg">
                <div class="users-num-online-text"> {{checkConnectClient(myFeedSource.nodeId)}}</div>
                <div class="users-online-text">{{'ServersPage.users'| translate}}</div>
              </div>

              <div class="users-img-div" *ngIf="checkServerStatus(myFeedSource.nodeId) == 1">
                <img class="users-img" src="assets/images/users-offline.svg">
                <div class="users-num-offline-text"> {{checkConnectClient(myFeedSource.nodeId)}}</div>
                <div class="users-offline-text">{{'ServersPage.users'| translate}}</div>
              </div>

            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>





    <div class="feed-source-div" *ngIf="serverList.length >0" [class.darkContainer]="theme.darkMode">
      <img class="feed-source-img" src="assets/images/play.svg" *ngIf="!theme.darkMode">
      <img class="feed-source-img" src="assets/images/play-dark.svg" *ngIf="theme.darkMode">
      <ion-label class="feed-source-text white">{{'ServersPage.currentFeedSources'| translate}}</ion-label>

      <ion-card class="ion-no-padding ion-no-margin"  class="feed-source-card" *ngFor="let server of serverList" (click)="navToServerInfo(server.nodeId, false)">
        <ion-card-content class="ion-no-padding ion-no-margin">
          <div class="feed-source-card-right-img-div">
            <img class="feed-source-card-right-img" src="assets/images/chevron-thin-right.svg">
          </div>

          <div class="feed-source-card-content">
            <div class="feed-source-card-img-div">
              <img class="feed-source-card-img" src="assets/images/profile-2.svg" >
              <div class="feed-source-card-status">
                <div class="online-circle" *ngIf="checkServerStatus(server.nodeId) == 0"></div>
                <div class="offline-circle" *ngIf="checkServerStatus(server.nodeId) == 1"></div>

              </div>
            </div>

            <div class="feed-source-card-content-detail">
              <div class="name white">{{server.name}}</div>
              <div class="owner">{{server.owner}}</div>
              <div class="users-img-div" *ngIf="checkServerStatus(server.nodeId) == 0">
                <img class="users-img" src="assets/images/users-online.svg">
                <div class="users-num-online-text"> {{checkConnectClient(server.nodeId)}}</div>
                <div class="users-online-text">{{'ServersPage.users'| translate}}</div>
              </div>


              <div class="users-img-div" *ngIf="checkServerStatus(server.nodeId) == 1">
                <img class="users-img" src="assets/images/users-offline.svg">
                <div class="users-num-offline-text">{{checkConnectClient(server.nodeId)}}</div>
                <div class="users-offline-text">{{'ServersPage.users'| translate}}</div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <div class="button-div" *ngIf="myFeedSource == null">
        <div class="explore-feed-source-button" (click)="exploreFeedSource()">{{'ServersPage.addNewFeedSources'| translate}}</div>
        <div class="bind-feed-source-button" (click)="bindFeedSource()">{{'ServersPage.createNewFeedSource'| translate}}</div>
      </div>
    </div>
    <div class="button-div" *ngIf="myFeedSource != null">
      <div class="explore-feed-source-button" (click)="exploreFeedSource()">{{'ServersPage.addNewFeedSources'| translate}}</div>
    </div> 
  </div>

</ion-content>
