
<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'common.pullToRefresh'|translate}}"
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

    <!-------------------- NO FEEDS -------------------->
    <div *ngIf="feedList.length === 0&&!isLoading" class="empty-container">
      <img src="./assets/images/empty-feeds-icon.svg">
      <h1>{{ 'common.allempty'| translate }}</h1>
      <p>{{ 'SearchPage.emptyDes' | translate }}</p>
  
      <ion-row class="btn-row">
        <ion-button (click)="exploreFeedSource()">
          <ion-label>
            {{ "ServersPage.addNewFeedSources" | translate }}
          </ion-label>
        </ion-button>
      </ion-row>
    </div>

      <!-------------------- HAS FEEDS -------------------->
  <ion-grid class="feedSource-container" [class.darkContainer]="theme.darkMode">
    <!-------------------- SERVER FEEDS -------------------->
    <div class="source" *ngIf="feedList.length > 0">
        <ion-row
          class="item-row ripple ion-activatable"
          *ngFor="let item of feedList"
          (click)="clickItem(item)"
        >
          <ion-col size="2.75" class="left-col">
            <div class="feedAvatar">
              <img src="assets/images/profile-2.svg">
            </div>
          </ion-col>
          <ion-col size="7.5" class="middle-col">
            <h1>{{item.name}}</h1>
            <p>{{item.description}}</p>
            <p>{{handleStatus(item.did) | translate}}</p>
          </ion-col>
          <ion-col offset="0.5" size="1.25" class="right-col">
            <img src="assets/images/chevron-thin-right.svg">
          </ion-col>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
    </div>

    <ion-row class="buttons-row" *ngIf="feedList.length >0">
      <ion-label (click)="exploreFeedSource()">{{ 'ServersPage.addNewFeedSources' | translate }}</ion-label>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{'common.loadingText'|translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
