.content {
    display:inline;
    position: absolute;
    top: 35%;
}
.parallel{
    position: absolute;
    top: 35%;
    display: flex;
    right:0px;
    width:100%;
  }
  
  
  .divflex {
    display: flex;
    width: 95%;
    margin: 2%;
  }
  .s1 {
    max-width:50%;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }
  .s2 {
    display:inline-block;
    max-width:50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
    text-align: left;
  }
  .s2 span {
   direction: ltr;
   unicode-bidi: embed;
  }
  
  .darkContainer{
    .white{
      color: #ffffff;
    }
  
    .feed-source-div .white{
      color: #ffffff;
    }
  
    .feed-source-card-content-detail .white{
      color: #ffffff;
    }
  }
  