// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #007AFF;
  --ion-color-primary-rgb: 0,122,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #006be0;
  --ion-color-primary-tint: #1a87ff;

  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255,255,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0e0e0;
  --ion-color-secondary-tint: #ffffff;

  --ion-color-tertiary: #EFF5FD;
  --ion-color-tertiary-rgb: 239,245,253;
  --ion-color-tertiary-contrast: #007AFF;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d2d8df;
  --ion-color-tertiary-tint: #f1f6fd;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: white;
  --ion-toolbar-color: black;

  $segment-button-md-text-color: #007AFF;
}


/*
 * Dark Colors
 * -------------------------------------------
 */

 body.dark {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #262641;
  --ion-color-secondary-rgb: 38,38,65;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #212139;
  --ion-color-secondary-tint: #3c3c54;

  --ion-color-tertiary: #b2b7fa;
  --ion-color-tertiary-rgb: 178,183,250;
  --ion-color-tertiary-contrast: #191a2f;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #9da1dc;
  --ion-color-tertiary-tint: #babefb;

  --ion-color-success: #565bdb;
  --ion-color-success-rgb: 86,91,219;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #4c50c1;
  --ion-color-success-tint: #676bdf;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #f0f1ff;
  --ion-color-medium-rgb: 240,241,255;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #d3d4e0;
  --ion-color-medium-tint: #f2f2ff;

  --ion-color-light: #191a2f;
  --ion-color-light-rgb: 25,26,47;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #161729;
  --ion-color-light-tint: #303144;

  --ion-backdrop-color:#ffffff;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #191a2f;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #fdfeff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #191a2f;
  --ion-item-background-activated: #262641;

  --ion-backdrop-color:#ffffff;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #191a2f;
  --ion-background-color-rgb: 0,0,0;
  

  --ion-text-color: #fdfeff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #272d41;

  --ion-backdrop-color:#ffffff;
}


html, body { height: 100%; }

$segment-button-md-text-color: #007AFF !important;

.offline-content {
  background-color:rgb(209, 81, 81);
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: px2rem(2px);
}

.my-custom-alert {
  text-align: left;
}

.twoBtn{
  .alert-wrapper {
      border-radius: 10px;
    }

  .alert-title {
    font-size: 1.8rem;
    text-align: center;
    margin-top: -10px;
  }

 .alert-button-group {
    padding: 0;
    border-top: 1px solid #e1dce6;
    justify-content: center;
  }

 .alert-message {
    max-height: 240px;
    font-size: 1.4rem;
    text-align:center;
  }

  .alert-button {
    width: 50%;
    border-left: 1px solid #e1dce6;
    margin:0;
    .button-inner {
      justify-content: center;
    }
  } 
}

.bottom-sheet-popover .popover-content {
  position:absolute;
  width: 100% !important;
  left: 0 !important;
  // left: 0 !important;
  // bottom: 0 !important;
  // right: 0 !important;
  // top: calc(100% - 280px) !important;
  // z-index: -1;
  max-height: 280px;
  min-height: 280px; 
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}


.bottom-sheet-popover1 .popover-content {
  position: absolute;
  left: calc(100% - 290px)/2 !important;
  width:290px !important;
  top: calc(100% - 376px) !important;
  --height:315px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bottom-menu-popover .popover-content {
  position:absolute;
  margin-left: 16px;
  width: calc(100% - 32px) !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  top: calc(100% - 170px) !important;
  z-index: -1;
  max-height: 140px;
  min-height: 140px; 
  // border-top-left-radius: 35px;
  // border-top-right-radius: 35px;
  // border-bottom-left-radius: 35px;
  border-radius: 35px;
}


.div {
  width: 95%;
  margin: 2%;
}
.s1 {
  max-width:50%;
  display:inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
.s2 {
  display:inline-block;
  max-width:50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
}
.s2 span {
 direction: ltr;
 unicode-bidi: embed;
}





.channel-icon{
  margin-left: 37px;
}

.channel-img-div{
  text-align: center; 
  width: 100%; 
  margin-top: 14.5px;
}
.channel-img{
  margin: auto;
  text-align: center;
  width: 84px;
  height: 84px;
}
.channel-title-div{
  text-align: center;
  width: 100%; 
  margin-top: 14px;
}

.channel-title{
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.channel-owner-div{
  width: 100%; 
  text-align: center;
}

.channel-owner{
  width: 80px;
  height: 18px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #a0a2c4;

  font-size: 14px;
  font-weight: bold;
}

.channel-desc-div{
  padding-right: 29px;
  text-align: center;
  width: 100%; 
  padding-top: 14px;
  padding-left: 29px;
  
}

.channel-desc{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.7px;
  margin: 0px auto;
  text-align: center;
  color: #161740;
}

.channel-follow-div{
  width: 100%;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 11.5px;
}

.channel-follower{
  width: 66px;
  height: 18px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
  margin-right: 16.65px;
}

.channel-following{
  width: 64px;
  height: 18px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}

.bubble {
  width: 18.1px;
  height: 14.7px;
  object-fit: contain;
  vertical-align: middle;
}

.bubble_right {
  width: 18.1px;
  height: 14.7px;
  object-fit: contain;
  vertical-align: middle;
  margin-left: 16.65px;
}

.channel-img-small-div{
  margin-top: 6px;
  margin-left: 37px;
  margin-right: 37px;
  // padding-left: 37px;
  // padding-right: 37px;
  width: 100%;

  display: flex;
}

.channel-img-small{
  width: 56px;
  height: 56px;
}

.channel-title-small-div{
  width: 100%;
  display: flex;
  position:relative;
}

.channel-owner-small-div{
  width: 100%;
  display: flex;
  position:relative;
}

.channel-title-small{
  width: 171px;
  height: 20px;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #161740;
}

.channel-desc-small{
  width: 100%;
  // height: 18px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #a0a2c4;
}

.channel-ts{
  width: 50px;
  height: 14px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #a0a2c4;

  margin-left: 5px;
  vertical-align: middle;
}

.channel-info-div{
  margin-left: 12px;
}

.channel-post{
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #161740;
}

.channel-post-div{
  margin-top: 3px;
  // margin-right: 41px;
  // padding-left: 37px;
  // padding-right: 37px;
  // width: 100%;
}

.channel-post-img{
  width: 268px;
  height: 160px;
  object-fit: contain;
  border-radius: 11px;
  margin-top: 10px;
}

.like {
  width: 16px;
  height: 15.3px;
  background-image: url("../assets/images/like.svg");
}

.like-s {
  width: 15px;
  height: 13.7px;
  background-image: url("../assets/images/like-s.svg");
}

.comment{
  width: 16px;
  height: 14px;
  background-image: url("../assets/images/comment.svg");
}

.comment-s {
  width: 16px;
  height: 14px;
  background-image: url("../assets/images/comment-s.svg");
}

.heart {
  width: 14.7px;
  height: 13.6px;
  object-fit: contain;

  vertical-align: middle;
}

.like{
  content: url(../assets/images/like.svg);
  width: 14.7px;
  height: 13.6px;
  object-fit: contain;

  vertical-align: middle;
}

.like-s{
  content: url(../assets/images/like-s.svg);
  width: 14.7px;
  height: 13.6px;
}
.like-text{
  width: 6px;
  height: 14px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #a0a2c4;

  margin-left: 4px;
}

.like-s-text{
  width: 6px;
  height: 14px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #f55555;

  margin-left: 4px;
}

.heart-text{
  width: 6px;
  height: 14px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;

  color: #f55555;

  vertical-align: middle;

  margin-left: 4px;
}

.channel-post-heart-comment-div{
  margin-top: 10px;
  margin-bottom: 17px;
  width: 100%;
  // display: flex;
}

.comment{
  width: 16px;
  height: 14px;
  object-fit: contain;

  vertical-align: middle;
  margin-left: 33px;
}

.comment-text{
  width: 6px;
  height: 14px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #a0a2c4;

  margin-left: 4px;
}

.Rectangle-281 {
  width: 100%;
  height: 2px;
  background-color: #f0f1ff;
}


ion-header {
  box-shadow: 0px 0px 2px 0px rgb(199, 199, 199);

  ion-slides {
    padding-top:10px;

    ion-label {
      margin: 16px 0 12px;
      font-size: 13px;
      font-weight: 500;
      color: #959595;
    }

    .highlight {
      // padding-bottom: 10px;
      border-bottom: 1px solid #007AFF;

      ion-label {
        color: #007AFF !important;
      }
    }
  }
}


.channel-detail-div{
  width: 100%;
  height: 100%;
  margin-left: 12px;
  vertical-align: middle;
  margin-top: 3px;
}

.channel-detail-text-div{
  width: 100%;
  height: 100%;
  vertical-align: middle;

  margin-top: 7px;
}

.new-feed-div{
  padding-left: 37px;
  padding-top: 11px;

}
.new-feed{
  width: 100%;
  height: 22px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  // line-height: 3.11;
  letter-spacing: normal;
  text-align: left;
  color: #368bff;
  text-transform: none;
}


.channel-follower2{
  width: 75px;
  height: 18px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #a0a2c4;

  margin-left: 3.6px;
}

.tab-text{
  width: 76px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  // line-height: 1.29;
  letter-spacing: 0.35px;
  text-align: left;
  color: #368bff;
}

.detail-line {
  margin-top: 20px;
  height: 2px;
  background-color: rgba(34, 34, 34, 0.07);
}

.line-div{
  height: 2px;
  background-color: rgba(34, 34, 34, 0.07);
}

.wrapper{
  width: 100%;
  height: 100%;

  text-align: center;
  margin-bottom: 150px;
}

.box{
  width: 171px; 
  height: 153px;

  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.help{
width: 0;
height: 100%;
display: inline-block;
vertical-align: middle;
}

.channel-post-detail-div{
  margin-top: 3px;
  // margin-right: 41px;
  padding-left: 37px;
  padding-right: 37px;
  width: 100%;
}

.post-detail-ts{
  width: 74px;
  height: 14px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #a0a2c4;

  vertical-align: middle;
  margin-left: 23.6px;
}


.center-content-div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  text-align: center;
}

.center-content{
  width: 100%;
  margin-top: calc(50%);
}


.all-empty {
  // width: 128px;
  // height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.42;
  letter-spacing: 1.2px;
  text-align: center;
  color: #8888b0;
}

.all-empty-content-text {
  // width: 258px;
  // height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 1.6px;
  text-align: center;
  color: #8888b0;
}

.explore-feeds {
  height: 41px;

  margin-left: 34px;
  margin-right: 34px;
  
  margin-top: 60px;
  margin-bottom: 10px;

}

.explore-feeds-text {
  font-family: MontserratMedium;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.43px;
  text-align: center;
  color: #fdfeff;
}



.node-content {
  display: flex;
  align-items: center;

    h2 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    p {
      font-size: 9px !important;
      font-weight: 500;
      color: #959595;
      margin: 0;
    }
}


.img-container {
  display: flex;
  justify-content: flex-end;

  img {
    border-radius: 15px !important;
    overflow: hidden;
    height: 48px;
    width: 48px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-label {
    font-size: 9px;
    font-weight: 700;
    padding: 0;
  }
}


.detail-div{
  width: calc( 100% - 64px );
  margin-top: 24.6px;
  margin-left: 32px;
  margin-right: 32px;
}

.detail-key-div{
  margin-top: 20px;
  // margin: 0px;
  padding: 0px;
}

.detail-key{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2.4px;
  text-align: left;
  color: #8888b0;
}

.detail-value-div{
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}

.detail-value{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000000;
}

.profile-img {
  object-fit: cover;
  border-radius: 50%;
  border: 1.5px solid #6d74ef;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-sub-img{
  width: 18.1px;
  height: 15px;
}

.profile-sub-text{
  margin-left: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #8888b0;
}

.profile-subscribe{
  margin-top: 2px;
  margin-left: 5px;
  font-family: MontserratSemiBold;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #8888b0;
}

.circle {
    width: 16px;
    height: 16px;
    background-color: #368bff;
    border-radius: 8px;
  }

  .offline-circle{
    width: 16px;
    height: 16px;
    background-color: #cdcde6;
    border-radius: 8px;
  }

  .online-circle{
    width: 16px;
    height: 16px;
    background-color: #368bff;
    // -moz-border-radius: 50px;
    // -webkit-border-radius: 50px;
    border-radius: 8px;
  }

  .select-div{
    position:absolute;
    right:5px;
    bottom:0px;
}

.empty-server-div{
  margin-top: 48px;
  .empty-img{
    width: 82.5px;
    height: 54.9px;
  }
  .all-empty-text{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.42;
    letter-spacing: 1.2px;
    text-align: center;
    color: #8888b0;
  }
  .no-feed-sources-text{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 1.6px;
    text-align: center;
    color: #8888b0;
  }

  .bind-feed-source-button-div{
    height: 41px;
    margin-top: 28px; 
    margin-left: 32px; 
    margin-right: 32px;
  }
}

.feed-source{
  width: 100%; 
  margin: 20px;
  .feed-source-div{
    margin-bottom: 40px;
    .feed-source-img{
      width: 11.4px;
      height: 8.5px;
      margin-left: 15px;
    }
    .feed-source-text{
      margin-left: 16.3px;
      height: 22px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }

    .feed-source-card{
      margin-top: 16px;
      margin-left: 0px;
      width: calc(100% - 40px);
      height: 100px;

      .feed-source-card-right-img-div{
        margin-right: 16px ; 
        float: right; 
        margin-top: 40px; 

        .feed-source-card-right-img{
          width: 6.7px;
          height: 12.2px;
        }
      }

      .feed-source-card-content{
        display: flex; 
        margin-left: 17px; 
        width: calc(100% - 40px -32px);

        .feed-source-card-img-div{
          margin-top: 22px; 
          margin-bottom: 22px; 
          width: 58px; 
          height: 58px;

          .feed-source-card-img{
            width: 56px; 
            height: 56px;
          }

          .feed-source-card-status{
            position:absolute;
            left:20px;
            top:17px;
          }
        }

        .feed-source-card-content-detail{
          flex-wrap: nowrap;
          width: calc(100% - 20px - 17px - 56px);
          margin-top: 17px; 
          margin-left: 12px;

          .name{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            font-family: Montserrat;
            font-size: 17px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.18;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
          }

          .owner{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            margin-top: 5px;
            font-family: MontserratSemiBold;
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.27;
            letter-spacing: normal;
            text-align: left;
            color: #8888b0;
          }

          .users-img-div{
            margin-top: 5px;
            width: 100%; 
            flex-wrap: nowrap;
            display: flex;

            align-items: center;
            .users-img{
              width: 18.1px;
              height: 14.7px;
            }

            .users-num-online-text{
              margin-left: 5px;
              font-family: Montserrat;
              font-size: 14px;
              font-weight: bold;
              color: #368bff;
            }
            .users-num-offline-text{
              margin-left: 5px;
              font-family: Montserrat;
              font-size: 14px;
              font-weight: bold;
              color: #a0a2c4;
            }
            .users-online-text{
              margin-left: 5px;
              font-family: MontserratSemiBold;
              font-size: 11px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.27;
              letter-spacing: normal;
              text-align: left;
              color: #368bff;
            }
            .users-offline-text{
              margin-left: 5px;
              font-family: MontserratSemiBold;
              font-size: 11px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.27;
              letter-spacing: normal;
              text-align: left;
              color: #a0a2c4;
            }
          }
        }
      }
    }
  }

  .button-div{
    margin-top: 40px; 
    margin-left: 20px;

    .explore-feed-source-button{
      font-family: MontserratMedium;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #368bff;
    }
  
    .bind-feed-source-button{
      margin-top: 23px;
      font-family: MontserratMedium;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #368bff;
    }
  }
  
}

.content-img {
  width: calc(100% - 37px - 37px); 
  height: 202px;

  --border-radius: 8px;
}

.content-img-without-margin {
  width: 100%; 
  height: 202px;

  --border-radius: 8px;
}

.mask-div{
 opacity: 0;
}


.trans-big-img-div{
  position: fixed;
  top: 36px;
  left: 0;
  z-index: 10; 
  width: 100%; 
  height: 100%;

  .trans-big-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% -72px);
    height: calc(100% - 72px);

    .image{
      width:auto;
      height:auto; max-width: 100%;
      max-height: 100%; 
    }
  }
}

.image-text-layout-div{
  margin-left: 10px; margin-top: 6px; margin-bottom: 10px; margin-right: 25px;

  .menu-div{
    float: right;
  }
  .image-text-div{
    display: flex; margin-top: 13px; margin-left: 13px; margin-right: 12px;
    .avatar-div{
      position: relative;
      min-width: 56px; min-height: 56px; width: 56px; height: 56px;
    }

    .text-div{
      margin-left: 12px;
      .text1-div{
        margin-top: 4px;
      }
    }
  }
}

