.container {

    ion-button{
        --background:#7624fe;
        --background-activated:#7624fe;
    }

    .profile-header-title{
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        color:#000000;
        font-size: 18px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .profileImages{
        width: 90px;
        height: 90px;
        border: 1px solid #f8f2ff;
        -o-object-fit: contain;
        object-fit: contain;
        overflow: hidden;
        border-radius: 50%;
    }

    .cameraImg{
        position: absolute;
        width: 30px;
        height: 30px;
        margin-left: 29px;
        margin-top: 31px;
    }
}

.darkContainer{
    .profile-header-title{
        color:#ffffff;
    }
}

