<app-titlebar></app-titlebar>
<!-- <div *ngIf="connectionStatus == 1" class="offline-header"></div> -->
<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <ion-row style="align-content: center;">
      <ion-col size="12" style="align-content: center; padding:0px;" class="profile-header-title">
        {{ 'common.setPropfileAvatar' | translate }}
      </ion-col>
    </ion-row>
    <ion-avatar (click)="editImage()">
      <img [src]="handleImages()" style="align-content: center;" />
    </ion-avatar>
  </ion-grid>
  <ion-button (click)="saveAvatar()" *ngIf="croppedImage == avatar">
    <ion-label> {{'common.save'|translate}}</ion-label>
  </ion-button>
</ion-content>