<!-- <div class="detail-div">
  

  
  <ion-label class="detail-name-value">Tuum Technologies</ion-label>
</div> -->

<div class="detail-div">
  <div class="detail-key-div">
    <ion-label class="detail-key">Name</ion-label>
  </div>
  <div class="detail-value-div">
    <ion-label class="detail-value">{{name}}</ion-label>
  </div>
  <img src="../../../assets/images/rectangle-5389.svg"
     class="detail-line">

  <div class="detail-key-div">
    <ion-label class="detail-key">Did</ion-label>
  </div>
  <div class="detail-value-div">
    <ion-label class="detail-value">{{did}}</ion-label>
  </div>
  <img src="../../../assets/images/rectangle-5389.svg"
  class="detail-line">

  <div *ngIf="gender != ''">
    <div class="detail-key-div">
      <ion-label class="detail-key">Gender</ion-label>
    </div>
    <div class="detail-value-div">
      <ion-label class="detail-value">{{gender}}</ion-label>
    </div>
    <img src="../../../assets/images/rectangle-5389.svg"
    class="detail-line">
  </div>


  <div  *ngIf="telephone != ''">
    <div class="detail-key-div">
      <ion-label class="detail-key">Phone Number</ion-label>
    </div>
    <div class="detail-value-div">
      <ion-label class="detail-value">{{telephone}}</ion-label>
    </div>
    <img src="../../../assets/images/rectangle-5389.svg"
    class="detail-line">
  </div>

  <div *ngIf="email != ''">
    <div class="detail-key-div">
      <ion-label class="detail-key">Email</ion-label>
    </div>
    <div class="detail-value-div">
      <ion-label class="detail-value">{{email}}</ion-label>
    </div>
    <img src="../../../assets/images/rectangle-5389.svg"
    class="detail-line">
  </div>

  <div *ngIf="location != ''">
    <div class="detail-key-div">
      <ion-label class="detail-key">Location</ion-label>
    </div>
    <div class="detail-value-div">
      <ion-label class="detail-value">{{location}}</ion-label>
    </div> 
    <img src="../../../assets/images/rectangle-5389.svg"
    class="detail-line">
  </div>

</div>




