.dTitle{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.content{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    color: #161740;
    margin-top: 20px;
    margin-bottom: 10px;
}

ion-img{
    width: 68px;
    height:68px;
    display:inline-block;
    margin:0 auto;
}

.left{
    text-align:left;
}

.right{
    text-align:right; 
}

.key{
    font-size:13px;
}

.value{
    font-size: 12px;
}

.cancel{
    display:inline-block;
    width: 112px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #368bff;
    height: 41px;
    line-height: 41px;
    border-radius:8px;
    border: solid 1px #368bff;
}

.confirm{
    display:inline-block;
    width: 112px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#368bff;
    border-radius:8px;
}

.darkContainer{
    .white{
        color: #ffffff;
    }
}