.container {
    background: #ffffff;
    border: 1.2px solid #368bff;
    border-radius: 12px;
    padding: 0;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;

        img {
            width: 68px;
            height:68px;
        }

        h1 {
            margin: 5px 0 0;
            font-size: 24px;
            font-weight: 700;
            color: #161740;
        }
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f8ff;
        padding: 30px 15px;

        p {
            margin: 0px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: #161740;
        }
    }

    .btns-row {
        margin: 0;
        padding: 15px;
    }
}


.darkContainer {
    background: #47495a;

    .header {
        h1 {
            color: #fdfeff;
        }
    }

    .message {
        background: #393A48;

        p {
          color: #fdfeff;
        }
    }

    .btns-row {
        .confirm {
            box-shadow: none;
        }
    }
}