<app-titlebar></app-titlebar>
  <div *ngIf="connectionStatus == 1" class="offline-header"></div>
<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <!--- SERVER HEADER --->
    <div class="server-header">
      <ion-img class="headerImg" src="./assets/images/profile-2.svg"></ion-img>
      <h1>{{ name }}</h1>
      <p *ngIf="introduction && introduction !== name">{{ introduction }}</p>
      <ion-row class="status-row" [class.online]="serverStatus === 0">
        <span class="online-circle" *ngIf="serverStatus === 0"></span>
        <span class="users" *ngIf="serverStatus === 0" style="margin-left: 4px; margin-right: 8px;">{{ 'ServerInfoPage.online' | translate }}</span>
        <span class="offline-circle"  *ngIf="serverStatus === 1"></span>
        <span class="users" *ngIf="serverStatus === 1" style="margin-left: 4px; margin-right: 8px;">{{ 'ServerInfoPage.offline' | translate }}</span>
        <ion-img [src]="serverStatus === 0 ? 'assets/images/users-online.svg' : 'assets/images/users-offline.svg'"></ion-img>
        <span class="clientNumber">{{ clientNumber }}</span>
        <span class="users">{{'ServerInfoPage.users' | translate}}</span>
      </ion-row>
    </div>

    <!--- SERVER DETAILS --->
    <div *ngFor="let server of serverDetails">
      <ion-row *ngIf="server.details" class="detail-row" [class.removeBorder]="serverDetails.indexOf(server) === serverDetails.length - 1">
        <ion-col size="12" class="left-col">
            <h1>{{ server.type | translate }}</h1>
            <h2 *ngIf="!server.qrcode" (click)="copytext(server.details)">{{ server.details }}</h2>
            <div *ngIf="server.qrcode" class="qr-container">
              <h2 *ngIf="!isShowQrcode" >{{'common.waitOnChain'|translate}}</h2>
              <div *ngIf="isShowQrcode" class="qrcode" (click)="showPreviewQrcode(feedsUrl)" (press)="menuMore(feedsUrl)">
                <qrcode [qrdata]="feedsUrl" [size]="150" [level]="'M'" allowEmptyString="true"></qrcode>
              </div>
            </div>
          <h2 *ngIf="feedsUrl!=null&&server.qrcode&&isShowQrcode" style="margin-top:10px;font-size: 9px!important;color:#8888b0">{{'ServerInfoPage.feedsSourceQRCodeDes'|translate}}</h2>
        </ion-col>
      </ion-row>
    </div>

    <!--myFeeds-->
   <ion-row class="detail-row removeBorder feedstitle" *ngIf="ownerChannelList.length>0">
     <ion-col size="12" class="left-col">
      <h1>{{'ServerInfoPage.containedfeeds'|translate}}</h1>
     </ion-col>
   </ion-row>
   <ion-list class="channel-list" [class.darkChannelList]="theme.darkMode">
   <ion-item  *ngFor="let channel of ownerChannelList let i=index"
   lines="none" style="border:none;">
   <ion-row class="channel-row ion-activatable ripple">
      <ion-col
          size="2.5"
          class="left-col"
          (click)="navTo(channel.nodeId, channel.id)"
        >
          <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
            <img src={{parseChannelAvatar(channel.avatar)}}>
          </div>
        </ion-col>
        <ion-col
          size="9.5"
          class="middle-col"
          (click)="navTo(channel.nodeId, channel.id)"
        >
          <ion-label>
            {{ channel.name }}
          </ion-label>
        </ion-col>

        <!-- <ion-col size="4" class="arrow-col">
          <div class="theme-toggle light-toggled">
              <div [ngClass]="{'light-mode':handlePublic(channel.id)=='','dark-mode':handlePublic(channel.id)!=''}" (click)="clickPublicFeeds(channel)"><p>{{ 'ServerInfoPage.public' | translate }}</p></div>
              <div [ngClass]="{'dark-mode':handlePublic(channel.id)=='','light-mode':handlePublic(channel.id)!=''}" (click)="unPublicFeeds(channel)"><p>{{ 'ServerInfoPage.beingPublic' | translate }}</p></div>
          </div>
      </ion-col> -->
        <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-item>
  </ion-list>

    <!--- BUTTONS --->
    <div class="btns">
      <ion-row *ngIf="isBindServer" class="btn-row delete-row">
        <ion-button (click)="deleteFeedSource()" color="danger">
          <ion-label>{{'ServerInfoPage.deleteFeedSource' | translate}}</ion-label>
        </ion-button>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>