* {
    font-family: 'Raleway', sans-serif;
  }

ion-header {

  ion-toolbar {
    margin-top: 25px;
    margin-bottom: 25px;

    ion-title {
    font-size: 25px;
    font-weight: bold;
    }
  }
}

ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
}

.darkContainer{
  .center-flex .white{
    color: #ffffff;
  }

  .detail-value-div .detail-value{
    color: #ffffff;
  }
}

.lightContainer{
  .balck{
    color: #000000;
  }
}

