<ion-app>
    <ion-menu side="end" type="overlay" menuId="menu" [class.darkMenu]="theme.darkMode" contentId="my-content" class="my-custom-menu" swipeGesture="false">
        <ion-content>
            <div style="height: 40px;" *ngIf="isIOSPlatform()"></div>

            <ion-row class="profile-card profileCardBg0" >
                <ion-col size="12" class="left-col">
                    <div *ngIf="avatar===''" class="defaultAvatar"></div>
                    <img *ngIf="avatar!=''" [src]="avatar" (click)="profiledetail()"/>
                    <h1 (click)="profiledetail()">{{ name }}</h1>
                    <h3 style="font-size:10px !important;font-weight:700;font-stretch:normal;font-style:normal;line-height:1.3;color:#fff;margin:0 auto;" *ngIf="walletAddressStr!=''"><span (click)="clickWalletAddr()">{{walletAddressStr}}</span> <ion-icon (click)="copyWalletAddr()" style="vertical-align:middle;margin-left:5px;" name="copy-outline"></ion-icon></h3>
                    <h2 *ngIf="walletAddressStr===''" class="connectWallet" (click)="connectWallet()">{{"WalletteachPage.connectWallet" | translate}}</h2>
                </ion-col>
            </ion-row>

            <ion-menu-toggle>
                <div (click)="settings()">
                    <img src="./assets/images/menu/settings.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/settings.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.settings' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="about()">
                    <img src="./assets/images/menu/about.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/about.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.about' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="showSignoutDialog()">
                    <img src="./assets/images/menu/signout.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/signout.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.signout' | translate }}</h1>
                </div>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>

    <!-- <ion-router-outlet  [swipeGesture]="true" id="my-content"></ion-router-outlet> -->
    <ion-router-outlet  id="my-content"></ion-router-outlet>

    <!--nft loading-->
    <app-nftloading
    *ngIf="isLoading"
    [loadingTitle] = "loadingTitle"
    [loadingText] = "loadingText"
    [loadingCurNumber] = "loadingCurNumber"
    [loadingMaxNumber] = "loadingMaxNumber"
    >
    </app-nftloading>
  </ion-app>

