ion-row {
  width: 100%;
  //margin-top: 5px;
  padding: 7.5px 2.5px;

  ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;

      img {
          height: 24px;
          width: 24px;
      }

      ion-icon {
          height: 30px;
          width: 30px;
          color: #000000;
      }

      ion-title {
          font-family: 'Montserrat';
          font-size: 20px;
          font-weight: 700;
          text-align: left;
          padding: 0;
      }

      .badge {
          position: relative;

          .red-dot {
              height: 10px;
              width: 10px;
              background: red;
              border-radius: 100%;
              position: absolute;
              top: -5px;
              right: -5px;
          }
      }
  }
}

.light-header{
background-color:#FFFFFF;
color:#000000;
}

.light-header1{
background-color:#f1e9ff;
color:#7624fe;
}
.dark-header {
background-color:#191a2f;
color:#ffffff;
}

.dark-header1 {
background-color:#191a2f;
color:#7624fe
}

.hidden {
visibility: hidden;
}



.qrscanner-area {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("../../../assets/imgs/scanner.svg") no-repeat center center;
  background-size: contain;
}

.through-line {
  left: 25%;
  width: 50%;
  height: 2px;
  background: red;
  position: absolute;
  animation: lineAnimation 2s linear infinite alternate;
}

@keyframes lineAnimation {
  0% {
      background: #f04141;
      top: 40%;
  }
  20% {
      background: #ffc409;
      top: 45%;
  }
  40% {
      background: #3dc2ff;
      top: 50%;
  }
  60% {
      background: #2dd36f;
      top: 55%;
  }
  80% {
      background: #4854e0;
      top: 60%;
  }
  100% {
      background: #eb445a;
      top: 65%;
  }
}

.transparentBody {
   --background: none transparent !important;
   --backdrop-opacity:0;
}

ion-fab-button {
  --background: #ffffff;

  ion-icon {
      color: #121212;
  }
}

.dark-fab {
  --background: #121212;

  ion-icon {
      color: #ffffff;
  }
}

