.bidBg{
  --ion-background-color: #FFF7EB;
}

.buyBg{
  --ion-background-color: #EDF8EB;
}

.bidPlaced{
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #f7b12a;
}

.congratulations{
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #49b12a;
}

.bigCircle{
 margin:0 auto;
 margin-top: 106px;
 width: 203px;
 height: 203px;
 background-color:#F0E8FF;
 border-radius:50%;
 position: relative;
}

.smallCircle{
position:absolute;
left:50px;
top:50px;
width: 103px;
height: 103px;
background-color:#D8C1FF;
border-radius:50%;

img{
    position: absolute;
    top: 14px;
    left: 0px;
}
}

.des{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #f7b12a;
}

.buyDes{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #49b12a;
}


.bid {
    margin-top: 20px;
    ion-button{
      --background:#f7b12a;
      --background-activated:#f7b12a;
    }
    .btn-row {
      width: 100%;
      margin-top: 0px;

      ion-button {
        width: 95%;
      }
    }

    .delete-row {
      margin-top:0px;
    }
  }

.buy {
    margin-top: 20px;
    ion-button{
      --background:#49b12a;
      --background-activated:#49b12a;
    }
    .btn-row {
      width: 100%;
      margin-top: 0px;

      ion-button {
        width: 95%;
      }
    }

    .delete-row {
      margin-top:0px;
    }
  }