<div class="addAssets ion-activatable ripple" style="margin-top: 5px;" [class.darkAddAssets]="theme.darkMode"
  [ngStyle]="styleObj">
  <div style="padding-left: 16px; padding-right: 16px;" *ngIf="assetItem != null">
    <img
    class="clickMore"
    [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'"
    (click)="more()"/>
    <div style="display: flex; align-items: center;" (click)="clickItem()">
      <img src="./assets/images/nft-user-circle.svg" style="vertical-align: middle;margin-right: 5px;" />
      <span class="des">{{handleAddr(assetItem['sellerAddr'])}}  <img *ngIf="verified" style="vertical-align:middle;" src="assets/images/verified-user.svg"/></span>
      <span class="createTime"> {{ handleDisplayTime(assetItem["orderCreateTime"]) }}</span>
    </div>
    <div (click)="clickItem()">
      <div style=" margin-top: 17px; width: auto;height:200px; display: flex; align-items: center; ">
        <div style="margin: 0 auto;position: relative;">
          <img src="./assets/icon/reserve.svg" style="object-fit:contain;" class="assetsImg" id={{thumbImageId}}-thumbImage/>
        </div>
      </div>
      <div class="des1">{{assetItem['name']}}</div>
      <div class="des4">{{assetItem['description']}}</div>
      <!-- <div class="des2">{{"MintnftPage.nftQuantity"|translate}} : {{handleCurQuantity(assetItem)}}/{{handleCurQuantity(assetItem)}}</div> -->
      <div class="like" *ngIf="assetItem['fixedAmount']!=null">
        <span>{{hanldePrice(assetItem['fixedAmount'])}} ELA <img style="vertical-align:middle;" src="assets/images/purpleblue.svg"/></span>
        <span class="des2" style="text-align:right;display:inline-block;">{{handleCurQuantity(assetItem)}}/{{handleCurQuantity(assetItem)}}</span>
        <span class="priceUsd" *ngIf="elaPrice!=null">≈USD {{hanldeUsdPrice(assetItem['fixedAmount'])}}</span>
        <img src="assets/images/avatar.svg" *ngIf="assetItem['type']==='avatar'" style="position:absolute;right:47px;bottom: 35px;width:24px;height:24px;z-index: 999;"/>
        <img src="assets/images/videoTypeIcon.svg" *ngIf="assetItem['type']==='video'" style="position:absolute;right:47px;bottom: 35px;width:24px;height:24px;z-index: 999;"/>
        <img src="assets/images/audioTypeIcon.svg" *ngIf="assetItem['type']==='audio'" style="position:absolute;right:47px;bottom: 35px;width:24px;height:24px;z-index: 999;"/>
      </div>
    </div>

    <ion-ripple-effect></ion-ripple-effect>
  </div>
</div>
