.addAssets{
    position:relative;
    margin: 0 auto;
    padding: 10px 10px;
    // width: 160px;
    // height: 233px;
    // background-color: #f6f5f6;
    // border-radius: 10px;
    text-align: center;
}

.addAssets{
.clickMore{
    width: 20px;
    height: 20px;
    overflow: visible;
    position: absolute;
    right: -7px;
    top: 8px;
}
.assetsImg{
    margin-top:10px;
    width:100%;
    height:200px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.des{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des1{
    font-size: 18px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des2{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.des3{
    margin-left:38px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.like{
    span{
        display:inline-block;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        color: #7624fe;
        margin-top: 7px;
        margin-bottom:8px;
    }
    text-align: center;
    img{
        width:16px;
        height:16px;
        margin-top: 0px;
        vertical-align: middle;
    }
}

.moremenu1{
    text-align:right;
    margin-right: 11px;

    img{
        width: 38px;
        height: 18px;
        position: absolute;
        right: -6px;
        bottom: 47px;
    }
}
}


.darkAddAssets{
    .des{
    color: #fff;
    }
    .des1{
        color: #fff;
    }
    .des2{
        color: #fff;
    }
}