<div class="addAssets ion-activatable ripple"  [class.darkAddAssets]="theme.darkMode" [ngStyle]="styleObj">
  <div *ngIf="assetItem === null">
    <img src="assets/images/loading.png" style="height:340px;object-fit:cover;"/>
  </div>
  <div *ngIf="assetItem != null">
    <img
    class="clickMore"
    [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'"
    (click)="more()"/>
    <div class="des" (click)="clickItem()"><img src="./assets/images/nft-user-circle.svg" style="vertical-align: middle;margin-right: 2px;"/>{{handleAddr(assetItem['sellerAddr'])}}</div>
    <img src="{{hanldeImg(assetItem['thumbnail'])}}" (click)="clickItem()" style="object-fit:cover;" class="assetsImg"/>
    <div class="des1" (click)="clickItem()">{{assetItem['description']}}</div>
    <div class="des2" (click)="clickItem()">{{"MintnftPage.nftQuantity"|translate}}: {{assetItem['quantity']}}</div>
    <div class="like" (click)="clickItem()" *ngIf="assetItem['fixedAmount']!=''">
      <span>{{hanldePrice(assetItem['fixedAmount'])}} ELA/ETHSC</span>
    </div>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</div>
