

<ion-content>
  <div class="center-content-div" *ngIf="channelList.length == 0">
    <div class="center-content" style="height: 550px;">
      <!-- <div style="background-image: url('../../../../assets/images/empty-feeds-icon.png');"> </div> -->
      <img src="../../../../assets/images/empty-feeds-icon.svg">
      <div class="all-empty" style="margin-top: 20px;">All Empty</div>
      <div class="all-empty-content-text" style="margin-top: 7px;">Not following any feeds yet</div>

        <ion-button  mode="ios" class="explore-feeds" (click)="exploreFeeds()" round>
          <div class="explore-feeds-text"> Explore Feeds</div>
        </ion-button>
      <!-- <div class="explore-feeds">
      </div> -->
    </div> 

  </div>

<div *ngFor="let channel of channelList" >

  <div class="channel-img-small-div" (click)="navTo(channel.nodeId, channel.id)">
    <div class="channel-img-small">
      <ion-avatar >
        <img  src={{parseAvatar(channel.avatar)}}>
      </ion-avatar>
    </div>

    <div class="channel-detail-div">
      <div class="channel-detail-text-div">
        <div style="height: 100%; vertical-align: middle;"> 
          <ion-label class="channel-title-small">{{channel.name}}</ion-label>
          <!-- <ion-label class="channel-ts"></ion-label> -->
          <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
        </div>
        <!-- <div> 
          <ion-label class="channel-desc-small">@TuumTech</ion-label>
        </div> -->

        <div >
          <img src="../../../../assets/images/bubble2.svg" class="bubble">
          <ion-label class="channel-follower2">{{channel.subscribers}} follower</ion-label>
          
        </div>

      </div>
    </div>
  </div>



  <img src="../../../assets/images/rectangle-5389.svg"
  class="detail-line">
</div>
<!-- </div>

<div class="channel-img-small-div">
  <img class="channel-img-small" src="../../../../assets/images/component-480-3.png">

  <div class="channel-detail-div">
    <div class="channel-detail-text-div">
      <div style="height: 100%; vertical-align: middle;"> 
        <ion-label class="channel-title-small">Tuum Technologies</ion-label>
        <ion-label class="channel-ts"></ion-label>
        <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
      </div>

      <div >
        <img src="../../../../assets/images/bubble2.svg" class="bubble">
        <ion-label class="channel-follower2">11 follower</ion-label>
        
      </div>

    </div>
  </div>
</div>



<img class="Rectangle-281">


<div class="channel-img-small-div">
  <img class="channel-img-small" src="../../../../assets/images/component-480-3.png">

  <div class="channel-detail-div">
    <div class="channel-detail-text-div">
      <div style="height: 100%; vertical-align: middle;"> 
        <ion-label class="channel-title-small">Tuum Technologies</ion-label>
        <ion-label class="channel-ts"></ion-label>
        <ion-icon name="more" mode="ios" style="vertical-align: middle; float: right; "></ion-icon>
      </div>

      <div >
        <img src="../../../../assets/images/bubble2.svg" class="bubble">
        <ion-label class="channel-follower2">11 follower</ion-label>
        
      </div>

    </div>
  </div>
</div>



<img class="Rectangle-281"> -->
</ion-content>
