.empty-container {
    margin-top: 50px;
}

.darkContainer{
    .channel-detail-div .white{
        color: #ffffff;
    }
    .white{
        color: #ffffff;
    }
    .white-line{
        background-color: rgba(45, 46, 77, 0.7);;
    }
}