
  <div *ngIf="channelList.length == 0">
    <div style="margin-top: 50px;" >
      <div style="text-align: center; ">
        <img src="../../../../assets/images/empty-feeds-icon.svg">
      </div>
      <div class="all-empty" style="margin-top: 20px;">{{'common.allempty' | translate}}</div>
      <div class="all-empty-content-text" style="margin-top: 7px;">{{'FollowingComponent.emptyDes'|translate}}</div>
    
      <div class="explore-feeds">
      <ion-button expand="block"  mode="ios" (click)="exploreFeeds()" >
        <div class="explore-feeds-text">{{'FollowingComponent.exploreFeeds'|translate}}</div>
      </ion-button>
      </div>
    </div> 
  </div>

<div *ngFor="let channel of channelList" [class.darkContainer]="theme.darkMode">

  <div class="image-text-layout-div">
    <ion-card-content class="ion-no-padding ion-no-margin">

      <div *ngIf="checkUnreadNumber(channel.nodeId, channel.id) > 0" style="position:absolute; left: 0px; top: 0px;"  (click)="navTo(channel.nodeId, channel.id)">
        <ion-badge>{{checkUnreadNumber(channel.nodeId, channel.id)}}</ion-badge>
      </div>

      <div class="menu-div" style="margin-top: 10px;" (click)="menuMore(channel.nodeId, channel.id, channel.name)">
        <img  src="./assets/images/dots-three-vertical.svg" *ngIf="!theme.darkMode" style="width:12.4;height:3px">
        <img  src="./assets/images/dots-three-vertical-dark.svg" *ngIf="theme.darkMode" style="width:12.4;height:3px">
      </div>

      <div class="image-text-div" (click)="navTo(channel.nodeId, channel.id)">
          <ion-avatar class="avatar-div">
            <img  src={{parseAvatar(channel.avatar)}}>
          </ion-avatar>

          <div class="text-div">
            <div class="text1-div"> 
              <ion-label class="channel-title-small white">{{channel.name}}</ion-label>
            </div>
            <div >
              <img src="../../../../assets/images/bubble2.svg" class="bubble">
              <ion-label class="channel-follower2">{{channel.subscribers}} {{'common.followers'|translate}}</ion-label>
            </div>
          </div>
      </div>
    </ion-card-content>
  </div> 

  <div class="line-div white-line"></div>
</div>

<div class="new-feed-div" *ngIf="channelList.length > 0">
  <div class="new-feed" (click)="exploreFeeds()">{{'FollowingComponent.exploreFeeds'|translate}}</div>
</div>

