.container {
    padding: 40px 25px;
    .removeBorder {
      border-bottom: none;
    }
    .bottomBorder{
      border-bottom: 2px solid rgba(34, 34, 34, 0.07);
    }
    .btn-row1 {
      margin-top: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      height:40px;
      border-radius: 17px;
    }

    .detail-row {
      .qr-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .qrcode {
          padding: 15px;
          background: #ffffff;
          border-radius: 17px;
        }
      }
        padding-top: 20px;
        padding-bottom: 5px;
        ion-col {
          padding: 0;
        }

        .left-col {
          h1, h2 {
            margin: 0;
          }

          h1 {
            width:100%;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 2.4px;
            text-transform: capitalize;
            color: #8888b0;
            margin-bottom: 5px;
            margin-left: 2px;
          }

          h2 {
            margin: 5px 0 0;
            padding: 15px 20px 15px 10px;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.8px;
            width: 100%;
            background-color: #ffffff;
            box-shadow: 0 3px 15px 0 #ededf0;
            border-radius: 17px;
          }
        }

        .right-col {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
    }
    .server-header {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 17px;
      box-shadow: 0 3px 15px 0 #ededf0;
      background-color: #ffffff;
      margin-bottom: 10px;
      margin-top: 20px;

      ion-img {
        width: 56px;
        height: 56px;
        object-fit: cover;
      }

      h1 {
        margin: 0;
        padding: 15px 0px 7.5px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }

      p {
        margin: 0;
        padding-bottom: 15px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.8px;
        text-align: center;
        overflow: hidden;
      }

      .status-row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;

        .indicator {
          background-color: #cdcde6;
          border-radius: 100%;
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }

        .status {
          margin-right: 12.3px;
          margin-left: 4.1px;
          font-size: 11px;
          font-weight: 500;
          color: #cdcde6;
        }


        ion-img {
          width: 18.1px;
          height: 14.7px;
        }

        .users, .clientNumber {
          color: #a0a2c4;
        }

        .users {
          display: inline-block;
          font-size: 11px;
          font-weight: 500;
        }

        .clientNumber {
          display:inline-block;
          margin-left: 3.6px;
          margin-right: 3px;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .online {
        .indicator {
          background-color: #368bff;
        }

        .status, .users, .clientNumber {
          color: #368bff;
        }
      }
    }

    .btns {
      margin-top: 20px;

      .btn-row {
        width: 100%;
        margin-top: 0px;

        ion-button {
          width: 95%;
        }
      }

      .delete-row {
        margin-top:0px;
      }
    }
}

.darkContainer {
  .bottomBorder {
    border-bottom: 2px solid #2e2f4e;
  }

  .detail-row .removeBorder {
    border-bottom: none;
  }

  .detail-row{
    .left-col {
      h2 {
        margin: 5px 0 0;
        padding: 15px 20px 15px 10px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.8px;
        width: 100%;
        box-shadow: 0 3px 15px 0 #151626;
        background-color: #2b2c49;
        border-radius: 17px;
      }
    }
  }

  .server-header {
    box-shadow: 0 3px 15px 0 #151626;
    background-color: #2e2f4e;
  }
}