<app-titlebar></app-titlebar>
<!-- <div *ngIf="connectionStatus == 1" class="offline-header"></div> -->
<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <!-- Did Info -->
    <ion-row>
      <ion-col size="12" style="padding:0px;" class="profile-header-title">
          {{ 'ProfiledetailPage.didinfo' | translate }}
      </ion-col>
    </ion-row>
    <div class="server-header">
      <img class="profileFeeds" src="./assets/images/profile-feeds-logo.svg"/>
      <img class="elaLogo" src="./assets/images/elaLogo.svg"/>
      <img  [src]="handleImages()" class="didImg"/>
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
      <!-- <span class="connectWallet" (click)="connectWallet()">{{"common.connectWallet" | translate}}</span> -->
    </div>
    <div *ngFor="let profile of profileDetails">
      <ion-row *ngIf="profile.details" class="detail-row">
        <ion-col size="12" class="left-col">
            <h1>{{ profile.type | translate}}</h1>
            <h2 (click)="copytext(profile.details)">{{ profile.details }}</h2>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="detail-row">
      <ion-col size="12" class="left-col" (click)="clickCollections()">
          <h1>{{'ProfiledetailPage.collections'|translate}}</h1>
          <div class="roundNft">NFT</div>
          <img class="rightArrow" src="./assets/images/left-arrow.svg"/>
      </ion-col>
    </ion-row>

    <!-- Publisher Account -->
    <div *ngIf="isShowPublisherAccount" style="margin-top:20px;margin-bottom:10px;">
      <ion-row>
        <ion-col size="12" style="padding:0px;" class="profile-header-title">
              {{ 'ProfiledetailPage.publisheraccount' | translate }}
        </ion-col>
       </ion-row>

    <!--- SERVER HEADER --->
    <div class="server-header">
      <img class="profilePeople" src="./assets/images/profile-people.svg"/>
      <span class="clientNumber">{{ clientNumber }} {{'ServerInfoPage.users' | translate}}</span>
      <img class="editInfo" src="./assets/images/edit.svg" (click)="clickEdit()"/>
      <div style="position:relative;">
      <ion-img class="serverImg" src="./assets/images/profile-2.svg"></ion-img>
      <ion-row class="status-row" [class.online]="serverStatus === 0">
        <span class="online-circle" *ngIf="serverStatus === 0"></span>
        <span class="offline-circle"  *ngIf="serverStatus === 1"></span>
      </ion-row>
      </div>
      <h1>{{ serverName }}</h1>
    </div>

    <!--- SERVER DETAILS --->
    <div *ngFor="let server of serverDetails">
        <ion-row *ngIf="server.details" class="detail-row">
          <ion-col size="12" class="left-col">
              <h1>{{ server.type | translate }}</h1>
              <h2 *ngIf="!server.qrcode" (click)="copytext(server.details)">{{ server.details }}</h2>
              <div *ngIf="server.qrcode" class="qr-container">
                <h2 *ngIf="!isShowQrcode" >{{'common.waitOnChain'|translate}}</h2>
                <div *ngIf="isShowQrcode" class="qrcode" (click)="showPreviewQrcode(feedsUrl)" (press)="menuMore(feedsUrl)">
                  <qrcode [qrdata]="feedsUrl" [size]="150" [level]="'M'" allowEmptyString="true"></qrcode>
                </div>
              </div>
            <h2 *ngIf="feedsUrl!=null&&server.qrcode&&isShowQrcode" style="margin-top:10px;font-size: 9px!important;color:#8888b0">{{'ServerInfoPage.feedsSourceQRCodeDes'|translate}}</h2>
          </ion-col>
        </ion-row>
    </div>

       <!--- BUTTONS --->
       <div class="btns">
        <ion-row class="btn-row delete-row">
          <ion-button (click)="deleteFeedSource()" color="danger">
            <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{'ServerInfoPage.deleteFeedSource' | translate}}</ion-label>
          </ion-button>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>