.darkContainer{
    .channel-title-div .channel-title{
         color: #ffffff;
    }

    .center-flex .profile-sub-text{
        color: #ffffff;
    }

    .center-flex .profile-subscribe{
        color: #ffffff;
    }

    .channel-desc-div .channel-desc{
        color: #ffffff;
    }

    .detail-div .detail-value-div .detail-value{
        color: #ffffff;
    }
}