.container {
    padding: 40px 30px;

    .detail-row {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(34, 34, 34, 0.07);
    
        ion-col {
          padding: 0;
        }
    
        .left-col {
          h1, h2 {
            margin: 0;
          }
    
          h1 {
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 2.4px;
            text-transform: capitalize;
            color: #8888b0;
            margin-bottom: 5px;
          }
    
          h2 {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.6px;
          }
        }
    
        .right-col {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
    }
}

.darkContainer {
  .detail-row {
    border-bottom: 2px solid #2e2f4e;
  }
}

/* .darkContainer{
    .channel-title-div .channel-title{
         color: #ffffff;
    }

    .center-flex .profile-sub-text{
        color: #ffffff;
    }

    .center-flex .profile-subscribe{
        color: #ffffff;
    }

    .channel-desc-div .channel-desc{
        color: #ffffff;
    }

    .detail-div .detail-value-div .detail-value{
        color: #ffffff;
    }
} */