<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>
<ion-content [class.darkContainer]="theme.darkMode">
  <div class="channel-img-div">
    <img *ngIf="avatar == ''" class="profile-img" src="assets/images/default-contact.svg">
    <img *ngIf="avatar != ''" class="profile-img" [src]="avatar">
  </div>

  <div class="channel-title-div">
    <ion-label class="channel-title">{{name}}</ion-label>
  </div>

  <div class="channel-desc-div">
    <ion-label class="channel-desc" >{{description}} </ion-label>
  </div>


  <div class="detail-div">

    <div class="detail-key-div">
      <ion-label class="detail-key">{{'ProfiledetailPage.name'|translate}}</ion-label>
    </div>
    <div class="detail-value-div">
      <ion-label class="detail-value">{{name}}</ion-label>
    </div>
    <div class="detail-line"></div>
  
    <div class="detail-key-div">
      <ion-label class="detail-key">{{'ProfiledetailPage.did'|translate}}</ion-label>
    </div>
    <div class="detail-value-div">
      <ion-label  class="detail-value">{{did}} </ion-label>
    </div>
    <div class="detail-line"></div>
  
    <div *ngIf="gender != ''">
      <div class="detail-key-div">
        <ion-label class="detail-key">{{'ProfiledetailPage.gender'|translate}}</ion-label>
      </div>
      <div class="detail-value-div">
        <ion-label  class="detail-value">{{gender}} </ion-label>
      </div>
      <div class="detail-line"></div>
    </div>
  
  
    <div  *ngIf="telephone != ''">
      <div class="detail-key-div">
        <ion-label class="detail-key">{{'ProfiledetailPage.telephone'|translate}}</ion-label>
      </div>
      <div class="detail-value-div">
        <ion-label class="detail-value">{{telephone}}</ion-label>
      </div>
      <div class="detail-line"></div>
    </div>
  
    <div *ngIf="email != ''">
      <div class="detail-key-div">
        <ion-label class="detail-key">{{'ProfiledetailPage.email'|translate}}</ion-label>
      </div>
      <div class="detail-value-div">
        <ion-label class="detail-value">{{email}}</ion-label>
      </div>
      <div class="detail-line"></div>
    </div>
  
    <div *ngIf="location != ''">
      <div class="detail-key-div">
        <ion-label class="detail-key">{{'ProfiledetailPage.location'|translate}}</ion-label>
      </div>
      <div class="detail-value-div">
        <ion-label class="detail-value">{{location}}</ion-label>
      </div> 
    </div>
  

  </div>  
</ion-content>
