.first{
    margin-top: 60px;  
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  
  .second{
      margin-top: 60px;
  }
  
  .second .introduce{
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #8888b0;
      margin-bottom: 5px;
      word-wrap:break-word;  
      word-break:break-all; 
  }
  
  .createchannel{
    width: 236px;
    height: 41px;
    line-height: 41px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #368bff;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #fdfeff;
    margin: 0 auto;
    margin-top: 63px;
    border-radius: 9px;
}

.backmainscreen{
    width: 196px;
    height: 41px;
    line-height: 41px;
    border: solid 1px #368bff;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #368bff;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 9px;
}
  .darkContainer{
      .white{
          color:#ffffff;
      }
  }