<ion-content class="ion-padding"  [class.darkContainer]="theme.darkMode">
   <div class="first white">
       {{'ImportdidPage.introduce'|translate}}
   </div>

   <div class="second">
       <div class="introduce">{{'ImportdidPage.introduce1'|translate}}</div>
       <div class="introduce">{{'ImportdidPage.introduce2'|translate}}</div>
  </div>

  <div class="createchannel" (click)="createNewDid()">
    {{'ImportdidPage.createanewDID'| translate}}
  </div>
  
  <div class="abort" (click)="abort()">
    {{'ImportdidPage.abort'| translate}}
  </div>
 
</ion-content>
