
<app-titlebar></app-titlebar>
<div *ngIf="connectionStatus == 1" class="offline-header"></div>
<ion-content class="container" [class.darkContainer]="theme.darkMode" [class.content]="!theme.darkMode">
  <ion-grid >
    <h1>{{'ImportdidPage.introduce'|translate}}</h1>
    <h2>{{'ImportdidPage.introduce1'|translate}}</h2>
    <p>{{'ImportdidPage.introduce2'|translate}}</p>
    <img src="./assets/images/identity.svg">
    <ion-row class="btn-row">
      <ion-button class="confirm" (click)="createNewDid()">
        <ion-label>{{'ImportdidPage.createanewDID'|translate}}</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
