.channel-list {
    padding: 10px 25px;

    ion-item {
        .channel-row {
            .left-col {
                padding-left: 0;
                justify-content: flex-start;

                .feedAvatar {
                    img {
                        width: 55px;
                        height: 55px;
                    }
                }
            }

            ion-label {
                    margin-left:10px;
                    font-size: 14px;
                }

        }
    }

    ion-textarea {
        margin: 10px 0 15px;
        min-height: 192px;
        background-color: #f0f1ff;
        color: #000000;
        border-radius: 9px;
        --padding-start: 10px;
        font-family: 'SourceSansPro';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.25;
    }

    .img-container {
        position: relative;
        width: 45%;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9px;
            overflow-x: auto; 
            overflow-y: auto; 
        }

        .remove {
            position: absolute;
            z-index: 10;
            right: -8px;
            top: -8px;
            width: 20px;
            height: 20px;
        }
    }

    .submit-row {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-icon {
                color: #368bff;
            }

            #image {
                width: 28px;
                height: 28px;
                margin-right: 5px;
            }
            
            #camera {
                width: 35px;
                height: 35px;
            }
        }

        .right-col {
            ion-button {
                width: 100%;
                height: 36px;
                --border-radius: 30px;
                --box-shadow: none;
            
                ion-label {
                  font-size: 13px !important;
                  font-weight: 700;
                  padding: 0;
                  overflow: hidden;
                }
            }
        }
    }
}

.darkChannelList {
    ion-textarea {
        background-color: #2e2f4e;
        color: #ffffff;
    }
}

/****************** DESIGN WITH CHANNEL DETAILS ******************/
/* .channel-list {
    padding: 10px 20px;

    ion-item {
        .channel-row {
            .left-col {
                padding-left: 0;
                justify-content: flex-end;
            }
        }
    }

    ion-textarea {
        margin: 10px 0;
        min-height: 192px;
        border-radius: 9px;
        background-color: #f0f1ff;
        color: #161740;
        --padding-start: 10px;
        font-family: 'SourceSansPro';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.25;
    }

    .submit-row {
        ion-col {
            ion-button {
                width: 100%;
                height: 36px;
                --border-radius: 30px;
                --box-shadow: none;
            
                ion-label {
                  font-size: 13px !important;
                  font-weight: 700;
                  padding: 0;
                  overflow: hidden;
                }
            }
        }
    }
}

.darkChannelList {
    ion-textarea {
        background-color: #2e2f4e;
        color: #ffffff;
    }
} */


/****************** OLD UI ******************/
/* .rightContent{
    position:absolute;
    left:100px;
    top:13px;
}

.ellipsis{
    width:150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:inline-block;
}

.darkContainer{
 .rightContent .white{
    color: #ffffff;
}

.white{
    --placeholder-color:#cfd1f7;
    --color:#cfd1f7;
}
} */