// .footer{
    // height: 45.8px;

// }
.Component-565-5 {
    width: 414px;
    height: 47.8px;
    object-fit: contain;
  }

  .Component-549-1 {
    width: 46px;
    height: 46px;
    object-fit: contain;
  }

  .Component-563-18 {
    width: 414px;
    height: 2px;
    object-fit: contain;
  }

  ion-tab-button.center-tab{
    position: absolute;;
    overflow: visible;
    text-align: center;
    height: 96px;
    width: 96px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    z-index: 99999;
    ion-icon{
        padding: 6px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: var(--ion-color-white, #fff);
        background-color: var(--ion-color-primary, #9b7af3);
        border-radius:50%;
        border:5px solid #fff;
        // box-shadow:0 -2px 3px rgba(100,100,100,.4);
    }
}
//   ion-segment-button{
//       padding: 0px;
//       background-color: darken($color: #000000, $amount: 0);
//   }

  ion-footer{
      background: darken($color: #000000, $amount: 0);
  }