<app-titlebar></app-titlebar>
<ion-content (ionScroll)="ionScroll()" [scrollEvents]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
        <ion-refresher-content
          class="refresh"
          pullingText="{{'common.releaseToRefresh'|translate}}"
          spinner="src/assets/images/arrow-dropdown.svg"
          refreshingSpinner="circles"
          refreshingText="{{'common.beingRefresh'|translate}}">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!isLoadingData&&channelCollectionList.length === 0" class="empty-container">
      <img src="./assets/images/empty-feeds-icon.svg">
      <h1>{{ 'FollowingComponent.allempty' | translate }}</h1>
      <p>{{ 'FollowingComponent.emptyDes' | translate }}</p>
    </div>

    <ion-list *ngIf="!isLoadingData&&channelCollectionList.length > 0" class="channel-list" [class.darkChannelList]="theme.darkMode" style="padding-top:5px;">
      <ion-item
      class="channelCollectionsAvatar"
      id = {{getChannelAvatarUri(channel)}}
      *ngFor="let channel of channelCollectionList"
      [class.removeBorder]="channel === channelCollectionList[channelCollectionList.length - 1]"
      lines="none"
    >
    <app-channelcollectionsitem
    style="width: 100%;"
    [channelCollection] = "channel"
    (clickMore) = "clickMore($event)"
    ></app-channelcollectionsitem>
    </ion-item>
    </ion-list>
</ion-content>
<app-nftloading
 *ngIf="isLoading"
 [loadingTitle] = "loadingTitle"
 [loadingText] = "loadingText"
 [loadingCurNumber] = "loadingCurNumber"
 [loadingMaxNumber] = "loadingMaxNumber"
>
</app-nftloading>
