<app-titlebar></app-titlebar>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
        <ion-refresher-content
          class="refresh"
          pullingText="{{'common.releaseToRefresh'|translate}}"
          spinner="src/assets/images/arrow-dropdown.svg"
          refreshingSpinner="circles"
          refreshingText="{{'common.beingRefresh'|translate}}">
        </ion-refresher-content>
      </ion-refresher>
    <app-channelcollectionsitem
    *ngIf="!isLoadingData"
    [channelCollectionList] = "channelCollectionsList"
    (clickMore) = "clickMore($event)"
    ></app-channelcollectionsitem>
</ion-content>
<app-nftloading
 *ngIf="isLoading"
 [loadingTitle] = "loadingTitle"
 [loadingText] = "loadingText"
 [loadingCurNumber] = "loadingCurNumber"
 [loadingMaxNumber] = "loadingMaxNumber"
>
</app-nftloading>
