<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>

<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">

      <!--- Feed HEADER --->
      <div class="server-header">
        <img class="headerImg" [src]="avatar"/>
        <h1>{{ name }}</h1>
        <p>{{des}}</p>
      </div>

      <ion-row class="detail-row">
        <ion-col size="12" class="left-col">
            <h1>{{'CreatenewfeedPage.name'|translate}}</h1>
            <h2>{{name}}</h2>
        </ion-col>
      </ion-row>

      <ion-row class="detail-row">
        <ion-col size="12" class="left-col">
            <h1>{{'CreatenewfeedPage.description'|translate}}</h1>
            <h2>{{des}}</h2>
        </ion-col>
      </ion-row>

      <ion-row class="detail-row">
        <ion-col size="12" class="left-col">
            <h1>{{'ServerInfoPage.did'|translate}}</h1>
            <h2>{{serverInfo['did']}}</h2>
        </ion-col>
      </ion-row>

      <ion-row class="detail-row removeBorder">
        <ion-col size="12" class="left-col">
            <h1>{{'ServerInfoPage.feedsSourceQRCode'|translate}}</h1>
            <div class="qr-container">
              <div class="qrcode">
                <qrcode [qrdata]="qrcodeString" [size]="150" [level]="'M'"></qrcode>
              </div>
            </div>
        </ion-col>
      </ion-row>

      <div style="margin-left: 34px; margin-right: 34px; margin-top: 25px;" *ngIf="isOwer == 0">
        <ion-button style="margin-top: 25px;" expand="block" mode="ios" *ngIf="isPublic === ''" (click)="clickPublic()">
            <ion-label >{{'ServerInfoPage.public'|translate}}</ion-label>
        </ion-button>

        <ion-button style="margin-top: 25px;" expand="block" mode="ios" *ngIf="isPublic != ''"  (click)="unPublicFeeds()">
          <ion-label>{{'ServerInfoPage.unpublic'|translate}}</ion-label>
      </ion-button>
      </div>
  </ion-grid>
</ion-content>

