<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-activatable ripple profileCardBg0" (click)="editChannel()">
          <img class="profileFeeds"
             src="./assets/images/profile-feeds-logo.svg"
          />
          <img class="moremenu" *ngIf="isMine"
          src="./assets/images/editwhite.svg">
          <ion-row style="margin-top:20px;">
            <ion-col size=1>

            </ion-col>
            <ion-col size="2.5">
              <div class="feedAvatar">
                <img src={{avatar}}>
              </div>
            </ion-col>
            <ion-col size="8.5">
              <ion-card-title>{{name}}</ion-card-title>
              <ion-card-subtitle>{{des}}</ion-card-subtitle>
            </ion-col>
            <ion-col size=1></ion-col>
            <ion-col size=11>
              <ion-row class="sub-row">
                <img  [src]="!theme.darkMode ? './assets/images/darkmode/bubble2.svg' : './assets/images/darkmode/bubble2.svg'"> <br>
                <ion-label><span>{{ channelSubscribes }}</span> {{ 'common.followers' | translate }}</ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-row>
          <ion-col size="12" class="channel-btns-row">
            <ion-button *ngIf="!followStatus" class="unsubscribed" fill="outline" (click)="subscribe()">
              <ion-label>{{'SearchPage.follow' | translate}}</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>

            <ion-button *ngIf="followStatus" class="subscribed" (click)="unsubscribe()">
              <ion-label>{{ 'SearchPage.following' | translate }}</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>

           </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!followStatus">
      <ion-col size="12">
       <div class="bigCircle">
           <div class="smallCircle">
              <img src="./assets/images/lock.svg"/>
           </div>
       </div>
      </ion-col>

      <ion-col size="12" class="subscribeChannel">
        {{"ChannelsPage.subscribeChannel"|translate}}
      </ion-col>
    </ion-row>

    <ion-ripple-effect></ion-ripple-effect>

    <ion-row class="detail-row" *ngIf="followStatus">
      <ion-col size="12" class="left-col">
          <h1>{{'FeedinfoPage.feeds'|translate}}</h1>
          <h2>{{name}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="detail-row" *ngIf="followStatus">
      <ion-col size="12" class="left-col">
          <h1>{{'CreatenewfeedPage.description'|translate}}</h1>
          <h2>{{des}}</h2>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="detail-row">
      <ion-col size="12" class="left-col">
          <h1>{{'FeedinfoPage.updatetime'|translate}}</h1>
          <h2>{{handleTime(updatedTime)}}</h2>
      </ion-col>
    </ion-row> -->

    <ion-row class="detail-row" *ngIf="followStatus">
      <ion-col size="12" class="left-col">
          <h1>{{'IssuecredentialPage.elaaddress'|translate}}</h1>
          <h2>{{elaAddress|translate}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="detail-row" *ngIf="developerMode&&followStatus">
      <ion-col size="12" class="left-col">
          <h1>NodeId</h1>
          <h2>{{nodeId}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="detail-row" *ngIf="developerMode&&followStatus">
      <ion-col size="12" class="left-col">
          <h1>{{'ServerInfoPage.version'|translate}}</h1>
          <h2>{{severVersion}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="detail-row" *ngIf="developerMode&&followStatus">
      <ion-col size="12" class="left-col">
          <h1>{{'ServerInfoPage.did'|translate}}</h1>
          <h2>{{serverInfo['did']}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="detail-row removeBorder" *ngIf="followStatus">
      <ion-col size="12" class="left-col">
          <h1>{{'DiscoverfeedinfoPage.feedsQrcode'|translate}}</h1>
          <div class="qr-container" (click)="showPreviewQrcode(qrcodeString)" (press)="menuMore(qrcodeString)">
            <div class="qrcode">
              <qrcode [qrdata]="qrcodeString" [size]="150" [level]="'M'" allowEmptyString="true"></qrcode>
            </div>
          </div>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>