<div [class.darkContainer]="theme.darkMode">
<div class="post-from-text-div post-from-text-div-dark">
  <div class="post-from-text white">
    {{'PostfromComponent.des'|translate}}
  </div>

  <div class="line">

  </div>
  
  <div class="list">
    <div *ngFor="let channel of channels let i=index" [class.darkContainer]="theme.darkMode">
    <div class="channel-img-small-div" (click)="selectChannel(channel.nodeId,channel.id)">
      <div class="channel-img-small">
        <ion-avatar >
          <img  src={{parseAvatar(channel.avatar)}}>
        </ion-avatar>
      </div>
      
      <div class="channel-detail-div">
        <div class="channel-detail-text-div">
          <div style="height: 100%; vertical-align: middle;"> 
            <ion-label class="ellipsis channel-title-small white">{{channel.name}}</ion-label>
          </div>
          <div >
            <img src="../../../../assets/images/bubble2.svg" class="bubble">
            <ion-label class="channel-follower2">{{handleClientNumber(channel.nodeId)}} {{'common.followers'|translate}}</ion-label>
            
          </div>
        </div>
      </div>
      </div>
      <div class="line" *ngIf="i!=channels.length-1">
      </div>
    </div>
    <div class="arrow-down arrow-down-dark"></div>
</div>

</div>
