
.post-from-text-div{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
.post-from-text{
    width: 100%;
    height: 42px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    
    color: #161740;

    margin-top: 30px;
    text-align: center;
}