<ion-content>
    <ion-grid class="container" [class.darkContainer]="theme.darkMode">
      <h1>Support Feeds</h1>
      <p>{{'DonationPage.description' | translate}}</p>
      <h2>{{ 'common.des4'|translate }}</h2>
      <h3 (click)="clickAddress()">{{ elaAddress }}</h3>
      <ion-row class="btn-row">
        <ion-button (click)="donation()">
          <ion-label>
            {{ "HomePage.exploreFeeds" | translate }}
          </ion-label>
        </ion-button>
      </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-content class="ion-padding" [class.darkContainer]="theme.darkMode">

  <ion-grid class="bg darkbg">
      <ion-row>
        <ion-col size="12">
          <p>{{'DonationPage.description' | translate}}</p>
        </ion-col>

        <ion-col size="12">
          <p>{{'common.des4'|translate}}</p>
          <p style="font-weight: 600;" (click)="clickAddress()">{{elaAddress}}</p>
        </ion-col>
      </ion-row>
  </ion-grid>
  
  <div style="margin-top: 20px;" (click)="donation()">
    <ion-button expand="block">
      {{'DonationPage.donation' | translate}}
    </ion-button>
  </div>
  
</ion-content>
 -->


