<ion-content class="padding">
    <!-- <img [src]="posterImg"/> -->
    <vg-player style="width: 100%;height:300px" *ngIf="flieUri">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
    
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
    
        <vg-controls [vgAutohide]="true">
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
    
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <vg-mute></vg-mute>
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
     
    <video #media [vgMedia]="media" id="singleVideo" preload="auto"
    poster=""
    playsinline webkit-playsinline>
    <source [src]="flieUri" [type]="videotype">
    </video>
  </vg-player>

  
   <p *ngIf="uploadProgress>0" style="text-align: center;">视频加载中({{uploadProgress}})............</p>
   <!-- <ion-progress-bar [value]="uploadProgress" *ngIf="uploadProgress>0"></ion-progress-bar> -->
   <ion-button (click)="browsevideo()" style="margin-top: 30px;">
    browsevideo
   </ion-button>

   <ion-button (click)="videorecord()">
    recordvideo
   </ion-button>
</ion-content>
