.container{
  .disclaimerTitle{
     display:flex;
     justify-content:center;
     p{
        margin-bottom: 0px;
     }
  }

  .des{
    margin-top: 0px;
    font-size: 16px;
  }

  .des1{
    margin-top:0px;
    font-size: 14px;
    font-weight: normal;
  }
}

.darkContainer{

}