.label{
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    vertical-align: middle;
}

.icon{
    margin-left:10px;
    vertical-align: middle;
    font-size:28px; 
}

.bottom-border{
    padding-bottom: 16px;
    border-bottom: 1px solid  rgba(34, 34, 34, 0.07);
}

.darkContainer{
  .white{
      color: #ffffff;
  }
}
