<ion-grid [class.darkContainer]="theme.darkMode">
  <ion-row>
    <ion-col size="12" class="bottom-border dark-bottom-border" (click)="edit()">
      <ion-img src="./assets/images/darkmode/ios-edit.svg" class="icon" *ngIf="theme.darkMode"></ion-img> <ion-img src="./assets/images/ios-edit.svg" class="icon" *ngIf="!theme.darkMode"></ion-img><span class="label white">{{  getEditKey()  | translate }}</span>
    </ion-col>
    <ion-col size="12" class="bottom-border dark-bottom-border" (click)="remove()">
      <ion-img src="./assets/images/darkmode/ios-detle.svg" class="icon1" *ngIf="theme.darkMode"></ion-img><ion-img src="./assets/images/ios-detle.svg" class="icon1" *ngIf="!theme.darkMode"></ion-img><span class="label white">{{ getdeleteKey() | translate}}</span>
      </ion-col>
    </ion-row>
</ion-grid>
