.label{
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    vertical-align: middle;
}

.icon{
    //margin-left:10px;
    vertical-align: middle;
    width: 28px;
    height:28px;
    display:inline-block;
    margin-right: 5px;
}

.icon1{
    margin-left:-3px;
    vertical-align: middle;
    width: 28px;
    height:28px;
    display:inline-block;
    margin-right: 7px;
}

.bottom-border{
    text-align: left;
    padding-bottom:8px;
    border-bottom: 1px solid  rgba(34, 34, 34, 0.07);
}
.darkContainer{

    .dark-bottom-border{
        border-bottom: 1px solid #ffffff;
    }

    .white{
          color: #ffffff;
    }
}


