<ion-content class="ion-padding" [class.darkContainer]="theme.darkMode">
<div class="first white">
     {{'ScanqrcodePage.introduce'|translate}}
</div>
<div class="second">
   <div class="introduce"> {{'ScanqrcodePage.introduce1'|translate}}</div>
   <div class="introduce"> {{'ScanqrcodePage.introduce2'|translate}}</div>
   <div class="introduce">{{'ScanqrcodePage.introduce3'|translate}}</div>
</div>

<div class="three" (click)="scanService()">
    <div class="left">
      {{'ScanqrcodePage.introduce4'|translate}}
    </div>
    <div class="right">
       <ion-img src="./assets/images/scan.svg"></ion-img>
   </div>
</div>
</ion-content>
