<app-titlebar></app-titlebar>
<div *ngIf="connectionStatus == 1" class="offline-header"></div>
<ion-content class="container" [class.darkContainer]="theme.darkMode" [class.content]="!theme.darkMode">
      <ion-grid>
         <h1 *ngIf="bindPublisherAccountType==='new'">
           {{ 'ScanqrcodePage.introduce4' | translate }}
        </h1>
        <h1 *ngIf="bindPublisherAccountType==='exit'">
           {{ 'ScanqrcodePage.introduce5' | translate }}
        </h1>
        <h2 *ngIf="bindPublisherAccountType==='new'">
           {{ 'ScanqrcodePage.introtitle' | translate }}
        </h2>
        <h2 *ngIf="bindPublisherAccountType==='exit'">
           {{ 'ScanqrcodePage.introduce6' | translate }}
        </h2>
         <p>
           {{'ScanqrcodePage.introduce1'|translate}}
        </p>
        <div class="displayUrl">http://localhost:10080</div>
        <img src="./assets/images/connect.svg">

        <ion-row class="btn-row">
           <ion-button class="confirm" (click)="scanService()">
             <ion-label>{{'ScanqrcodePage.introduce3'|translate}}</ion-label>
           </ion-button>
        </ion-row>

        <ion-row class="btn-row btn-row-back" *ngIf="bindPublisherAccountType==='new'">
           <ion-button class="createLater" (click)="createLater()">
             <ion-label>{{'ScanqrcodePage.introduce2'|translate}}</ion-label>
           </ion-button>
        </ion-row>

        <ion-row class="btn-row btn-row-back" *ngIf="bindPublisherAccountType==='exit'">
           <ion-button class="createLater" (click)="createLater()">
             <ion-label>{{'ScanqrcodePage.cancel'|translate}}</ion-label>
           </ion-button>
        </ion-row>
      </ion-grid>
</ion-content>