<ion-toolbar>
    <ion-title>{{_title}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button text="">
        </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="minimize()" *ngIf="showMinimize">
            <ion-icon slot="icon-only" name="apps"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="close()" *ngIf="showClose">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>