<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>
<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <!--- SERVER HEADER --->
    <div class="server-header">
      <img class="headerImg" [src]="feedInfo['feedsAvatar']"/>
      <h1>{{feedInfo['name'] }}</h1>
      <p>{{feedInfo['description']}}</p>
    </div>

      <!--- SERVER DETAILS --->

        <ion-row class="detail-row">
          <ion-col size="12" class="left-col">
              <h1>{{'ServerInfoPage.name'|translate}}</h1>
              <h2>{{feedInfo['name']}}</h2>
          </ion-col>
        </ion-row>

        <ion-row class="detail-row">
          <ion-col size="12" class="left-col">
              <h1>{{'ServerInfoPage.introduction'|translate}}</h1>
              <h2>{{feedInfo['description']}}</h2>
          </ion-col>
        </ion-row>

        <ion-row class="detail-row">
          <ion-col size="12" class="left-col">
              <h1>{{'ServerInfoPage.did'|translate}}</h1>
              <h2>{{feedInfo['did']}}</h2>
          </ion-col>
        </ion-row>

        <ion-row class="detail-row removeBorder">
          <ion-col size="12" class="left-col">
              <h1>{{'ServerInfoPage.feedsSourceQRCode'|translate}}</h1>
              <div class="qr-container">
                <div class="qrcode">
                  <qrcode [qrdata]="qrcodeString" [size]="150" [level]="'M'"></qrcode>
                </div>
              </div>
          </ion-col>
        </ion-row>

        <div style="margin-left: 34px; margin-right: 34px; margin-top: 25px;" *ngIf="status ==='0'">
          <ion-button style="margin-top: 25px;" expand="block" mode="ios">
            <ion-label>{{'common.followers' | translate}}</ion-label>
          </ion-button>
        </div>

        <div style="margin-left: 34px; margin-right: 34px; margin-top: 25px;" *ngIf="status ==='1'">
          <ion-button style="margin-top: 25px;" expand="block" mode="ios" (click)="checkDid('subscribe')">
            <ion-label>{{'common.followers' | translate}}</ion-label>
          </ion-button>
        </div>

        <div style="margin-left: 34px; margin-right: 34px; margin-top: 25px;" *ngIf="status ==='2'">
          <ion-button style="margin-top: 25px;" expand="block" mode="ios" (click)="checkDid('unsubscribe')">
            <ion-label>{{'common.unsubscribe' | translate}}</ion-label>
          </ion-button>
        </div>
  </ion-grid>
</ion-content>
