<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<ion-content [class.content]="!theme.darkMode">
  <div [class.slide]="!theme.darkMode" [class.darkSlides]="theme.darkMode">
   <ion-grid>
     <ion-row class="header-row">
       <ion-col size="12">
         <img src="./assets/images/Feeds-logo-signin.svg"/>
         <p>{{'SigninPage.des10'| translate}}</p>
       </ion-col>
     </ion-row>
</ion-grid>
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid class="slide">
    <ion-row class="btn-row btn-row-bottom" (click)="signIn()">
     <ion-button>
       <ion-label>
          {{ "SigninPage.signIn"| translate }}
       </ion-label>
     </ion-button>
   </ion-row>
   </ion-grid>
</ion-footer>