.signbtn {
    position: absolute;
    width: 80%;
    height: 45px;
    left: 10%;
    top:calc(50% - 22.5px) !important;
    font-weight: 500;
    font-size: 16px;
}

.top-110{
  margin-top:100.9px;
}

.top-25{
  margin-top:35.6px;
}

.feeds{
  padding:0px;
  margin: 0px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  text-align:center;
  color: #000000;
}

.feedslogo{
  width: 97.7px;
  height: 92px;
  margin: 0 auto;
  margin-top:67.9px;
}

.desktop {
  padding:0px;
  margin: 0px;
  margin-top:5px;
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.darkContainer{
  .white{
   color:#ffffff;
  }
}
