ion-slides{
  --bullet-background:#7624fe;
  --bullet-background-active:#7624fe;
}

.content{
  --ion-background-color: #F1E9FF;
}

.slide {
  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;

    .header-row {
      margin-top: 100px;
      ion-col {
        img {
          display: flex;
          width: 166.56px;
          height: 111px;
          margin: 0 auto;
        }

        p {
          margin: 0px;
          margin-top: 50px;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }

  }

}

.btn-row-bottom{
  margin-bottom: 115.13px
}

.darkSlides {
  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;

    .header-row {
      margin-top: 100px;
      ion-col {
        img {
          display: flex;
          width: 166.56px;
          height: 112px;
          margin: 0 auto;
        }

        p {
          margin: 0px;
          margin-top: 50px;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          text-align: center;
          color: #ffffff;
        }
      }
    }

  }
  }