<ion-content>
  <app-titlebar></app-titlebar>
  <ion-slides #slide pager="true" [class.darkSlides]="theme.darkMode">

    <ion-slide class="slide">
      <ion-grid>

        <ion-row class="header-row">
          <ion-col size="12">
            <img src="assets/images/feeds-logo.svg"/> 
            <h1>{{ "SigninPage.feeds" | translate }}</h1>
          </ion-col>
        </ion-row>
  
        <ion-row class="intro-row">
            <ion-col size="12">
              <p class="desktop white">{{ "SigninPage.des" | translate }}</p>
              <p class="desktop white">{{ "SigninPage.des1" | translate }}</p>
            </ion-col>
        </ion-row>
  
        <ion-row class="btn-row">
          <ion-col size="12">
            <ion-button expand="block" color="primary" (click)="signIn()">
              {{ "SigninPage.signIn" | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="learnmore-row" (click)="learnMore(slide)">
          <ion-label>{{"SigninPage.des2"|translate}}</ion-label>
        </ion-row>

      </ion-grid> 
    </ion-slide>

    <ion-slide class="slide2">
      <ion-card class="onboard-card">
        <img src='assets/onboard/slide1.svg'>
        <ion-card-title>
        {{"SigninPage.des3"|translate}} <br>
        </ion-card-title>
        <ion-card-subtitle>
          {{"SigninPage.des4"|translate}} <br>
          {{"SigninPage.des5"|translate}} <br>
          {{"SigninPage.des6"|translate}} <br>
        </ion-card-subtitle>
      </ion-card>
      <ion-row class="btn-row" (click)="signIn()">
        <ion-button>
          <ion-label>
             {{ "SigninPage.signIn"| translate }}
          </ion-label>
        </ion-button>
      </ion-row>
    </ion-slide>

  </ion-slides>
</ion-content>
