<ion-content>
  <app-titlebar></app-titlebar>
  <div *ngIf="connectionStatus == 1" class="offline-header"></div>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <h1>{{'StartbindingPage.introduce'|translate}}</h1>
    <div *ngIf="feedsUrl === '-1'">
      <p>{{ 'StartbindingPage.introduce1' | translate }}</p>
      <h2>{{ 'StartbindingPage.introduce2' | translate }}</h2>
      <h3 (click)="scanService()">{{ nonce }}</h3>
    </div>
    <div *ngIf="feedsUrl !== '-1'">
      <p>{{ 'StartbindingPage.linkServer' | translate }}</p>
      <h2>{{ 'StartbindingPage.introduce3' | translate }}</h2>
      <h3 (click)="scanService()">{{ feedsUrl }}</h3>
    </div>
    <ion-row class="btn-row">
      <ion-button class="confirm" (click)="confirm()">
        <ion-label>{{'StartbindingPage.confirm'|translate}}</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="btns-row">
      <ion-col class="btn cancel ion-activatable ripple" size="8.5" (click)="abort()">
        <ion-label>{{'StartbindingPage.abort'|translate}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


