<ion-content>
  <div>
     {{'StartbindingPage.des'|translate}}
  </div>
  <div style="color: #ff0000; text-align: center; width: 100%; padding-top: 30px; padding-bottom: 30px;" >
    {{nonce}}
  </div>
  <ion-button shape="round" expand="full" (click)="confirm()">{{'StartbindingPage.confirm'|translate}}</ion-button>
  <ion-button shape="round" expand="full" (click)="abort()">{'StartbindingPage.abort'|translate}}</ion-button>
  <!-- <ion-button shape="round" expand="full" (click)="test()">test</ion-button> -->

</ion-content>
