// ion-header {
//     position: sticky;
//     top: 0;

    ion-row {
        width: 100%;
        //margin-top: 5px;
        padding: 7.5px 2.5px;

        ion-col {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;

            img {
                height: 24px;
                width: 24px;
            }

            ion-icon {
                height: 30px;
                width: 30px;
                color: #000000;
            }

            ion-title {
                font-family: 'Montserrat';
                font-size: 20px;
                font-weight: 700;
                text-align: left;
                padding: 0;
            }

            .badge {
                position: relative;

                .red-dot {
                    height: 10px;
                    width: 10px;
                    background: red;
                    border-radius: 100%;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }

.light-header{
    background-color:#FFFFFF;
    color:#000000;
}

.light-header1{
    background-color:#f1e9ff;
    color:#7624fe;
}
.dark-header {
    background-color:#161C24;
    color:#ffffff;
}

.dark-header1 {
    background-color:#161C24;
    color:#7624fe
}

.hidden {
    visibility: hidden;
}