<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="{{'SearchPage.searchFeeds'|translate}}" (ionInput)="getItems($event)"></ion-searchbar>
  <div *ngIf="channelList.length == 0" [class.darkContainer]="theme.darkMode">
    <div class="center-content" >
      <div style="text-align: center; ">
        <img src="./assets/images/empty-feeds-icon.svg">
      </div>
      <div class="all-empty" style="margin-top: 20px;">{{'common.allempty'|translate}}</div>
      <div class="all-empty-content-text" style="margin-top: 7px;">{{'SearchPage.emptyDes'|translate}}</div>
      <div class="addfeedssource" (click)="addfeedssource()">{{"SearchPage.addfeedssource"|translate}}</div>
    </div> 
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'common.pullToRefresh'|translate}}"
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let channel of channelList let i=index" [class.darkContainer]="theme.darkMode">
      <ion-grid>
        <ion-row>
          <ion-col  
            (click)="navTo(channel.nodeId, channel.id)"
            size="2.25"
            size-lg="2.25"
          >
            <!-- <img-loader [src]="getAppIcon(app)" useImg></img-loader> -->
            <div class="channel-img-small">
              <ion-avatar class="avatar-div" style="position: relative;">
                <div class="feed-source-card-status circlePosition">
                  <div class="online-circle"  *ngIf="nodeStatus[channel.nodeId] == 0"></div>
                  <div class="offline-circle" *ngIf="nodeStatus[channel.nodeId] == 1"></div>
                </div>
                <img  src={{parseChannelAvatar(channel.avatar)}}>
              </ion-avatar>
            </div>

          </ion-col>
          <ion-col
            (click)="navTo(channel.nodeId, channel.id)"
            size="6"
            size-xs="6"
            class="node-content"
          >
            <div >

              <div style="
              width:150px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display:inline-block;

              height: 20px;
              font-family: Montserrat;
              font-size: 17px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.18;
              letter-spacing: normal;
              text-align: left;" class="black white" (press)="pressName(channel.name)"> {{moreName(channel.name)}} </div>

              <div style="display: flex; margin-top: 3px">
                <img style="  width: 18.1px;
                height: 14.7px;" src="./assets/images/bubble2.svg" >
                <div style="  
                margin-left: 3px;
                width: 150px;
                height: 18px;
                font-family: MontserratSemiBold;
                font-size: 11px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.27;
                letter-spacing: normal;
                text-align: left;
                color: #a0a2c4;">{{channel.subscribers}} {{'common.followers'|translate}}</div>
              </div>
              
            </div>

          </ion-col>
          <ion-col size="3.75" size-xs="3.75" class="btn-container">
            <ion-button class="follow-style" fill="outline"   (click)="subscribe(channel.nodeId, channel.id)" *ngIf="!channel.isSubscribed">
              <ion-label>{{'SearchPage.follow' | translate}}</ion-label>
            </ion-button>

            <ion-button class="following-style" (click)="unsubscribe(channel.nodeId, channel.name, channel.id)" *ngIf="channel.isSubscribed">
              <ion-label>{{'SearchPage.following'| translate}}</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    <div class="line-div white-line"  *ngIf="i!=channelList.length-1"></div>

  </div>

  <div class="addfeedssource1" (click)="addfeedssource()" *ngIf="channelList.length > 0">{{"SearchPage.addfeedssource"|translate}}</div>

</ion-content>
