.empty-container {
  margin-top: 130px;
  justify-content: flex-start;
}

ion-searchbar {
    margin-top: 0;
    padding-right:0px;
}

.scanService{
  width: 22px;
  height:22px;
  position: absolute;
  top: 31px;
  z-index: 2;
}

.scanImage{
  width: 22px;
  height:22px;
  position: absolute;
  top: 31px;
  z-index: 2;
}

