.addfeedssource{
  width: 236px;
  height: 41px;
  border-radius: 9px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  background-color: #368bff;
  line-height: 41px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
}

.addfeedssource1{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #368bff;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}


ion-searchbar {
    margin-top: 0;
  }
  
  .feed-space {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .follow-div{
    vertical-align: middle; 
    float: right;
    width: 76.8px;
    height: 100%;
    border: solid 1px #368bff;
    // background-color: #368bff;

    border-radius: 30px;
  }

  .follow-text-div{
    vertical-align: middle; 
    text-align: center;
    display: inline-block; 

    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #368bff;
  }



  .follow-following-div{
    vertical-align: middle; 
    float: right;
    // top: calc(100% - 280px);

    width: 76.8px;
    // height: 100%;
    border: solid 1px #368bff;
    background-color: #368bff;

    border-radius: 30px;
  }

  .follow-following-text-div{
    vertical-align: middle; 
    text-align: center;
    display: inline-block; 

    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #fdfeff;
  }


  .node-content {
    display: flex;
    align-items: center;

      h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }

      p {
        font-size: 9px !important;
        font-weight: 500;
        color: #959595;
        margin: 0;
      }
  }


  .img-container {
    display: flex;
    justify-content: flex-end;
  }


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-label {
      font-size: 9px;
      font-weight: 700;
      padding: 0;
    }
  }

  .follow-style{
    --border-radius: 30px ;
    --box-shadow: none;
    --border-width: 1px;
    --color:#8888b0;
    --border-color:#8888b0;
    height: 25.6px;
    width: 80px;
    text-transform: none;
  }

  .following-style{
    --border-radius: 30px ;
    --box-shadow: none;
    // --border-width: 1px;
    // --color:#8888b0;
    // --border-color:#8888b0;
    height: 25.6px;
    width: 80px;
    text-transform: none;
  }

  .darkContainer{
    .white{
      color: #ffffff;
    }
    .white-line{
      background-color: rgba(45, 46, 77, 0.7);;
  }
  }

  .black{
    color: #000000;
  }
