.container {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    padding-bottom: 15px;
    .paytitle{
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        color: #7624fe;
        text-align:center;
        margin: 0px;
        margin-top: 10px;
    }

    .big{
        width: 150px;
        height: 150px;
        background-color: #F0E8FF;
        border-radius:50%;
        position: relative;

        img{
            position: absolute;
            width:125px;
            height:125px;
            left: 13px;
            top: 13px;
            border: 10px solid #D8C1FF;
            border-radius: 50%;
        }
    }

    .key{
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #000000;
        margin: 0px;
    }

    .value{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        border-radius:10px;
        background-color:#f6f5f6;
        color: #9ca0a4;
        padding-left:20px;
        padding-top: 10px;
        padding-bottom:10px;
        margin: 0px;
    }

    .borderbottom{
        border-bottom:1px solid #f5f4f8;
    }

    .Advancedsettings{
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align:center;
        color:#7624fe;
        margin:0px;
        margin-top: 20px;
    }

    .logo{
       display:flex;
       align-items: center;

       span{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        color: #000000;
        margin-right:2px;
       }

       img{
        margin-top: 2px;
       }
    }

    ion-input {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #9ca0a4;
      margin: 0;
      width: 100%;
      --padding-start: 15px;
      --padding-top: 11px;
    }
}

.darkContainer {
    background: #191a2f;

    .key{
      color: #ffffff;
    }

    .value{
      background-color:#2e2f4e;
    }

    .borderbottom{
       border-bottom:1px solid #2b2c49;
    }

    .logo{
        display:flex;
        align-items: center;

        span{
         color: #fff;
        }
    }

    ion-input {
      color: #8888b0;
    }
}