<ion-grid class="container" [class.darkContainer]="theme.darkMode">
  <ion-row>
    <ion-col size="12" class="paytitle">
       <p class="paytitle">{{ title }}</p>
    </ion-col>
    <ion-col size="12" style="display:flex;justify-content: center;">
           <img src={{imgBase64}} style="width:100%;height:170px;border-radius:10px;" id="nftThumbnail"/>
    </ion-col>
  </ion-row>
  <ion-row class="borderbottom">
    <ion-col size="12">
      <p class="key">{{ 'CollectionsPage.price' | translate }}</p>
    </ion-col>
    <ion-col size="8">
      <ion-input type="number" clearInput [placeholder]="'CollectionsPage.price' | translate" [(ngModel)]="amount" class="nameValue"></ion-input>
    </ion-col>
    <ion-col size="4" class="logo">
          <span>ELA/ETH</span> <img src="/assets/images/solidEla.svg" *ngIf="!theme.darkMode">
              <img src="/assets/images/darkmode/solidEla.svg" *ngIf="theme.darkMode">
    </ion-col>
    <ion-col size="12" *ngIf="menuType==='created' || menuType==='buy'">
      <p class="key">{{ 'DonationPage.amount' | translate }}</p>
    </ion-col>
    <ion-col size="12" *ngIf="menuType==='created' || menuType==='buy'">
      <ion-input type="number" clearInput [placeholder]="'DonationPage.enterAmount' | translate" [(ngModel)]="quantity" class="nameValue"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="btns-row" [class.dark-btns-row]="theme.darkMode" style="margin-top:20px;">
    <ion-col class="btn cancel2 ion-activatable ripple" size="5.6" (click)="cancel()">
      <ion-label>{{ 'common.cancel' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="confirm()">
      <ion-label>{{ 'common.confirm' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</ion-grid>
