
ion-grid {
    background:#494A49;
    height: 100%;
    .bg{
      height:540px;
      background:#ffffff;
      border-radius: 17px;
      overflow:auto;
      padding:0px 10px;
    }

    padding:10px 30px;

    .des {
        padding:0px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.7;
        font-size: 16px;
        color: #161740;
    }
}
