.des{
    margin: 30px 0;
    text-indent: 2em;
    font-size: 15px;
    line-height: 1.7;
}

.cancel{
    display:inline-block;
    width: 130px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#8888b0;
    border-radius:8px;
}

.confirm{
    display:inline-block;
    width: 130px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    height: 41px;
    line-height: 41px;
    background-color:#368bff;
    border-radius:8px;
}