<ion-header *ngIf="connectionStatus == 1">
    <div class="offline-header"></div>
</ion-header>
<ion-content>
    <div [class.darkContainer]="theme.darkMode">
        <div class="center-content-notification" *ngIf="notificationList.length == 0">
            <div>
                <div class="all-empty">{{'common.allempty'|translate}}</div>
                <div class="all-empty-content-text" style="margin-top: 16px;">{{'NotificationPage.emptyDes'|translate}}</div>
            </div>
        </div>
        <!-- <ion-list> -->
           <ion-item-sliding *ngFor="let notification of notificationList let i=index" (click)="navTo(notification)">
            <ion-item lines="none">
                    <!-- <img  src="assets/images/component-480-33@3x.png"> -->
                    <img *ngIf="avatar == ''" class="profile-img avatar-div" src="./assets/images/default-contact.svg">
                    <img *ngIf="avatar != ''" class="profile-img avatar-div" [src]="avatar">
                  <ion-row style="margin-left: 60px;margin-top:6px;">
                      <ion-col size="12" class ="channel-title-small white">
                        <span>{{moreName(notification.userName)}}</span> <span class="channel-ts1">{{handleDisplayTime(notification.time)}}</span>
                      </ion-col>
                      <ion-col size="12" class="notification-behavior">
                        {{notification.behaviorText}}   <span *ngIf="notification['readStatus']===1" class="online-circle" style="position: absolute;top:0px;right:10px"></span>
                      </ion-col>
                     
                      <ion-col size="12" style="padding-top: 0px;">
                        <pre class="notification-content notification-div  white">{{getNotificationContent(notification)}}</pre>
                      </ion-col>
                  </ion-row>
                
            </ion-item>
            
            <div class="line-div white-line" *ngIf="i!=notificationList.length-1"></div>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(notification)">  <ion-icon slot="icon-only" name="trash"></ion-icon> {{'common.delete' | translate}}</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
    </div>
</ion-content>