.notificationContainer {
    padding: 5px 0;

    ion-item {
        --background: transparent;
        --padding-top: 0px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin: 0 20px;

        ion-row {
            width: 100%;
            padding: 10px;
            border-bottom: 2px solid #f0f1ff;

            .left-col {
                display: flex;
                justify-content: center;
                align-items: flex-start; 
                
                img {
                    // width: 50px;
                    // height: 50px;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 1.25px solid #368bff;            
                }
            }

            .right-col {
                flex-direction: column;
                align-items: flex-start;

                h1, p, h2 {
                    margin: 0;
                }

                h1 {
                    font-size: 16px;
                    font-weight: 700;

                    span {
                        position: relative;
                        bottom: 1.5px;
                        font-size: 10px;
                        font-weight: 600;
                        color: #a0a2c4;
                    }
                }

                p {
                    font-size: 13px;
                    font-weight: 600;
                    margin: 5px 0;
                    color: #008cff;
                }

                h2 {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}

.darkContainer {
    ion-item {
        ion-row {
            border-bottom: 2px solid #2e2f4e;
        }
    }
}
