.empty-notifs {
    margin-top: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 22px;
        font-weight: 500;
        line-height: 2.42;
        letter-spacing: 1.2px;
        color: #8888b0;
        margin: 0;
    }

    p {
        font-size: 15px;
        font-weight: normal;
        line-height: 1.38;
        letter-spacing: 1.6px;
        color: #8888b0;
        margin: 0;
    }
}

.center-content-notification{
    width: 100%;
    margin-top: calc(50% + 64px);
}

.darkContainer{
    .channel-title-div .white{
            color: #ffffff;
    }

    .channel-desc-div .white{
        color: #ffffff;
    }

    .channel-detail-div .channel-detail-text-div .white{
        color: #ffffff;
    }

    .channel-post-div .white{
        color: #ffffff;
    }

    .white{
        color: #ffffff;
    }

    .white-line{
        background-color: rgba(45, 46, 77, 0.7);;
    }
}

.notification-behavior{
    position: relative;
    display:inline-block;
    margin-top: 3px;
    font-family: MontserratMedium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    // line-height: 2.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #008cff;
}

.notification-content{
    padding-top: 0px;
    margin-top: 0px;
    font-family: MontserratMedium;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    // line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #161740;
}

.notification-div{
    min-width: 100px;
    max-width: 200px;
    // max-width: calc(100% - 260px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // display:inline-block;
}


.avatar-div{
    position: absolute;
    left:0px;
    top:10px;
    width: 56px; height: 56px;
  
}

.channel-title-small{
    height: 20px;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #161740;
}

.channel-ts1{
    width: 10px;
    height: 14px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal; 
    color: #a0a2c4;
    margin-left: 5px;
    vertical-align: middle;
  }

