<ion-content>
    <div [class.darkContainer]="theme.darkMode">
        <div class="center-content-notification" *ngIf="notificationList.length == 0">
            <div>
                <div class="all-empty">{{'common.allempty'|translate}}</div>
                <div class="all-empty-content-text" style="margin-top: 16px;">{{'NotificationPage.emptyDes'|translate}}</div>
            </div>
        </div>

        <div *ngFor="let notification of notificationList let i=index">
            <div class="image-text-layout-div" >
                <ion-card-content class="ion-no-padding ion-no-margin">
                    <div class="image-text-div">
                       <ion-avatar class="avatar-div">
                        <!-- <img  src="assets/images/component-480-33@3x.png"> -->
                        <img *ngIf="avatar == ''" class="profile-img" src="assets/images/default-contact.svg">
                        <img *ngIf="avatar != ''" class="profile-img" [src]="avatar">
                        </ion-avatar> 

                       
                
                        <div class="text-div">
                            <div class="text1-div"> 
                                <ion-label class="channel-title-small white">{{notification.userName}}</ion-label>
                                <ion-label class="channel-ts"> - {{handleDisplayTime(notification.time)}}</ion-label>
                            </div>
                            <div> 
                                <ion-label class="notification-contnent">{{notification.behaviorText}}</ion-label>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </div>
            <div class="line-div white-line" *ngIf="i!=notificationList.length-1"></div>
        </div>

    </div>
</ion-content>