.notificationContainer {
    padding: 5px 0;

    ion-item {
        --background: transparent;
        --padding-top: 0px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin: 0 20px;

        ion-row {
            width: 100%;
            padding: 10px;
            border-bottom: 2px solid #f0f1ff;

            .left-col {
                display: flex;
                justify-content: center;
                align-items: flex-start; 
                
                img {
                    // width: 50px;
                    // height: 50px;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 1.25px solid #368bff;            
                }
            }

            .right-col {
                flex-direction: column;
                align-items: flex-start;

                h1, p, h2 {
                    margin: 0;
                }

                h1 {
                    font-size: 16px;
                    font-weight: 700;

                    span {
                        position: relative;
                        bottom: 1.5px;
                        font-size: 10px;
                        font-weight: 600;
                        color: #a0a2c4;
                    }
                }

                p {
                    font-size: 13px;
                    font-weight: 600;
                    margin: 5px 0;
                    color: #008cff;
                }

                h2 {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}

.darkContainer {
    ion-item {
        ion-row {
            border-bottom: 2px solid #2e2f4e;
        }
    }
}


/* .empty-notifs {
    margin-top: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 22px;
        font-weight: 500;
        line-height: 2.42;
        letter-spacing: 1.2px;
        color: #8888b0;
        margin: 0;
    }

    p {
        font-size: 15px;
        font-weight: normal;
        line-height: 1.38;
        letter-spacing: 1.6px;
        color: #8888b0;
        margin: 0;
    }
}

.center-content-notification{
    width: 100%;
    margin-top: calc(50% + 64px);
}

.darkContainer{
    .channel-title-div .white{
            color: #ffffff;
    }

    .channel-desc-div .white{
        color: #ffffff;
    }

    .channel-detail-div .channel-detail-text-div .white{
        color: #ffffff;
    }

    .channel-post-div .white{
        color: #ffffff;
    }

    .white{
        color: #ffffff;
    }

    .white-line{
        background-color: rgba(45, 46, 77, 0.7);;
    }
}

.notification-behavior{
    position: relative;
    display:inline-block;
    margin-top: 3px;
    font-family: MontserratMedium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    // line-height: 2.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #008cff;
}

.notification-content{
    padding-top: 0px;
    margin-top: 0px;
    font-family: MontserratMedium;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    // line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #161740;
}

.notification-div{
    min-width: 100px;
    max-width: 200px;
    // max-width: calc(100% - 260px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // display:inline-block;
}


.avatar-div{
    position: absolute;
    left:0px;
    top:10px;
    width: 56px; height: 56px;
  
}

.channel-title-small{
    height: 20px;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #161740;
}

.channel-ts1{
    width: 10px;
    height: 14px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal; 
    color: #a0a2c4;
    margin-left: 5px;
    vertical-align: middle;
  }

 */