<ion-header *ngIf="connectionStatus == 1">
    <div class="offline-header"></div>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
      <ion-refresher-content
        class="refresh"
        pullingText="{{'common.releaseToRefresh'|translate}}"
        pullingIcon="arrow-dropdown"
        refreshingSpinner="crescent"
        refreshingText="{{'common.beingRefresh'|translate}}">
      </ion-refresher-content>
    </ion-refresher>

      <!-------------------- NO FEEDS -------------------->
      <div *ngIf="feedList.length === 0&&!isLoading" class="empty-container">
        <img src="./assets/images/empty-feeds-icon.svg">
        <h1>{{ 'common.allempty'| translate }}</h1>
        <p>{{ 'DiscoverfeedPage.emptyDes' | translate }}</p>
      </div>

        <!-------------------- HAS FEEDS -------------------->
    <ion-grid class="feedSource-container" [class.darkContainer]="theme.darkMode">
      <!-------------------- SERVER FEEDS -------------------->
      <div class="source" *ngIf="feedList.length > 0">
          <ion-row
            class="item-row ripple ion-activatable"
            *ngFor="let item of feedList"
            (click)="clickItem(item)"
          >
            <ion-col size="2.75" class="left-col">
              <div class="feedAvatar">
                <img [src]="item.feedsAvatar">
              </div>
            </ion-col>
            <ion-col size="7.5" class="middle-col">
              <h1>{{item.name}}</h1>
              <ion-row>
                <img src="./assets/images/bubble2.svg"> <br>
                <p><span>{{ item.followers }}</span> {{ 'common.followers' | translate }}</p>
              </ion-row>
              <p>{{item.description}}</p>
              <p style="color:#368bff;font-weight:700;">{{handleStatus(item) | translate}}</p>
            </ion-col>
            <ion-col offset="0.5" size="1.25" class="right-col">
              <img src="assets/images/chevron-thin-right.svg">
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-row>
      </div>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        class="ion-padding-top"
        loadingSpinner="crescent"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

