.container {

  .loading{
    display: flex;
    justify-content: center;
    padding: 0px;
    img{
       width: 24px;
       height: 24px;
    }

    p{
        margin: 5px 0px;
    }
 }
  .nftusercircle{
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom:2px;
  }
  .switch{
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom:2px;
    width: 16px;
    height:16px;
  }
  .paddingBottom{
    padding-bottom: 206px;
  }
  .footer{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    background-color: rgba(255,255,255,0.9);
  }

   .my-custom-class {
    --background: #e5e5e5;
   }

    padding:0px 25px;
    padding-bottom: 20px;
    .removeBorder {
      border-bottom: none;
    }
    .bottomBorder{
      border-bottom: 1px solid #000000;
    }
    .btn-row1 {
      margin-top: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      height:36px;
      border-radius: 10px;

      ion-label{
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #ffffff;
      }
    }

    .detail-row {
      padding-top: 10px;
      padding-bottom: 0px;
        ion-col {
          padding: 0;
        }

        .right-col{
          ion-button{
            --background:#7624fe;
            --background-activated:#7624fe;
          }
        }

        .left-col {

          .bidfeedslogo{
            position: absolute;
            bottom:10px;
            left:10px;
          }

          .tip{
            position:absolute;
            right: 12px;
            top: 42px;
          }

          .tip1{
            position:absolute;
            right: 34px;
            top: 42px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #000000;
          }
          h1, h2 {
            margin: 0;
          }

          ion-input{
            --placeholder-color:#9ca0a4;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #9ca0a4;
            margin: 0;
            --padding-start:20px;
            word-break: break-all;
            margin-top:5px;
          }

          .assetsImg{
            width: 100%;
            // height: 180px;
            border-radius: 10px;
            margin-top: 10px;
            object-fit:contain;
          }

          h1 {
            width:100%;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            color: #000000;
            text-transform: capitalize;
            margin-bottom: 5px;
            margin-left: 2px;
          }

          h2 {
            margin: 5px 0 0;
            padding: 15px 20px 15px 10px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #9ca0a4;
            width: 100%;
            background-color: #f6f5f6;
            border-radius: 10px;
          }
        }

        .right-col {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
    }
    .server-header {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 17px;
      box-shadow: 0 3px 15px 0 #ededf0;
      background-color: #ffffff;
      margin-bottom: 10px;
      margin-top: 20px;

      ion-img {
        width: 56px;
        height: 56px;
        object-fit: cover;
      }

      h1 {
        margin: 0;
        padding: 15px 0px 7.5px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }

      p {
        margin: 0;
        padding-bottom: 15px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.8px;
        text-align: center;
        overflow: hidden;
      }

      .status-row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;

        .indicator {
          background-color: #cdcde6;
          border-radius: 100%;
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }

        .status {
          margin-right: 12.3px;
          margin-left: 4.1px;
          font-size: 11px;
          font-weight: 500;
          color: #cdcde6;
        }


        ion-img {
          width: 18.1px;
          height: 14.7px;
        }

        .users, .clientNumber {
          color: #a0a2c4;
        }

        .users {
          display: inline-block;
          font-size: 11px;
          font-weight: 500;
        }

        .clientNumber {
          display:inline-block;
          margin-left: 3.6px;
          margin-right: 3px;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .online {
        .indicator {
          background-color: #368bff;
        }

        .status, .users, .clientNumber {
          color: #368bff;
        }
      }
    }

    .btns {
      margin-top: 20px;
      ion-button{
        --background:#7624fe;
        --background-activated:#7624fe;
      }
      .btn-row {
        width: 100%;
        margin-top: 0px;

        ion-button {
          width: 95%;
        }
      }

      .delete-row {
        margin-top:0px;
      }
    }
}

.darkContainer {

  .footer{
    background-color: rgba(0,0,0,0.9);
  }

  .bottomBorder {
    border-bottom: 1px solid #2e2f4e;
  }

  .detail-row .removeBorder {
    border-bottom: none;
  }

  .detail-row{


    .left-col {
      .tip1{
        color:#fff;
      }

      ion-input{
        --placeholder-color:#9ca0a4;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        color: #9ca0a4;
        margin: 0;
        --padding-start:20px;
        word-break: break-all;
        margin-top:5px;
      }

      h1 {
        width:100%;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 5px;
        margin-left: 2px;
      }

      h2 {
        margin: 5px 0 0;
        padding: 15px 20px 15px 10px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        width: 100%;
        background-color: #2b2c49;
        border-radius: 17px;
      }
    }
  }

  .server-header {
    box-shadow: 0 3px 15px 0 #151626;
    background-color: #2e2f4e;
  }
}