<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <!--- contract Details -->
    <ion-row class="detail-row removeBorder">
      <ion-col size="12" class="left-col">
        <h1>{{ "AssetdetailsPage.asset" | translate}}</h1>
        <img src="./assets/images/profile-feeds-logo.svg" class="bidfeedslogo">
        <img src="{{assetUri}}" class="assetsImg"/>
      </ion-col>
    </ion-row>

    <div *ngFor="let contractDetail of contractDetails">
      <ion-row *ngIf="contractDetail.details" class="detail-row removeBorder">
        <ion-col size="12" class="left-col">
            <h1>{{ contractDetail.type | translate}}</h1>
            <h2 *ngIf="contractDetail.type === 'AssetdetailsPage.creator' || contractDetail.type === 'AssetdetailsPage.stickerContractAddress' || contractDetail.type === 'AssetdetailsPage.pasarContractAddress' || contractDetail.type === 'AssetdetailsPage.tokenID' || contractDetail.type === 'AssetdetailsPage.owner'; else inputid" (press)="copytext(contractDetail.details)" [style.touch-action]="'pan-y'">{{ contractDetail.details }}</h2>
            <ng-template #inputid>
              <h2>{{ contractDetail.details }}</h2>
            </ng-template>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="detail-row removeBorder" *ngIf="showType==='burn'">
      <ion-col size="12" class="left-col">
          <h1>{{ "BidPage.minimumBid" | translate}}</h1>
          <h2>{{ minimumBid }} ELA</h2>
      </ion-col>
    </ion-row>

    <ion-row class="detail-row removeBorder" *ngIf="showType==='burn'">
      <ion-col size="12" class="left-col">
          <h1>{{ "BidPage.currentBid" | translate}}</h1>
          <h2>{{ currentBid }} ELA</h2>
      </ion-col>
    </ion-row>



    <ion-row class="detail-row removeBorder" *ngIf="showType==='burn'">
      <ion-col size="12" class="left-col bottomBorder">
        <h1>{{ "BidPage.myBid" | translate}}</h1>
        <ion-input type="text" placeholder="{{'BidPage.bidPlaceholder'|translate}}" [(ngModel)]="bibAmount"></ion-input>
        <span class="tip1">ELA</span>
        <img class="tip" src="/assets/images/dashang.svg" *ngIf="!theme.darkMode">
        <img class="tip" src="/assets/images/darkmode/tip.svg" *ngIf="theme.darkMode">
      </ion-col>
    </ion-row>

      <!--- buy BUTTONS --->
      <div class="btns" *ngIf="showType==='burn'">
        <ion-row class="btn-row">
          <ion-button (click)="bid()" style="height:48px;">
            <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{'BidPage.bid' | translate}}</ion-label>
          </ion-button>
        </ion-row>
      </div>

     <!--- buy BUTTONS --->
     <div *ngIf="showType==='buy'&&accAddress!=null&&accAddress!=sellerAddress" style="height:160px"></div>
     <div class="footer" *ngIf="showType==='buy'&&accAddress!=null&&accAddress!=sellerAddress">
      <ion-row class="detail-row removeBorder" *ngIf="showType==='buy'">
        <ion-col size="12" class="left-col">
          <h1 style="text-align: center;">{{ "MintnftPage.nftfixedPrice" | translate}}</h1>
          <div style="text-align: center;color: #7624fe;font-size: 18px;font-weight: bold;margin-top: 13px;">{{ hanldePrice(fixedPrice) }} ELA <img style="vertical-align:middle;" src="assets/images/purpleblue.svg"/></div>
          <h6 style="text-align: center;font-size:10px;" *ngIf="usdPrice!=null">≈USD {{usdPrice}}</h6>
      </ion-col>
      </ion-row>
     <div class="btns" style="margin-bottom:0px;">
      <ion-row class="btn-row">
        <ion-button (click)="clickBuy()" style="height:48px;">
          <ion-label style="font-weight:bold;font-stretch:normal;font-style:normal;color:#ffffff;">{{'BidPage.buy' | translate}}</ion-label>
        </ion-button>
      </ion-row>
    </div>
  </div>
</ion-grid>
</ion-content>
<app-nftloading
 *ngIf="isLoading"
 [loadingTitle] = "loadingTitle"
 [loadingText] = "loadingText"
 [loadingCurNumber] = "loadingCurNumber"
 [loadingMaxNumber] = "loadingMaxNumber"
>
</app-nftloading>
