<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navToBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-title>Add trusted server</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf="connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <ion-toolbar>
    <ion-buttons *ngIf="connectStatus == 0" slot="end" padding class="header-btns">
        <ion-button  fill="clear" (click)="scanCode()">
            <ion-icon name='qr-scanner'> </ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-input *ngIf="connectStatus == 0" required type="text" placeholder="Enter Address" [(ngModel)]="address" ></ion-input>
  <ion-button *ngIf="connectStatus == 0" expand="block" (click)="addServer()">Add New Server</ion-button>

</ion-content>
