<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" padding class="header-btns" (click)="navToBack()">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-title>Add trusted server</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="offline-content" *ngIf="connectStatus != 0 ">
    <ion-label>disconnect</ion-label>
  </div>
  <!-- <ion-toolbar>
    <ion-buttons *ngIf="connectStatus == 0" >
        <ion-button  expand="block" (click)="scanCode()">
            <ion-icon slot="start" name='qr-scanner'> </ion-icon>
            <ion-label> Scan</ion-label>

        </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <div class="ion-padding" *ngIf="connectStatus == 0">
    <ion-button expand="block" mode="ios" (click)="scanCode()">
      <ion-icon name="qr-scanner" slot="start" ></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-button>
    <ion-label>or manual enter address</ion-label>

  </div>
  <ion-input class="ion-padding" *ngIf="connectStatus == 0" required type="text" placeholder="Source Address" [(ngModel)]="address" ></ion-input>
  <!-- <ion-button *ngIf="connectStatus == 0" expand="block" (click)="addServer()">Add New Server</ion-button> -->
  <div class="ion-padding" *ngIf="connectStatus == 0">
    <ion-button expand="block" mode="ios" (click)="addServer()">
      <ion-label>Add New Server</ion-label>
    </ion-button>
  </div>
</ion-content>
